[2012-04-17 18:56] mtigas opened #2 "[1.X][2.X] Connection occasionally times out and does not recover → app becomes unable to load sites"
**Workaround**: Force quit app (tap home to quit app, double-tap home, hold down on app icon in tray, and "delete" app) and then restart app.

---

Hard to recreate issue when running app for more than a few minutes.

Seems to happen regardless of if app has gone into background or if network has gone up/down. (In fact, app does send `HUP` to Tor in those circumstances, causing Tor to reload & bui

[2012-05-11 20:26] s-ol opened #10 "Allow file download or opening rich content in other apps"
Hi there!
Good work in The Browser! i'd love to take my PDFs and stuff with me. If you dont want/cant add a filemanager, an "open in..." button would be nice.

[2012-05-31 00:24] mtigas opened #13 "2.0: New UI via Endless Browser (was: tabbed browsing / firefox-ios UI?)"
Updated 2016-08-18: Progress is being made on a "tabbed browsing" interface, via totally-rewritten version of Onion Browser, based on https://github.com/jcs/endless Leaving this ticket open as a meta-ticket until that gets closer to release (and we get some public commits and some issues specific to the implementation).

[2012-09-01 08:12] sintime opened #20 ""New Identity" button clears history but visited links still get ":visited" CSS style"
As the title says.

Browser history / cache / cookies get cleared, but visited links still receive a CSS highlight for ":visited" (purple by default). This could be subject to crafty attacks, but the original script-based attack of this leak does not appear work on iOS Safari — http://ha.ckers.org/weird/CSS-history-hack.html — visited links on this page get proper highlight but do not end up in th

[2012-10-10 21:09] fpietrosanti opened #23 "Integrate Plugins/JS Applications to build new applications"
Hi,

is it possible to integrate browser plug-in or JS Application (as main UI) within Onion Browser?

For example, it would be a really cool idea to use Onion Browser to package other applications that just need a web view and tor integrated.

For example it would be possible to integrate:
- CryptoCat www.crypto.cat
- GlobaLeaks www.globaleaks.org

that both need to run as local javascript applic

[2013-06-14 14:30] vinnyx opened #28 "IP address"
**Developer note:** (mtigas) Onion Browser occasionally fails to connect to Tor after app initialization. I (developer) have not been able to reproduce this issue, but have since added Tor Check on the start page (similar to how Tor Browser Bundle double-checks the Tor connection as it's homepage) for the benefit of users.

----

**Original issue:** (vinnyx)

When onion connects it congratultes me

[2014-03-03 07:27] moronwed opened #34 "Certain Links not always responding"
Not the same issue as having to relaunch the browser to reconnect after sleep issue.

Basically, I've noticed some links will not trigger when clicked on. Images, links to other sites, etc. for example, on an image board the navigation/pagination may work, but the images themselves don't. Press and holding will sometimes allow copy of link, at which point I can paste into address bar, however some

[2014-05-09 16:21] John-Khart opened #42 "A few possible enhancements to Onion Browser"
Hi, and thanks for making and maintaining such a great app!

I would like to suggest a few features to add to the app:
1. Allow people to choose to configure bridges or directly connect to Tor before actually initiating the connection process, maybe through a dialog box popup.
2. Lock/broken lock icon to signify if a HTTPS page has insecure content or not.

Regards,
John-Khart

[2014-05-14 01:23] jlund opened #43 "Add support for pluggable transports (obfsproxy, meek, scramblesuit, etc)"
https://www.torproject.org/projects/obfsproxy.html.en

Ideally this functionality would be based on the new ScrambleSuit pluggable transport that is resistant to active probing attacks, but supporting the obfs3 pluggable transport would still be highly useful.

This would allow Onion Browser to be used in countries that are employing DPI to block/detect Tor connections, which are the countries tha

[2014-07-02 20:59] chrisballinger opened #45 "2.0: Use Tor.framework to decouple Tor build/run"
(_was "Decouple Tor management from AppDelegate"_ -mtigas)

It would be tremendously useful for other developers in this space if we could agree on a standard implementation for Tor on iOS that can be bundled more easily. I originally created [OnionKit](https://github.com/chatsecure/onionkit) as a way to "library-ify" your Tor management code, but I'm not particularly happy with it and your socket

[2014-09-05 21:06] chrisballinger opened #47 "WKWebView support"
There is a new API called [WKWebView](http://nshipster.com/wkwebkit/) that supports JIT and is now the same on iOS and OS X. It also supports user scripts via [WKUserScript](https://developer.apple.com/library/prerelease/mac/documentation/WebKit/Reference/WKUserScript_Ref/index.html) which could be helpful.

I am considering creating some sort of TORWebView subclass of WKWebView that transparently

[2014-10-29 05:12] lazzarello opened #53 "Open Home Page doesn't open home page"
In Share icon => Browser Settings => HOME PAGE

I set the value to https://duckduckgo.com

When I click Done and go to Share icon => Open Home Page

This URL does not load in the browser window.

[2015-03-10 03:25] mtigas opened #55 "Allow directly pasting many bridge lines in the bridges.torproject format"
Like the Tor Browser launcher, TAILS, etc.

Honestly should've done this from the start.

[2015-03-10 03:26] mtigas opened #56 "Allow scanning QR code to import bridge lines"
Since bridges.torproject.org spits out a decent QR code containing the bridge lines. Orbot supports this (and even supports displaying a QR code of Orbot's current bridge lines).

See also #55.

[2015-03-10 03:29] #34 closed

[2015-03-11 03:42] #55 closed

[2015-03-11 04:21] mtigas opened #57 "Allow bridge conf before app starts connecting"
Like Tor Browser Bundle (et al), we shouldn't start connecting to Tor right away. If a user needs bridges, this behavior is dumb/dangerous.

At the very least, AppDelegate should prompt user on first run whether they want to use Bridges.

[2015-03-11 05:02] #57 closed

[2015-03-12 04:18] mtigas opened #58 "Reproducible builds, better build/download verification, etc"
Part of this is a reminder to check activity on WhisperSystems/Signal-iOS#641.

---
### User download validation:

Given `OnionBrowser.app/`, everything inside other than `SC_Info` and `iTunes{Artwork,Metadata.plist}` will be identical among end users. Those files will vary from user-to-user — see [this comment](https://github.com/WhisperSystems/Signal-iOS/issues/641#issuecomment-78202740) for lot

[2015-03-12 04:20] #56 closed

[2015-03-27 11:37] umairali332 opened #59 "Tor client does not restarts after app awakes"
If I lock the device while Onion Browser application is running or in background and unlock device and launch the application it stops working. It shows an alert to exit the application.

Whereas there are some applications which use tor client but they don't have this behaviour. They sleep and awake successfully and start working without restarting. For example tor browser free iOS application. C

[2015-05-25 14:13] yasirmturk opened #60 "Is there Android open source browser available?"
Please share the link

[2015-05-25 18:10] iMstr commented on #60
https://guardianproject.info/apps/orbot this?

[2015-05-26 03:44] yasirmturk commented on #60
just wana know if it is the official version?

[2015-05-27 11:55] iMstr commented on #60
Orbot is supported by the Tor project.

[2015-05-27 12:09] yasirmturk commented on #60
great thanks

[2015-05-27 12:09] #60 closed

[2015-06-03 08:11] paragmajum opened #61 "Question on same-origin policy (SOP) across iframes"
Does `OnionBrowser`'s webkit implementation allow access to web preferences so that one can disable SOP across iframes that have different origins? Or is it just a view controller built over the standard iOS Webkit library?

[2015-07-04 22:37] dweebst opened #62 "using about:blank as Home Page"
when I enter "about:blank" for my homepage the browser automatically adds "http://" before "about:blank" resulting in page not found errors on each start up.

[2015-07-18 16:38] hdatma opened #63 "Please disable DOM localStorage and DOM sessionStorage (supercookies) if you can"

[2015-07-22 09:51] can16358p opened #64 "Building dependencies: libssl -> tar: Unrecognized archive format"
Hello,

I am following the procedure to build the dependencies but I'm stuck trying to build the dependencies. I've copied the latest repo and I'm executing:

canp:iOS-OnionBrowser-master Can$ bash build-libssl.sh
Downloading openssl-1.0.2a.tar.gz
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left

[2015-08-14 21:54] jcs commented on #63
These should already be disabled by trying hidden WebKit flags (not sure if these do anything anymore):

https://github.com/OnionBrowser/iOS-OnionBrowser/blob/master/OnionBrowser/OnionBrowser/AppDelegate.m#L75

and then injecting Javascript into the beginning of HTML/Javascript downloaded that redefines the global functions that other Javascript would need to use storage:

https://github.com/Onion

[2015-09-22 13:47] RustamDz commented on #59
That's because code in TorController.m:
- (void)appDidBecomeActive {
    if (![_mSocket isConnected]) {
        #ifdef DEBUG
        NSLog(@"[tor] Came back from background, sending HUP" );
        #endif
        [_mSocket writeString:@"SIGNAL HUP\n" encoding:NSUTF8StringEncoding];
        _torCheckLoopTimer = [NSTimer scheduledTimerWithTimeInterval:0.25f

[2015-09-28 22:21] hanmiltonxing commented on #64
Have you solved this? I met this too. Thank you.

[2015-09-29 11:20] can16358p commented on #64
@hanmiltonxing Nope, unfortunatelly not. It was not a mandatory project so I paused working on it. I'd be glad if someone solves it though so I can resume it.

[2015-09-29 22:46] hanmiltonxing commented on #64
Thanks.

[2015-10-22 23:32] mtigas commented on #63
Per @jcs comment, I've done everything I can to disable these features. Unfortunately, it does look like the browser ignores that preference (I think it *used* to work in earlier versions of iOS — and it seems to work in the current version of the simulator).

Interestingly, this evercookie test fails http://samy.pl/evercookie/ but other tests *just* for localstorage/sessionstorage http://dev-test

[2015-10-22 23:32] #63 closed

[2015-10-22 23:34] mtigas commented on #62
Fixed in upcoming version 1.5.13, submitted to App Store today.

[2015-10-22 23:34] #62 closed

[2015-10-22 23:37] mtigas commented on #64
This is normal behavior if your download failed (i.e. the download was removed). The build script will then obviously fail to unzip the file (because you downloaded an HTTP 404 and not the source tarball).

You can make the script try the download again by deleting the file from `build/src`.

You can also manually download the file from the OpenSSL site and place it in the `build/src` directory, e

[2015-10-22 23:37] #64 closed

[2015-10-23 00:39] mtigas commented on #61
It’s the latter. Unfortunately, iOS apps are still restricted from using anything other than UIWebView or WKWebView, which is very hard to override in terms of preferences like this.

(To wit, even Chrome uses the iOS UIWebView, but they also do implement their own network stack on top of it, which supports more advanced SSL ciphers such as [ECDHE-RSA-CHACHA20-POLY1305](https://www.imperialviolet.

[2015-10-23 00:39] #61 closed

[2015-10-30 22:47] #28 closed

[2015-10-30 22:47] #42 closed

[2015-10-30 22:48] #53 closed

[2015-10-30 22:50] mtigas commented on #59
@RustamDz THANK YOU for pointing out that mistake (i.e. that `activateTorCheckLoop` should be activated regardless of if `[_mSocket isConnected]`; only the HUP needs to be sent if not connected). I’m certain that this causes a lot of the grief regarding backgrounding in the app.

(Closing this, as it’s technically a dupe of #2.)

[2015-10-30 22:50] #59 closed

[2016-01-07 13:55] teor2345 opened #65 "Bridge Entry Screen "Continue Anyway" Doesn't Work"
When I don't want to enter any bridges on the bridge entry screen, and click "Save" or "Cancel", the "Continue Anyway" button returns me to the bridge entry screen. I have to restart the app to exit the bridge entry screen.

Steps To Reproduce:
1. Open Onion Browser
2. Open Settings
3. Open Bridge Entry Screen
4. Tap "Save" or "Cancel"
5. Tap "Continue Anyway"

[2016-03-11 20:22] hdatma opened #66 "http://ip-check.info"
The above site crashes the browser systematically.

**Added info**
... when blocking all active content (no crash when blocking Ajax/Media/WebSockets only).

[2016-03-11 22:43] JRock007 commented on #66
Thanks a lot for your feedback!
I just tested this website, and haven't been able to reproduce this bug on my testing devices. Which iOS version are you using?

[2016-04-04 04:13] mtigas commented on #43
Jumping back into this ol’ ticket.

Been working on this for the past few weeks, aiming to get [obfs4proxy](https://github.com/Yawning/obfs4) in, which supports obfs2, obfs3, obfs4, scramblesuit, and meek_lite (which is a version of [meek](https://trac.torproject.org/projects/tor/wiki/doc/meek)). The work is spread out a bit between [the iObfs repo](https://github.com/mtigas/iObfs) and the [Onion

[2016-04-15 12:32] dolar2006 opened #67 "how to get EntryNodes, namely IP country NODE"
how to get EntryNodes, namely IP country NODE?

[2016-05-04 12:08] ali-ht10 opened #68 "Building build-tor.sh with tor version 0.2.7.6 resulting in openssl linkable errors"
Hi,

I'm trying to build the 3 script files,**build-libssl.sh, build-libevent.sh and build-tor.sh**. libssl and libevent builds successfully. But when I build tor.sh, everytime it fails with this:
checking for openssl directory... configure: WARNING: Could not find a linkable openssl.  If you have it installed somewhere unusual, you can specify an explicit path using --with-openssl-dir.

I'm runni

[2016-05-04 19:13] mtigas commented on #68
The 0.2.7.6 patch you have puts a fix in `configure.ac` (which is used to generate the `configure` script), but the Onion Browser build script uses an already-built `configure` file which comes with Tor.

In your edited version of `build-tor.sh` can you run `autoconf` after where you perform your patch, like
[code]

You will need to have autoconf installed. (If you are using homebrew, you can do `

[2016-05-05 07:06] ali-ht10 commented on #68
Running autoconf did the trick.

I have a project in which I have to use the libraries generated from the build scripts. I added them into the project but now when I compiled it, there were alot of errors. E.g:
Undefined symbols for architecture x86_64:
  "_auth1_encode", referenced from:
      _connection_or_compute_authenticate_cell_body in libtor.a(connection_or.o)
  "_auth1_free", referenced f

[2016-05-05 17:33] mtigas commented on #68
Tor builds several helper libraries as part of Tor. The exact libraries depend on the version of Tor you want to build.

You can discover these yourself by commenting out `make clean`  in the middle of the build script, and the `rm` lines toward the end. The build script will probably crash fail after the first platform (since we don't clear the existing files), but you'll be able to see what is a

[2016-05-05 17:33] #68 closed

[2016-05-08 09:51] msc- commented on #2
Still happens on iOS 9. It is the biggest problem I have with OB. The friendlier error just makes one want to scream: "if they know about this, why don't they fix it?"

[2016-05-08 10:08] msc- opened #69 "Cloudflare recaptcha fails with OnionBrowser making many sites unusable"
When using Tor, a large number of sites, that are fronted by Cloudflare, force you to do an "I am not a robot" test depending on the Tor exit node you are using. These fail every time in OnionBrowser but work fine in TorBrowser on multiple platforms. Therefore the problem appears to be with OB. Here is what happens:

A page from Cloudflare appears saying a test is required to complete the connecti

[2016-05-31 03:41] Tuzr opened #70 "OpenSSL download path has changed"
I found that , in build-libssl.sh , at line 87
`curl -O http://www.openssl.org/source/openssl-${VERSION}.tar.gz`
This url does't exist from now.

It should be
`curl -O https://www.openssl.org/source/old/${VERSION}/openssl-${VERSION}.tar.gz`

The correct url is https://www.openssl.org/source/old/1.0.2g/openssl-1.0.2g.tar.gz (Version 1.0.2g)

[2016-05-31 17:45] #70 closed

[2016-05-31 17:49] mtigas commented on #70
Updated in master.

* Looks like the paths now use HTTPS all the time (yay).

* The latest version of OpenSSL actually does still live at the previous URL pattern; the script will continue to use that by default.

  Older patch-revisions do need that `/old/` bit added -- and I noticed that it's `/old/1.0.2/openssl-1.0.2g.tar.gz` (note that directory drops the patch-revision letter). For now, I've

[2016-06-03 09:44] Tuzr opened #71 "Singnal SIGPIPE break point, when debug executable"
When I debug the executable at Xcode ,
It will show break point like the pic below:
![2016-06-03 5 29 21](https://cloud.githubusercontent.com/assets/6936130/15775112/bbe271ea-29b2-11e6-8727-74349dd4707f.png)
And it will keep break, even step out.
Is that something wrong or it just working normally?
Thanks !

[2016-07-01 05:19] ali-ht10 opened #72 "Not receiving ReadCallback in ULINetSocket on first app launch"
Hi. When I do the fresh installation of the app, the first time, I dont receive **ReadCallback** in the **ULINetSocket**. Only the **Write and Connect Callbacks** are received. The tor doesnt connect and is stuck on **Rendering Tor Connection**.

But when I close the app and restart it, tor connects immediately. My question is, why tor doesnt connect the first time? And why do I receive the **Read

[2016-07-26 11:26] ali-ht10 opened #73 "Tor stuck on "Connecting to directory server" using IPv6"
Hi,
Tor doesn't connect at all when using **IPv6 network**. It's stuck on **Connecting to directory server**.

This was the console log,
**BOOTSTRAP PROGRESS=5 TAG=conn_dir SUMMARY="Connecting to directory server" WARNING="Network is unreachable" REASON=NOROUTE**

[2016-07-26 17:19] mtigas commented on #73
@ali-ht10
That's odd; on my cellular network (T-Mobile) it seems to connect fine, although that's possibly because I get both a "real" IPv4 and IPv6 address.

Can you try using the following custom bridge config lines:

[code]

Let me know if that works.

Unfortunately, IPv6 support in Tor is still somewhat limited; [software supports it pretty well now](https://trac.torproject.org/projects/tor/wi

[2016-07-26 17:51] chrisballinger commented on #73
Perhaps this is related to the NAT64/DNS64 thing in iOS 9.3.3? If your
cellular carrier only supports IPv6 the system will synthesize both an IPv6
address as well as also returning a non-functioning IPv4 (using
getaddrinfo). The trick is to prefer the v6 address when available, but
then it causes problems when v6 is unreachable, so to truly fix the problem
you need to attempt both v6 and v4 and th

[2016-07-26 18:14] ali-ht10 commented on #73
My ISP doesn't provide IPv6. So I had to setup local IPv6 using "Internet Sharing" option in my Mac. Do you think that could be the issue that it's not connecting?

[2016-07-26 18:19] ali-ht10 commented on #73
And I did try to edit torrc file by using a combination of **ClientUseIPv6, ClientUseIPv4, ClientPreferIPv6DirPort, ClientPreferIPv6ORPort** but unfortunately no luck.

[2016-07-27 05:17] ali-ht10 commented on #73
@mtigas
I changed the torrc file to this,
**UseBridges 1
bridge [2605:6400:2:fed5:22:0:4d5d:7061]:443 5006A6C6891B8A4D16BB0B753F3144662678F2F6
bridge [2001:41d0:8:b4cc::1]:44510 49C902DA4B1C512F67654975AFC253CEFD848DB3**,
Tor still didn't connect.

Do you think I also have to include the above mentioned, **ClientUseIPv6, ClientUseIPv4, ClientPreferIPv6DirPort, ClientPreferIPv6ORPort** along with t

[2016-07-29 17:49] mtigas commented on #73
@ali-ht10
Can you check http://test-ipv6.com/ and report the result that you get there? Curious to see what you get with your ISP and your local IPv6 sharing setting.

[2016-08-01 07:13] ali-ht10 commented on #73
No IPv6 address detected

Good news! Your current configuration will continue to work as web sites enable IPv6.

You appear to be able to browse the IPv4 Internet only. You will not be able to reach IPv6-only sites.

Your DNS server (possibly run by your ISP) appears to have IPv6 Internet access.

[2016-08-01 08:13] JRock007 commented on #73
Apple experienced this issue too :

I didn't get any more details unfortunately.

[2016-08-01 09:36] ali-ht10 commented on #73
I downloaded the Tor Browser from Tor's website and tried to use it using local IPv6. But it failed to connect.

[2016-08-01 17:16] mtigas commented on #73
@ali-ht10
It seems that your "local IPv6" setup does not allow you to actually _use_ IPv6 websites. ("No IPv6 address detected")

I get this with my ISP, which gives me both an IPv4 and IPv6 address:

[code]

On this ISP, I have success using Tor normally, and with the two IPv6 bridges I mentioned [above](https://github.com/mtigas/iOS-OnionBrowser/issues/73#issuecomment-235339966).

---

If you se

[2016-08-01 17:18] mtigas commented on #73
@JRock007
Per https://trac.torproject.org/projects/tor/wiki/org/roadmaps/Tor/IPv6 , the tor client previously only bootstrapped the initial connection on IPv4. The tor 0.2.8.X versions support this, but still don’t prefer IPv6 it seems (unless `ClientPreferIPv6ORPort 1` and `ClientPreferIPv6DirPort 1` are set).

In 0.2.8.X things _should_ just work (without the extra settings), but let me know if

[2016-08-04 16:35] JRock007 commented on #73
@mtigas I was already using a 0.2.8.X version of Tor, but I updated to 0.2.8.6 just in case.
Apple still reports the same issue, event with the ClientPreferIPv6ORPort 1 and ClientPreferIPv6DirPort 1 settings.

[2016-08-04 21:17] bigzaqui opened #74 "Allow some manual torrc configuration (for things like HidServAuth)"
Hi!

following the tutorial for hass https://home-assistant.io/cookbook/tor_configuration/ I got the Onion browser but can't find the way to add my authentication cookie, is this a missing feature?

[2016-08-05 05:09] allurewebsolutions opened #75 "Issue when running build"
After cloning, I run ./build.sh and get the following error:

Downloading openssl-1.0.2h.tar.gz
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0curl: (35) Unknown SSL protocol error in connection to www.openssl.o

[2016-08-05 17:49] mtigas commented on #75
@allurewebsolutions
What OS are you using? What version of curl is on your system (full output of `curl --version`)?

The OpenSSL site is HTTPS-only now and it [looks like](https://www.ssllabs.com/ssltest/analyze.html?d=www.openssl.org&s=194.97.150.234&hideResults=on) the SSL configuration of that site only supports TLS 1.1 and TLS 1.2, and some older tools (including anything linked against OpenS

[2016-08-05 18:25] mikedoubintchik commented on #75
I'm on OSX 10.11.6 using curl 7.43.0

[image: photo]

On Fri, Aug 5, 2016 at 1:49 PM, Mike Tigas notifications@github.com wrote:

[2016-08-08 19:05] mtigas commented on #75
That’s very odd. I'm on the same OSX version and same curl, and don’t seem to be having that issue.

[code]

Especially curious since `SecureTransport` in the version line means that curl is using the OSX crypto stack, not an OpenSSL or anything like that. So you and I _should_ be having the same result here.

Can you try to download manually via `curl -vv -O https://www.openssl.org/source/openssl

[2016-08-08 19:55] mikedoubintchik commented on #75
➜  Downloads curl -vv -O
https://www.openssl.org/source/openssl-1.0.2h.tar.gz
-   Trying 194.97.150.234...
  % Total    % Received % Xferd  Average Speed   Time    Time     Time
  Current
                                 Dload  Upload   Total   Spent    Left
  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--
  0\* Connected to www.openssl.org (194.97.150.234) port 443

[2016-08-08 20:35] mtigas commented on #75
Ah, looks similar to https://github.com/Homebrew/legacy-homebrew/issues/47546

Do you have another version of openssl that's maybe taking precedence? (What's the output of `which openssl`?)

According to that issue, you might need to update the Xcode Command Line Tools. Maybe.
* If you have Xcode, I'd just open the App Store and make sure that's up to date. Then ensure that you've opened the Xcode

[2016-08-09 21:00] mikedoubintchik commented on #75
I'm using: /usr/bin/openssl

According to the App Store I have xcode 7.3.1 and I've been using it quite
frequently lately.

On Mon, Aug 8, 2016 at 4:35 PM, Mike Tigas notifications@github.com wrote:

[2016-08-18 08:50] dolar2006 commented on #73
there is a solution to this problem?

[2016-08-18 16:36] fbender commented on #13
Would it be a good idea to re-implement the current Tor functionality into a fork of [mozilla/firefox-ios](https://github.com/mozilla/firefox-ios) or [brave/browser-ios](https://github.com/brave/browser-ios) (which itself builds upon firefox-ios)? That would free you from caring about building a browser and just focus on the Tor functionality (so rather similar to what the TorBrowser project does)

[2016-08-19 00:07] mtigas commented on #13
@fbender Both Firefox and Brave appear to use the newer WKWebView API, which in #47 we realized completely disallows us from using `NSURLProtocol` to intercept HTTP requests and route them through our Tor process.

That said, I'm actually working on a totally-rewritten Onion Browser 2.0 that is essentially a fork of https://github.com/jcs/endless for the exact reasons you mention. Lemme update thi

[2016-08-19 00:11] mtigas commented on #65
(This was fixed at some point during the 1.6 cycle.)

[2016-08-19 00:11] #65 closed

[2016-08-19 00:12] mtigas commented on #43
iObfs integration made it in when 1.6 was released this month.

https://github.com/mtigas/iOS-OnionBrowser/releases/tag/v1.6.0

[2016-08-19 00:12] #43 closed

[2016-08-19 00:15] mtigas commented on #45
Update on this: I've got some work in progress that's a fork of https://github.com/jcs/endless that's actually using https://github.com/iCepa/Tor.framework for this. Things are looking kind of good so far, hopefully I'll have a new public branch up soon.

[2016-08-19 00:18] mtigas commented on #74
Hi @bigzaqui: There isn't any way to manually edit the torrc, mainly because I was originally matching the way Tor Browser Bundle operates. I'm going to work on a way to allow *some* control over custom config lines for things like this in the future. (I use quite a few authenticated hidden services myself, just don't use them in Onion Browser at this point.)

[2016-08-19 07:50] fbender commented on #13
Good to know. But how does Google do it with their Chrome Browser? They are using their own network stack and should be using WKWebView as well. Maybe they reimplemented everything on top of raw TCP streams? That should be somewhere in the Chromium source code I presume …

[2016-08-19 17:10] mtigas commented on #13
A few folks and I actually thought about that. Looks like they *were* implementing their own network stack (which is how they had their Data Saver compression proxy and other neat things) in Chrome iOS, but at some point they updated to use WKWebView and stopped doing this.

https://support.google.com/chrome/answer/6323113

We interpret this this to mean that they ran into the same limitation with

[2016-08-19 19:15] chrisballinger commented on #13
I've had a radar open for this since April 15, 2015: http://www.openradar.me/radar?id=5547938658910208

No response from Apple.

[2016-08-20 20:07] jlund commented on #43
This is excellent news! Nice work on this! I'm adding support to Streisand now.

[2016-08-20 20:44] jlund commented on #43
[Done!](https://github.com/jlund/streisand/commit/15993fe27533515c38c1f9619b7d19ca92983e17) Thanks again to everyone involved who helped make this happen. It's a huge feature.

[2016-10-27 07:54] attzonko commented on #74
This would be great

[2016-10-27 15:57] attzonko commented on #74
I also have my home assistant instance as a .onion hidden site and would love to be able to get to it from my iOS devices by somehow setting 'HidServAuth'.  Would be happy to do any beta testing for a feature like that.

[2016-12-08 17:23] Drag11 commented on #73
Any updates on that?

[2016-12-13 15:43] orr721 opened #76 "App crashes immediately on iPad3/iOS 9.5.3 after last update"
I have tried resetting, reinstall, but no change. Before the last update it was working fine. I had to move to red browser.

[2016-12-13 20:02] mtigas commented on #76
Known issue; possibly due to a build issue that affects iPad/iPod touch or due to older iOS versions.

Crash data from Xcode (for users who've opted into reporting diagnostics & usage data):
[code]
Which hints at a linking/compiling issue at build time.

None of the devices I own show this issue — and none of the TestFlight beta testers had any crashing issues before I released 1.7.0 (over 300 ses

[2016-12-13 22:51] mtigas commented on #76
Looks like that didn’t do the trick.

@orr721 (and anyone else encountering this issue)

If you are willing, can you do the following for me to send me the crash report that your device creates:

* Open Settings
* Go to "Privacy"
* Go to "Diagnostics & Usage Data"
* Scroll down to one of the entries that begins with "Onion Browser"
* Pick the last "Onion Browser" one
* Copy all of the text, and pa

[2016-12-14 06:48] orr721 commented on #76
Hi, the hotfix did not fix the problem. This is the report:

{"bug_type":"109","os_version":"iPhone OS 9.3.5 (13G36)","build_version":"20161213.1","timestamp":"2016-12-14 07:43:47.47 +0100","app_name":"OnionBrowser","bundleID":"com.miketigas.OnionBrowser","name":"OnionBrowser","is_first_party":false,"app_version":"1.7.1","share_with_app_devs":true,"slice_uuid":"01245a27-7ab2-364e-9c6d-8d3a871d353b

[2016-12-14 19:00] digitalcohesion commented on #76
I have the same problem. I'll try to find time to download the project and run it on my phone from XCode to see if I can find out more.

[2016-12-14 20:16] mtigas commented on #76
After looking at some crash reports (like [the one above](https://github.com/mtigas/OnionBrowser/issues/76#issuecomment-266956837)), it seems that  it’s crashing on all 32bit armv7 devices. I think it’s due to an issue in the newer version of OpenSSL used in Tor.framework; a debug trace when tethered to Xcode shows the crash point (`_dyld_start ()` call) happening after `armv7_neon_probe` is calle

[2016-12-16 19:37] mtigas commented on #73
Looked into this some more; had a conversation at a Tor dev meeting in September about the right way to get this working. Essentially, if you're in IPv6-only mode, you must set `ClientUseIPv4 0` and `ClientUseIPv6 1` to totally disable attempting connections via IPv4. We have to catch this situatino in the app side; this does not happen in Tor.

Anyway, I’ll have an Onion Browser beta over the wee

[2016-12-16 19:40] mtigas commented on #76
Catching up back here:

Looking at it a couple nights ago, my guess seemed to be correct. Downgrading to OpenSSL 1.0.2 (from 1.1.0) seemed to work fine on an older 32bit iPhone. Released 1.7.2 based on this information; it became available in the App Store last night.

Based on recent e-mail feedback, it seems like the update does the trick.

Please comment here if you continue to get a crash-on-l

[2016-12-16 19:40] #76 closed, assigned to mtigas

[2017-01-11 10:29] LensionWu opened #77 "configure: error: cannot run C compiled programs."
when I compile i386 and x86_64,  it happen this error.But when I compile armv7 armv7s and arm64, it is fine.
My xcode is 8.1 and sdk is 10.1.

[Uploading config.log.txt…]()

[2017-01-21 16:32] JRomainG opened #78 "Screen not completely hidden by overlay in landscape"
When some devices enter background in landscape mode, the screen isn't entirely hidden by the image. This happens on devices which don't have a landscape overlay (iPhone 6, iPhone 5/5S/5C, iPhone 4/4S).

You could use the landscape image of another device and set the imageView's content mode to UIViewContentModeScaleAspectFill. However, this would crop part of the image, making the transition less

[2017-01-30 12:13] Andalore commented on #74
I am also using home assistant and would highly appreciate the feature for manual torrc configuration.

[2017-02-10 02:12] yuedong56 opened #79 "The project build fail in Xcode 8"
The project  build fail in Xcode 8

[2017-02-10 21:13] JRomainG commented on #79
Do you have any other information regarding the error?

This may happen if you didn't run "carthage update --platform iOS", which builds the Tor.framework dependency

[2017-02-14 05:21] mtigas opened #80 "[2.X] Basic tor configuration logic (import from Onion Browser 1.X)"
from 1.X branch, see torrc and the `updateTorrc` in AppDelegate. This one is mostly about the base torrc, however. See #82 regarding the `updateTorrc` bits for bridges/ipv6 settings. (Separating these out because I think the latter is a bit more work and we'll want to think about it some more.)

[2017-02-14 05:25] mtigas opened #81 "[2.X] Show "Connecting..." modal on launch"
something like the [1.X branch](https://github.com/mtigas/OnionBrowser/tree/1.X) (current app store version), or JRock007/Tob at [bbf19703](https://github.com/JRock007/Tob/tree/8c09b260872457e7b217b7a68b8cadc6bbf19703) .

the 2.X branch currently spins on an empty browser tab, trying to load the homepage (which it can't do until Tor is connected).

[2017-02-14 05:27] mtigas opened #82 "[2.X] Allow user to change Tor bridge/ipv6 settings"
Related to #80; we either need to bring in the `Bridge`/`BridgeCustomViewController`/`BridgeViewController` bits from [1.X branch](https://github.com/mtigas/OnionBrowser/tree/1.X) or replace them entirely.

[2017-02-14 05:35] mtigas opened #83 "[2.X] Update Endless from upstream"
The 2.X branch forks [endless](https://github.com/jcs/endless) at [69a09a3e66da44f981bf3975b158fbf1c51e7f07](https://github.com/jcs/endless/tree/69a09a3e66da44f981bf3975b158fbf1c51e7f07) (newer than Endless v1.0, but somewhere before tag v1.1)

There have been some important upstream changes, including [a workaround for Universal Links](https://github.com/jcs/endless/commit/436091ff17f3b8724eebb21

[2017-02-14 05:36] #45 closed

[2017-02-21 17:14] mtigas opened #84 "[2.X] meta-ticket: consolidate Tor Controller (& rethink config/control port logic)"
In 1.X, Tor is managed by a thing called [TorController](https://github.com/mtigas/OnionBrowser/blob/1.X/OnionBrowser/TorController.m) (although the code is horrendous and a lot of configuration logic [happens in AppDelegate](https://github.com/mtigas/OnionBrowser/blob/f4d185c36051337ccbcd14081e23898661feb59a/OnionBrowser/OnionBrowser/AppDelegate.m#L449-L535).

more or less, we want to:

* move th

[2017-02-27 10:35] ghost commented on #74
Same for me:
I'm using using Home Assistant, was able to get remote access via Tor on my windows PC, have also installed the Onion Browser on my iOS device, but can't find a way to find and change the torrc-default settings.
Would love to be able to use this feature on my iOS devices.
Any suggestions ?

[2017-03-07 20:40] mtigas commented on #73
Fixed as of 1.7.3.

* There’s [some detection](https://github.com/mtigas/OnionBrowser/blob/f4d185c36051337ccbcd14081e23898661feb59a/OnionBrowser/OnionBrowser/AppDelegate.m#L481-L496) of IPv6-only (so that we set the proper `ClientUseIPv4`/`ClientUseIPv6` flags)
* And the app is now using a 0.3.0.X alpha version of Tor which includes the fix from [the previously mentioned Tor ticket](https://trac.t

[2017-03-07 20:40] #73 closed

[2017-03-16 15:00] mtigas opened #85 "[2.X] Prompt for automatic use of bridges after 15 seconds"
Possible new feature:

After 15 seconds of stalled initialization, automatically prompt user to try to use bridges (using obfs4 by default?)

Cuts out step where user has to wait and get frustrated that app isn't working, and then go into the bridge prompt and _then_ have to figure out what to do.

[2017-03-16 15:01] mtigas opened #86 "update bridges"
TODO:
* check that `meek-amazon` and `meek-azure` bridges are up to date (they changed recently)
* check that built-in obfs4 bridges are up to date.

[2017-03-16 15:23] samisharafeddine commented on #85
Perhaps after 30~45 secs, considering the slow internet connection speeds for some users.

[2017-03-17 18:16] ponychicken opened #87 "[2.X] Compile error: Tor/Tor.h not found"
I am trying to compile the 2.X branch. I checked out all submodules and installed the pods. I get one error when compiling, xCode doesn't seem to find the Tor.h file, even though the Tor.framework is in place.

[2017-03-17 19:30] tladesignz commented on #87
Did you also use Carthage? https://github.com/Carthage/Carthage

Here's my guide, which I compiled a few days ago:

## Steps to build OnionBrowser
[code]

[2017-03-20 01:29] mtigas commented on #87
After doing the above, if you're still having issues (and you're not doing a fresh checkout as above), I notice there are sometimes issues depending on how the git submodules were checked out.

You can do `rm -rf Carthage/Checkouts Carthage/Build` to wipe away the submodules and then do the last two commands (starting at `carthage update...`) from the above post and see if that helps.

[2017-03-20 14:32] mtigas commented on #85
@xNightDev Perhaps a better wording is: "15 seconds if no progress has been made".

At least, during the first phases of Tor connection, between 0% and 80% or something like that — connection to directories, fetching descriptors, start of circuit building. Even a very slow mobile data connection will increment progress during that phase (a slow network will take some time to fetch the descriptors,

[2017-03-30 14:44] n8fr8 commented on #47
It seems we might be able to use network extensions integrated directly into an app itself as a library/service?

[2017-03-30 14:49] n8fr8 opened #88 "Localize resources through Transifex"

[2017-04-06 14:23] n8fr8 opened #89 "crashed on first install of testflight build"
when i installed the new testflight build, I was on a slow network. It crashed a few times, I guess as it was bootstrapping. I was on a bad network, that was slow, so bootstrap could have taken awhile.

Now it is running fine the next day while at home, and all the tor data is loaded.

There was no progress UI or otherwise feedback of that sort.

[2017-04-06 14:24] n8fr8 opened #90 "[2.X] Integrate POE onboarding and "connecting..." progress library"
we need POE for both onboarding and connecting each time

[2017-04-06 14:30] n8fr8 opened #91 "Testflight, after awhile not connected anymore"
I am starting to get the
"The operation couldn't be completed. COnnection refused" error and can't open anysite

[2017-04-06 14:36] mtigas commented on #86
shipped in Onion Browser 1.7.4

[2017-04-06 14:36] #86 closed, assigned to mtigas

[2017-04-06 14:59] mtigas opened #92 "[1.7.4] investigate app store issue"
Looks like the App Store is sending down v1.7.3 when you try to update to v1.7.4, so you end up with a persistent update notification.

Have reported to Apple and advising users to also report it to iTunes Support.

[2017-04-06 19:22] #92 closed, assigned to mtigas

[2017-04-08 19:10] daxelrod opened #93 "Text typed in address bar persists as keyboard predictions"
It appears that the iOS keyboard will suggest words previously typed into the Onion Browser address bar. This allows sensitive information, such as what domain names a user has visited, to be saved on the device after a user could reasonably expect it to have been purged.

### To Reproduce
1. Open Settings App
   1. General -> Reset -> Reset Keyboard Dictionary (then enter password, and Reset Dict

[2017-04-08 19:27] daxelrod commented on #93
I'm not an iOS programmer, but I found a [Keylogging and the Autocorrection Database](https://books.google.com/books?id=g7CPCwAAQBAJ&lpg=PA176&ots=cJjMUCTjs1&dq=setSecureTextEntry&pg=PA175#v=onepage&q=setSecureTextEntry&f=false) section of David Thiel's 2016 book *iOS Application Security: The Definitive Guide for Hackers*. I'm not sure if the technique it describes is up to date.

[2017-04-08 19:36] daxelrod commented on #69
You can work around this by going to Browser Settings and changing the "Active Content Blocking" setting from the default "Block Ajax/Media/WebSockets" to "Block All Active Content".

If you have JavaScript turned on, you get served a version of the ReCaptcha that appears to require Ajax to work correctly, which won't work if "Block Ajax/Media/WebSockets" is set.

However, with JavaScript complete

[2017-04-18 10:31] ponychicken opened #94 "[2.X] Cannot save pdf file"
When navigating to a PDF file online it is displayed fine in the browser, but there is no way to save it/share it to another app. In safari there is a button on the left top corner of the pdf which allows you to do that.

[2017-04-20 14:21] mtigas opened #95 "[2.X] HTTPS everywhere ruleset currently broken in TestFlight"
I think I built current TestFlight wrong and broke the entire HTTPS Everywhere list

[2017-04-22 23:56] mtigas commented on #83
done in  639108f5ae53b6841857ac9c1eefe0ea9c95532b and 4d8df9e292a064336f6ef23196a5577dbcb7f639

[2017-04-22 23:56] #83 closed, assigned to nobody

[2017-04-23 08:41] MarkCallow commented on #69
This is a not very appealing workaround. Some sites are hopeless without JavaScript.

[2017-04-24 12:52] szuwest opened #96 "build libevent failed"
Using libevent-2.0.22-stable.tar.gz
Building without ccache
checking for a BSD-compatible install... /usr/bin/install -c
checking whether build environment is sane... yes
checking for a thread-safe mkdir -p... ./install-sh -c -d
checking for gawk... no
checking for mawk... no
checking for nawk... no
checking for awk... awk
checking whether make sets $(MAKE)... yes
checking build system type... i38

[2017-04-24 13:09] szuwest commented on #96
[Uploading config.txt…]()
config.log

[2017-04-24 13:10] szuwest commented on #96
[config.txt](https://github.com/mtigas/OnionBrowser/files/951790/config.txt)
config.log

[2017-04-24 13:26] szuwest commented on #77
Have you fix the problem?

[2017-04-24 19:55] #95 closed, assigned to mtigas

[2017-04-25 13:14] tladesignz commented on #90
Improvements here: 8050c595230bf8756fc7ab3784c6d3fef13e34b5

[2017-04-25 16:37] mtigas commented on #81
Replaced by #90

[2017-04-25 16:37] #81 closed, assigned to nobody

[2017-05-04 14:43] mtigas commented on #82
TODO: see if we can use one "meek" option to simplify user flow. What happens if we simultaneously configure both meek types? (Does it work like other bridges, where it'll split the connection between the two?) If not, we can use random selection between the two.

[2017-05-21 10:34] nusenu opened #97 "update tor to 0.3.0.7"
https://lists.torproject.org/pipermail/tor-announce/2017-May/000129.html
(TROVE-2017-002 does not affect tor clients)

for changes since 0.3.0.4-rc see
https://gitweb.torproject.org/tor.git/tree/ChangeLog?h=release-0.3.0

[2017-05-21 10:41] nusenu opened #98 "CHANGES.txt needs an update"
1.7.4 reached the App Store.
https://itunes.apple.com/us/app/onion-browser/id519296448

There is no 1.7.4 release tag?

[2017-05-22 10:40] SergeyPakhandrin commented on #87
Hi!

I'm trying to compile 2.X using the list of commands above but get the error

carthage update --platform iOS --use-submodules
*** Cloning Tor.framework
*** Checking out Tor.framework at "tor0.3.0.6-libevent2.1.8-openssl1.0.2k"
*** xcodebuild output can be found in /var/folders/zz/zyxvpxvq6csfxvn_n0000000000000/T/carthage-xcodebuild.b7sZyi.log
*** Building scheme "Tor-iOS" in Tor.xcodeproj
Bui

[2017-05-25 01:05] daxelrod commented on #93
On iOS 10.3.2 and Onion Browser 1.7.4, step 3 must be repeated twice before the keyboard will start suggesting the domain name.

[2017-05-25 09:20] JRomainG opened #99 "Missing Cancel button in bridge settings"
This screen mentions a Cancel button, but there doesn't seem to be any in the nav bar

Also, the tableview's content offset doesn't take into account the navigation bar, so part of the header is hidden.

![img_1649](https://cloud.githubusercontent.com/assets/7504819/26444100/44c13456-413b-11e7-965f-b81f8327f4de.PNG)

[2017-05-26 08:45] tladesignz opened #100 "OnionBrowser Icon and Splash Screen vs. POE CI mismatch"
The OnionBrowser icon and splash screen aren't at all in a similar style to POE.

We should have Carry go over the icon and splash screen to adapt them to the POE look.

What do you think?

[2017-05-29 13:28] tladesignz commented on #96
I had some issues with the latest build, also.

Please check out my updates to the build instructions:

https://github.com/mtigas/OnionBrowser/blob/2.X/BUILD.md

Does that help?

[2017-06-02 01:37] rosagp opened #101 "Tell Me More link doesn't work"
I'm using an iPhone SE running 9.3.4. On the third screen that says "Sometimes you need a bridge to get to Tor" when you tap on the words TELL ME MORE, nothing happens. There is no additional information.

[2017-06-02 01:40] rosagp opened #102 "Bridges and Connect Now"
I'm using an iPhone SE running 9.3.4. and when I try to Set Up Bridges and then Connect Now none of the provided bridges allow me to connect. Even if I don't use a bridge I can't connect. When I tap on Connect Now, the app just closes. It doesn't quit but closes. Am I using this correctly?

[2017-06-02 09:45] tladesignz commented on #101
Thanks @rosagp for pointing this out. This was sort of intentionally left blank.

I guess we have to make a decision now.

a) Do we drop that?
b) Do we put a page behind this button?

If b)
- Maybe show an excerpt of this page: https://www.torproject.org/docs/bridges

I happily implement it, if one of you decides, what to put there.
@mtigas, @n8fr8, @cstiens ?

[2017-06-02 09:55] tladesignz commented on #100
Will be handled here:
guardianproject/poe#8
guardianproject/poe#9

[2017-06-02 09:55] #100 closed, assigned to n8fr8, mtigas

[2017-06-02 12:50] tladesignz commented on #102
It is reproducible in the simulator. Must be an issue with iOS 9:

[code]

[2017-06-12 20:04] roqvist commented on #74
Any progress on this?

[2017-06-16 14:03] tladesignz commented on #99
Resolved with commit d632012aa6457e092a10bb5a516c956a8548faa5

[2017-06-16 14:03] #99 closed, assigned to nobody

[2017-06-16 14:04] tladesignz commented on #88
Please add a Transifex project!

[2017-06-16 18:27] cstiens commented on #101
@tladesignz Since we have information about Tor bridges on the configuration page, I think we can remove the 'Tell me more' link.

[2017-06-16 18:53] cstiens commented on #85
@mtigas @tladesignz Is it correct that we no longer need the user to restart the app?

Is the option to automatically connecting to a bridge out of the question for now?

[2017-06-16 21:02] tladesignz commented on #85
@cstiens Mike hopes, that he can achieve that, yes. But it's not done, yet, and we will only know for sure, then.

[2017-06-17 09:41] tladesignz commented on #101
Fixed with commit https://github.com/guardianproject/poe/commit/b551aff59c68c36bad6844eacbcc8411a78d5463.

[2017-06-17 09:41] #101 closed, assigned to n8fr8, mtigas

[2017-06-20 16:51] #97 closed, assigned to nobody

[2017-07-13 14:19] n8fr8 opened #103 "Tor thread dies is unrecoverable after app goes to sleep/background"
We need a way to recover gracefully when the Tor thread does kaput.

@chrisballinger any thoughts or tips on this?

[2017-07-13 14:38] mtigas commented on #103
Current game plan:

This weekend I'll add something to my current fork of Tor.framework that sends `SIGNAL HALT` (see [spec](https://gitweb.torproject.org/torspec.git/tree/control-spec.txt#n406)). (Actually, Onion Browser 1.X does send a bunch of `SIGNAL HUP` to try to get Tor to reload config and change circuits and things. Should probably add that and the `NEWNYM` "use a new identity" signals to

[2017-07-13 16:53] tladesignz commented on #103
So I thought a bit little bit about it:

The main problem is, as I understand it, that Tor is running in its own thread, the TORThread provided by the Tor.framework.

There's no mechanism in iOS for uncooperative threads to be killed from outside, since the thread could hang on to resources, mutexes etc. which then would never be properly handled. So, when you would actually be allowed that, and d

[2017-07-17 14:51] mrhyh opened #104 "Failed to read file or folder at /Users/hyh/Downloads/Github废弃/浏览器/OnionBrowser/OnionBrowser/../Carthage/Build/iOS/Tor.framework"

[2017-07-20 14:25] n8fr8 commented on #103
This all sounds reasonable.

We could also try disabling Tor before background, and restarting when we return.

See this control port feature: https://www.torproject.org/docs/tor-manual.html.en

"DisableNetwork 0|1
When this option is set, we don’t listen for or accept any connections other than controller connections, and we close (and don’t reattempt) any outbound connections. Controllers someti

[2017-07-20 14:33] tladesignz commented on #103
@n8fr8 Didn't you just mention some setting which makes Tor ignore time changes? As we discussed, it could also be, that Tor hangs because it is annoyed about time changes while it was suspended?

[2017-07-26 14:13] ncarding commented on #74
I'm looking to do this too. Any news on it's development?

[2017-08-10 14:22] mtigas opened #105 "[2.X] Settings/bookmarks migration from OB 1.X"
Will need this for 2.X release.

I’ll fill this out with technical details once I get a chance.

[2017-08-16 22:10] mtigas commented on #105
Sorry for the delay here.

# Bookmarks

## 1.X

It's a CoreData model (Bookmark; [.h](https://github.com/mtigas/OnionBrowser/blob/1.X/OnionBrowser/OnionBrowser/Bookmark.h), [.m](https://github.com/mtigas/OnionBrowser/blob/1.X/OnionBrowser/OnionBrowser/Bookmark.m)). I don't think my [implementation](https://github.com/mtigas/OnionBrowser/blob/1.X/OnionBrowser/OnionBrowser/BookmarkTableViewControlle

[2017-08-23 16:38] tladesignz commented on #105
Other settings which could be migrated:

- Do-Not-Track Header
- User Agent String
- TLS version (new options: `TLS 1.2, 1.1 or 1.0` and `TLS 1.2 Only`)

[2017-08-31 13:11] tladesignz commented on #103
Ok, so I took the liberty and used some hours for this.
It mainly breaks, when I switch off the device, and on again. Could not reproduce it, when I just switched to another app.

Here's the error message I get, when the app was woken up again:

So there's some socket gone, after we return. As anticipated.

Trying to disable Tor like this, as @n8fr8 suggested didn't change anything at all:

[code]

[2017-08-31 14:44] tladesignz commented on #105
As discussed, User Agent String will not be migrated, as this would make users stand out over time. DNT and TLS version setting migration now added.

[2017-08-31 14:44] #105 closed, assigned to tladesignz

[2017-08-31 14:59] tladesignz commented on #90
I guess we can consider this done.

[2017-08-31 14:59] #90 closed, assigned to mtigas, tladesignz

[2017-08-31 14:59] #102 closed, assigned to mtigas

[2017-08-31 15:01] tladesignz commented on #104
Did you follow the [build](https://github.com/mtigas/OnionBrowser/blob/2.X/BUILD.md) guide for version 2.x?

[2017-09-12 15:14] tladesignz commented on #103
So, I compared Onion Browser 1 with 2, which can't repair a broken Tor connection but at least handles the broken connection gracefully.

These are my findings:

- OB1 handles the connection lose in a UIWebView callback:
[code]

[WebViewController.m#L581](/mtigas/OnionBrowser/blob/1.X/OnionBrowser/OnionBrowser/WebViewController.m#L581)
[WebViewController.m#L612](/mtigas/OnionBrowser/blob/1.X/Onion

[2017-10-14 14:30] n8fr8 commented on #80
Do we have access to torrc config in OB2?

[2017-10-14 14:31] n8fr8 commented on #74
Live from the Tor dev meeting, just bringing this ticket back up, because iOS people are people too and want to do fancy torrc things!

[2017-11-07 21:04] ghost opened #106 ".onion site hangs on php redirect"
Hi,
I have a .onion site running lighttpd and php. Onion Browser hangs whenever the `header()` function is called in a page.
`header('Location: pageName.php');`
I only seem to be running into this problem with Onion Browser IOS on both my iphone(ios10) and ipad(ios11). Problem does not persist with TBB across different devices.
I'm using version 1.7.9 from Apple App Store

[2017-11-09 16:00] ghost commented on #106
This is a webkit/php issue, not an Onion Browser issue.

[2017-11-09 16:00] #106 closed, assigned to nobody

[2017-11-28 14:16] ghost commented on #94
Yes, onionbrowser seriously needs a “share” button. Right now one cannot export/share e.g. sci-hub articles to a pdf viewer.

[2018-01-03 15:02] igornazarov1991 opened #108 "Supporting IPv6"
Apple requires to support IPv6 DNS64 / NAT64 networks (https://developer.apple.com/library/content/documentation/NetworkingInternetWeb/Conceptual/NetworkingOverview/UnderstandingandPreparingfortheIPv6Transition/UnderstandingandPreparingfortheIPv6Transition.html).

I've tested this environment and Tor does not work. I see error after trying to connect (see screenshot attached):

![attachment-509634

[2018-01-05 04:24] auliausu opened #109 "New Logo Proposal"
Dear Developers
i have made some contribution for your project by creating new logo, maybe you will be interest to it ;)
you check on this link of blog 👍:
https://steemit.com/utopian-io/@auliausu/new-logo-proposal-for-onion-browser

![cover](https://user-images.githubusercontent.com/9031884/34595472-ebfff61e-f20a-11e7-95d3-57fa1cb9b9d6.png)

![presentation](https://user-images.githubusercontent.co

[2018-01-20 15:21] JRomainG commented on #108
This issue was also addressed in #73 (which is closed now), but it still happens to me (and Apple apparently) too.

[2018-01-22 01:36] alecglassford opened #110 ""Rate on App Store" goes to Endless Browser's App Store page"
`Gear Icon --> Global Settings --> MISCELLANEOUS --> Rate on App Store` currently goes to Endless Browser in the App Store. I think you may want to switch this to go to Onion Browser's own page.

2.0 looks so great! Congrats! 🎉

[2018-01-22 22:52] bppdddqqqq opened #111 "[2.X] Self-signed certificates no longer supported"
1.X used to not exert this behaviour because it allowed us to grant an exception via a prompt that appears before visiting the site
2.X denies access to the site and doesn’t offer any option to skip

[2018-01-23 04:44] Cauchon opened #112 "Onion Browser 2.0 may be leaking DNS requests"
When using Onion Browser 2.0, I'm seeing that non-onion domains are appearing in my DNS' log (using pi-hole). When using the Tor Browser on Mac, those same domains aren't appearing.

**Environment & Steps:**
iPhone X, iOS 11.2.2

1. Connect to my VPN (passes through a pi-hole)
2. Visit a non-Onion URL using Onion Browser 2.0
3. Notice that the site and the calls from that site are appearing in the

[2018-01-23 10:08] roqvist commented on #74
Onion Browser 2 seems well prepared for this, with a nice settings page available per page.

Really missing the HidServAuth, any roadmap on this?

[2018-01-24 05:59] Baccount opened #113 "OnionBrowser 2 does not download files that are being hosted on a onion"
OnionBrowser 2 does not download files that are being hosted on an onion by [onionshare](https://github.com/micahflee/onionshare).  Tested on macOS 10.13.3 (17D47)

[2018-01-24 06:01] Baccount commented on #112
If this is indeed occurring when using OnionBrowser 2, this should be considered a high priority security vulnerability. ISPs can easily keep track of DNS request, and handover those logs to governments. @Cauchon  **does this also occur on onion sites?**

[2018-01-24 07:03] Cauchon commented on #112
@Baccount As far as I can tell, it does not happen on Onion sites - no DNS records shown. On non-Onion sites, I do see the domains coming through the DNS.

[2018-01-24 09:10] Baccount commented on #112
@Cauchon Send the Dev a email as fast as possible.
Click link below for the devs email.
https://www.google.com/recaptcha/mailhide/d?k=01aYSfVmgqG26v17kO0wSinQ==&c=JgagO5nRsS3pKpIFHZvlZQ==

[2018-01-24 09:12] Baccount commented on #112
Security Issues
If you've found a security issue in one of our projects or in our infrastructure, please email tor-security@lists.torproject.org. You can get the GPG public key for the list by contacting tor-security-sendkey@lists.torproject.org or from pool.sks-keyservers.net. Here is the fingerprint:

	gpg --fingerprint tor-security@lists.torproject.org
	pub   4096R/1A7BF184 2017-03-13
	      Ke

[2018-01-24 09:21] tladesignz commented on #112
Please, relax. We're reading this thread. Don't bother Tor Project, because this is not an official Tor project. We're looking into it.

[2018-01-24 14:41] mtigas commented on #112
Currently investigating.

My best guess after taking a quick peek is that it has to do with one of the Endless features that tries to prevent access to LAN or localhost resources, but looks like it uses a DNS lookup as part of that check
https://github.com/mtigas/OnionBrowser/blob/7cc6c9c98493c86fb9ec6a88de7e10584140f5aa/Endless/LocalNetworkChecker.m (`addressesForHostname`).

[2018-01-24 14:52] tladesignz commented on #112
Ah! You can easily test, if that causes the issue, through disabling that feature:
-> Host Settings
-> Default Settings
-> Block external LAN requests
-> Set to "No"

[2018-01-24 16:02] alisonLFP opened #114 "Onion Browser gets stuck in bootstrapping when on data network"
iPhone 6, carrier T-Mobile

[2018-01-24 16:42] mtigas commented on #112
About to test by running the unbound dns resolver locally and setting my DNS to `127.0.0.1` and seeing what queries go through unbound’s log when running in the simulator. (I’ve had some success doing this before.)

But yes, my guess is that we can even _completely_ disable that feature in code since we’re going to SOCKS5 proxy _everything_. But will report back after some testing.

[2018-01-24 17:24] mtigas commented on #112
Confirmed that it's the "Block external LAN requests", with a `getnameinfo` call here https://github.com/mtigas/OnionBrowser/blob/7cc6c9c98493c86fb9ec6a88de7e10584140f5aa/Endless/LocalNetworkChecker.m#L68 . Looks like it's the only spot that the function is called, which is good.

Anyway, roughly disabled that setting and all that code in a56f07bb9e964cd5c46d2e196bba6d90adb8692b . Building/uploadi

[2018-01-24 19:53] n8fr8 commented on #112
Should we publish an advisory on how to turn that setting manually? I suppose it comes down to how fast we think the Apple approval process will go

[2018-01-24 23:23] Baccount opened #115 "Options disappear when Onionbrowsr is in "NON-Dark mode" and Darken colors are enabled in IOS settings"
Options disappear when Onionbrowsr is in "NON-Dark mode" and Darken colors are enabled in IOS settings.

1.Make sure onion browser is net to Light mode "NON-Dark mode"
2. Force close onion browser and ope IOS settings and go to `General-> Accessibility-> Increased contrast` and enable darken colors.
3. Open OnionBrowser and when it is connected, the only thing that shows up is the url bar and all

[2018-01-25 05:46] #110 closed, assigned to nobody

[2018-01-25 10:53] tladesignz commented on #112
To me, it looks like, that [`CFHostStartInfoResolution`](https://developer.apple.com/documentation/cfnetwork/1426672-cfhoststartinforesolution?language=objc) in [LocalNetworkChecker.m#L47](/mtigas/OnionBrowser/blob/2.X/Endless/LocalNetworkChecker.m#L47) does also start a DNS resolve.
You disabled all the code using that class, so that's not a problem, but I rather comment this also, so it doesn't

[2018-01-25 12:18] tladesignz commented on #115
Interesting. Can confirm on iPhone 7, iOS 10.3.3. The icons are just gone. One can press there, anyway, and menu/tabs are still working.

[2018-01-25 13:12] #115 closed, assigned to nobody

[2018-01-25 13:13] tladesignz commented on #115
Thanks for finding all these bugs, @Baccount!

[2018-01-28 22:37] sunjam opened #116 "Request: Nextcloud Bookmarks support"
Hi,

This is a request for integrating support for [Nextcloud Bookmarks](https://github.com/nextcloud/bookmarks), which is a fully open source, self-hosted bookmarks sync server using [REST API.](https://github.com/nextcloud/bookmarks/blob/master/appinfo/routes.php)

[2018-01-29 20:47] ghost opened #117 "[Critical] IP leaking through webrtc"
1. Open iPhone : ip 1.1.1.1
2. Connect to VPN : ip 2.2.2.2
3. Check web etc leaks : no leak (2.2.2.2)
4. Open onion browser 2.0.1 : ip 3.3.3.3
5. Check web rtc leak : leaking 1.1.1.1

[2018-01-29 20:49] tladesignz commented on #117
Most probably same as #112

[2018-01-29 20:49] tladesignz commented on #117
We're trying to push an update, but Apple...

[2018-01-29 20:51] ebelinski commented on #117
@tladesignz Did you request an [expedited review](https://developer.apple.com/contact/app-store/?topic=expedite)?

[2018-01-31 17:07] joshlittel23 opened #118 "App encryption"
Starting With verification. Pin or fingerprint lock.

[2018-01-31 17:11] #118 closed

[2018-01-31 17:15] joshlittel23 opened #119 "[REQUEST]app lock"
Hi. Pls add PIN or fingerprint verification on starting.

[2018-01-31 17:24] joshlittel23 commented on #109
Good job. I like it

[2018-02-01 02:52] auliausu commented on #109
thanks @joshlittel23

[2018-02-01 12:03] tladesignz commented on #109
@auliausu Thank you very much for this nice piece of work!

Unfortunately, this came at the totally wrong time - in the midst of finishing version 2.0.

I'm sorry, but, as you can see, the 2.0 release has a completely refurbished look-and-feel with a new icon. This was done months ago, but the release took a while.

I guess you can understand, that we won't change our logo just now again. Sorry!

[2018-02-01 12:03] #109 closed, assigned to nobody

[2018-02-02 00:31] Cauchon commented on #112
Hi guys,

Any update on when this fix will make it to end users?

[2018-02-02 08:59] tladesignz commented on #112
Arrrrgl. We're currently fighting with Apple to get the update through the review. It's always the same story with them: You give them a new version which they just let through and then you need to push some bugfixes and every time they look at it, they find some new faults and harrass you about it.

So: We're working on it...

[2018-02-02 16:09] paulshapiro commented on #58
I've commented on the Signal issue in an attempt to open up the discussion about what practical steps we can take to get Apple to support this. Please feel free to comment as I believe this initiative will require dev-community-wide support.

https://github.com/signalapp/Signal-iOS/issues/641

[2018-02-03 17:52] Cauchon commented on #112
I got the update in the App Store today and can confirm that I’m not seeing the DNS leak anymore. Thanks!

[2018-02-03 17:52] #112 closed, assigned to nobody

[2018-02-04 06:46] JamesMatt opened #120 "Can not connect with reCAPTCHA"
![023b6bf8-ae44-46b7-ade9-d62124a34ed0](https://user-images.githubusercontent.com/25457860/35774965-c82eef44-09b9-11e8-8b72-f74aaa493813.jpg)
Onion Browser 2.0.2 can not connect with reCAPTCHA, even though I have disabled **apis.google.com** rule. Please fix it, thanks!

[2018-02-04 21:58] tladesignz commented on #112
Well, thank you for alerting us about this so quickly!

[2018-02-04 22:00] tladesignz commented on #117
Thanks for the hint with the expedited review. We finally got it through after working out all the issues with Apple they suddenly found. They are sometimes quite cryptic, when it comes to explaining the issue...

Can you please check again and confirm if we got this fixed?

[2018-02-04 22:02] tladesignz commented on #114
A new version is out which should fix some IPv6 issues. Can you check, if it now works?

[2018-02-04 22:03] tladesignz commented on #114
Related: #108

[2018-02-04 22:03] tladesignz commented on #108
A new version is out which should fix some IPv6 issues. Can you check, if it now works?

[2018-02-04 22:03] #104 closed, assigned to nobody

[2018-02-04 22:04] #96 closed, assigned to nobody

[2018-02-04 22:04] tladesignz commented on #79
Definitely does now.

[2018-02-04 22:04] #79 closed, assigned to nobody

[2018-02-04 22:05] tladesignz commented on #78
New version 2 is completely different. Version 1 won't be worked on anymore.

[2018-02-04 22:05] #78 closed, assigned to nobody

[2018-02-04 22:06] #77 closed, assigned to nobody

[2018-02-04 22:06] #88 closed, assigned to n8fr8

[2018-02-04 22:07] #87 closed, assigned to nobody

[2018-02-04 22:07] #89 closed, assigned to nobody

[2018-02-04 22:07] #91 closed, assigned to nobody

[2018-02-04 22:08] #82 closed, assigned to nobody

[2018-02-04 22:09] #80 closed, assigned to nobody

[2018-02-04 22:09] #75 closed

[2018-02-04 22:10] #72 closed

[2018-02-04 22:11] tladesignz commented on #71
This is an issue with the Xcode debugger. It will just always catch SIGPIPEs. If you disconnect the debugger, code in the App can handle these instead.

[2018-02-04 22:11] #71 closed

[2018-02-04 22:12] #69 closed

[2018-02-04 22:16] tladesignz commented on #98
Since we're on version 2 now, I'll close this issue...

[2018-02-04 22:16] #98 closed, assigned to nobody

[2018-02-05 10:16] ghost commented on #117
Not fixed. https://browserleaks.com/webrtc

[2018-02-05 11:29] igornazarov1991 commented on #108
The issue has been fixed. It works now if to use a bridge. Thank you!

[2018-02-05 12:15] tladesignz commented on #108
Great! Thanks for re-checking!

[2018-02-05 12:15] #108 closed, assigned to nobody

[2018-02-05 15:57] alisonLFP commented on #114
It's working in the new version! Thanks!

[2018-02-05 17:04] tladesignz commented on #114
Great! Thanks for re-checking!

[2018-02-05 17:04] #114 closed, assigned to nobody

[2018-02-07 09:29] Baccount opened #121 "When I dismiss the bridge screen, there are on screen artifacts that appear for a second."
When I dismiss the bridge screen, there are on screen artifacts that appear for a second. Here is a video showing the bug.
[video_showing_the_bug.MP4.zip](https://github.com/mtigas/OnionBrowser/files/1702407/ScreenRecording_02-07-2018.01-26-23.MP4.zip)

[2018-02-07 09:36] Baccount opened #122 "Reset app rating in next release"
Because OnionBrowser 2 is such a large release you reset the app rating in next release so users can see reviews for version 2 and onward. Here is the instructions from Apple.
https://help.apple.com/itunes-connect/developer/#/devfb7e87af8

[2018-02-07 12:00] tladesignz commented on #121
Yeah, I know this. Unfortunately, that's a side effect of how we put the POE library and Endless together. Don't think, we will fix this soon, since we don't want to move too far away from Endless.

But I can leave this open for now.

[2018-02-08 15:36] tladesignz commented on #117
Also on Twitter now:

https://twitter.com/pwnsdx/status/961413267028619264

[2018-02-08 15:40] n8fr8 commented on #117
@ghost are you saying that Onion Browser 2 leaks outside of the VPN? The WebRTC leak happens even if the VPN is on?

[2018-02-08 18:38] mtigas commented on #117
(Update --  April 4 2019. After being fixed on iOS 12, this is apparently happening again on iOS 12.2.)

OK, this was not the same as #112.

Quick notes from some research here.

From the thread of the [tweet](https://twitter.com/pwnsdx/status/961413267028619264) that tladesignz linked, this [started in iOS 11](https://twitter.com/pwnsdx/status/961415311282012160).

It also affects Red Onion and B

[2018-02-08 19:31] n8fr8 commented on #117
This can also be mitigated by disabling Javascript entirely? Is that feature available still in iOS 11 / Endless codebase?

[2018-02-08 20:07] mtigas commented on #117
@n8fr8
yes:
Settings -> Host Settings -> Default Settings
Content policy: "Strict (no JavaScript, video, etc.)"
![simulator screen shot - iphone 8 - 2018-02-08 at 15 06 55](https://user-images.githubusercontent.com/53129/35995549-b8ca8556-0ce1-11e8-9af4-3bf1029fcdcd.png)

[2018-02-08 21:17] n8fr8 commented on #117
I would tweet that this can be immediately fixed by disable javascript by default for all sites, and show that screenshot: https://github.com/mtigas/OnionBrowser/issues/117#issuecomment-364232729

Perhaps JS should be off by default, and people can selectively enable by host?

[2018-02-08 21:20] n8fr8 commented on #117
![img_0975](https://user-images.githubusercontent.com/30851/35998884-fa5e6eec-0ceb-11e8-8290-d4656c4e7996.PNG)

confirmed disable javascript blocks webrtc leak from happening

[2018-02-12 22:33] dingos1 opened #123 "[2.x] Please separate javascript from images"
In 1.x, we could disable Javascript and other active content while allowing images ("block all active content"). In 2.x, the "strict" setting not only blocks JavaScript and video but also images. Are there any security implications of allowing static images (jpeg, png, gif, etc.)? Tor browser with noscript allows this combination so I hope not...

This is a problem obviously for sites with images

[2018-02-16 17:20] #123 closed, assigned to tladesignz

[2018-02-16 17:21] mtigas commented on #123
Can't believe I haven't noticed that I didn't whitelist [`img-src`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/img-src) the way I whitelist `style-src`.

This'll be in the next update. cf12cf9874bf905581f23f6397f745dbb33e8bb0

[2018-02-16 17:33] mtigas commented on #93
This has been fixed since the 2.X release. https://github.com/mtigas/OnionBrowser/blob/v2.0.3/Endless/WebViewController.m#L125-L126

[2018-02-16 17:33] #93 closed, assigned to nobody

[2018-02-19 18:04] tladesignz commented on #103
Finally found the issue a while ago. Is fixed and 2.0 is released, so I close this.

[2018-02-19 18:04] #103 closed, assigned to mtigas

[2018-02-21 00:11] daxelrod commented on #93
Awesome, thank you very much!

[2018-03-06 01:57] Baccount opened #124 "Moat: automatically fetch obfs4 bridges for users (via meek or other band)"
Having OnionBrowser fetch obfs4 bridges for users using the meek/meek-lite pluggable transport, **Large** adversaries "China" may block the bundled obfs4 bridges.

Torproject just aded this feature into tor-launcher [here ](https://gitweb.torproject.org/tor-launcher.git/commit/?id=e921bb15681ac54c9e937b564d31a2a6ec2ceb33)
Here is a photo of the auto bridge fetch in TorBrowser, download the latest

[2018-03-09 03:09] ideosprocess opened #125 "Logo / icon design proposition"
Hello ,
I designed a new logo for your application [HERE](https://steemit.com/utopian-io/@ideosprocess/logo-design-for-onion-browser-applications) , so let me know if you want any changes.
Thank you.

[2018-03-09 12:20] kyzmitch commented on #125
looks very similar to firefox logo

[2018-03-13 06:54] ikonkere commented on #10
Any progress on this one? This is the most important feature for users who use Tor to download stuff that is otherwise unavailable in their country.

[2018-03-13 07:04] Baccount commented on #10
I would also like this feature. @mtigas

[2018-03-14 16:47] mtigas commented on #125
I'm a bit wary of switching up the logo so quickly, as this logo was just released with the new 2.0 build not long ago. Though I'll leave this open as I think some logo tweak warrants some discussion.

[2018-03-14 16:50] mtigas commented on #124
Have just spoken to a few folks from the Tor Meeting this week, and we definitely want to do something like this.

(This is the Tor Browser "**moat**" project, which talks to bridgedb via meek to get working obfs4 bridges. Re: https://trac.torproject.org/projects/tor/ticket/22871 & https://trac.torproject.org/projects/tor/ticket/23136 & etc.)

No timeline yet, as we'll probably want to look at TBB

[2018-03-14 17:14] Baccount commented on #124
Excellent, thank you very much.

[2018-03-14 17:42] n8fr8 commented on #125
My main issue with the current logo is that it looks a bit off-centered/balanced with the dark background.

[2018-03-15 15:01] ideosprocess commented on #125
Maybe it can we make a white color on the center of the logo

2018-03-15 0:42 GMT+07:00 Nathan Freitas <notifications@github.com>:

[2018-04-03 00:15] codaman opened #126 "Video playing problem"
I can't play any videos. Videos nor starting and playing.

[2018-04-03 06:02] Baccount commented on #126
Change your content policy under host settings, default settings and content Policy, try the different options and see if any of them cause the videos to start playing.

[2018-04-03 12:45] tladesignz commented on #126
Please note:

"- Multimedia often bypass Tor and compromise your privacy; video files and video streams are blocked by default and are not supported by Onion Browser."

Source: https://itunes.apple.com/at/app/onion-browser/id519296448?mt=8

[2018-04-03 12:45] #126 closed, assigned to nobody

[2018-04-04 10:33] codaman commented on #126
Thank you so much. I solved this

[2018-04-06 10:49] hsn10 opened #127 "No support for onion v3 hidden services"
Tor needs to be 0.3.2.1 or higher

[2018-04-06 11:09] tladesignz commented on #127
Worry not, there will be a new release next month containing the latest Tor.

[2018-04-16 15:48] tladesignz opened #128 "Pull in latest Endless changes"

[2018-04-16 15:50] tladesignz opened #129 "Fix ~30 Xcode lint issues"
Push back changes in Endless code to original Endless.

[2018-04-16 15:51] tladesignz commented on #128
https://github.com/jcs/endless/commits/master

[2018-04-16 15:52] tladesignz opened #130 "Update to latest Tor 0.3.2.10 or later"
https://gitweb.torproject.org/tor.git/refs/tags

A 0.3.3 release should be due in some days.

[2018-04-16 15:54] tladesignz commented on #47
https://benjaminerhart.com/2018/03/state-of-the-onion-ios/

[2018-04-16 15:59] tladesignz commented on #13
Since Onion Browser 2 is now released, I close this issue. Feel free to reopen, if I missed something.

[2018-04-16 15:59] #13 closed

[2018-04-16 16:00] tladesignz opened #131 "Polish browser UI adopted from Endless"
Adapt to color scheme of POE, nicer icons, other touch-ups.

Offer improvements back to Endless, when done.

[2018-04-16 16:12] tladesignz opened #132 "Add icon and info about Tor circuits in address bar"
There's currently similar work going on in the desktop Tor Browser:

https://trac.torproject.org/projects/tor/ticket/24309
https://trac.torproject.org/projects/tor/attachment/ticket/23247/23247-2.png
https://trac.torproject.org/projects/tor/ticket/23247

[2018-04-16 16:14] tladesignz opened #133 "Update dependencies"
https://github.com/mtigas/OnionBrowser/blob/2.X/Podfile
https://github.com/mtigas/OnionBrowser/blob/2.X/Cartfile

[2018-04-16 16:19] tladesignz opened #134 "Add "start up in last state" feature"
Only on explicit user configuration!

OB will start up with all tabs restored as during the last session. (Best, if only really loaded, when tab is touched).

[2018-04-16 16:21] tladesignz commented on #130
Resolves #127

[2018-04-16 16:24] tladesignz commented on #132
Related: #67

[2018-04-16 16:27] tladesignz commented on #66
Not anymore with version 2. Closing.

[2018-04-16 16:27] #66 closed

[2018-04-16 16:29] tladesignz commented on #94
Related: #10

[2018-04-20 19:51] gitatmax opened #135 "When Clear all when in background is enabled, does not work as expected"
When Clear all when in background is enabled, and I switch apps and return to OnionBrowser, the last thing I had opened is visible behind the startup page.

Running on iOS (latest public), on iPhone X.

[2018-04-20 19:53] gitatmax opened #136 ""Report a bug" doesn't do anything in Settings"
Running on the latest public release of iOS, on an iPhone X.

[2018-04-23 10:41] nirtuj opened #137 "Cannot input text into formfield"
This happens on https://mail.riseup.net/sm/src/webmail.php, a webmail service using squirrelmail.
When clicking reply on a message I can put the focus onto the text field, yet it is impossible to enter any text (the on screen keyboard is shown, yet no keypresses get into to the textfield). This works in mobile safari.

[2018-05-10 20:44] teor2345 opened #138 "Hide web page content when switching apps"
When I switch away from OnionBrowser, the content of the web page is visible in the app switcher.

It would be great if Onion Browser was more like Signal, and hid web page content when switching away from the app.

[2018-05-16 22:33] mtigas commented on #130
2.1.0 now live in the App Store. Closing.

[2018-05-16 22:33] #130 closed, assigned to nobody

[2018-05-16 22:34] mtigas commented on #127
2.1.0 now live in the App Store! Confirmed that v3 onions are now working (tested against the Qubes documentation site @ qubes-os.org and sik5nlgfc5qylnnsr57qrbm64zbdx6t4lreyhpon3ychmxmiem7tioad.onion ) Closing.

[2018-05-16 22:34] #127 closed, assigned to nobody

[2018-05-17 18:08] Baccount opened #139 "Add "Implementing an iOS Settings Bundle""
Adding support for advances settings the show up in IOS settings may be useful for extra experimental  features. Here is information on how to implement it.

https://developer.apple.com/library/content/documentation/Cocoa/Conceptual/UserDefaults/Preferences/Preferences.html

[2018-05-18 21:18] teor2345 opened #140 "Changing custom bridges after launch is ignored"
When I try to change onion browser's custom bridges after launch, the change is silently ignored.

Steps to reproduce:
1. Wait until onion browser displays a web page
2. Try to add a custom bridge
3. Close the settings
4. Reopen bridge settings

Actual Result:
The new custom bridge is not added

Expected Result:
The new custom bridge is added

Notes:
This happens when changing from direct connecti

[2018-06-09 23:03] Baccount opened #141 "New network framework in the latest IOS 12"
A new network framework was added in IOS 12 and I wonder if this would help OnionBrowser. Here is some information about it with links to documentation.

**Network Framework**
[The new Network framework makes it easier to create network connections to send and receive data using transport and security protocols.](https://developer.apple.com/ios/whats-new/)

https://developer.apple.com/documentatio

[2018-06-10 11:54] tladesignz commented on #141
Hey, thanks for the hint. However I don't see, how this could help us. We use the original Tor client, written in C. All problems are related to that, esp. that Tor still can't be stably restarted in-process.
See my blog article about it: https://benjaminerhart.com/2018/03/state-of-the-onion-ios/

Making use of the Network Framework would mean to do a complete rewrite of Tor (at least the client p

[2018-06-13 08:40] Byte1122 opened #142 "Adding customer brigde with camera doesn't work"
The camera functionality for adding customer brigde doesn't work. The QR code can't be recognize and there is also now confirm button in iOS 11.4.  Version 2.1.0 Onion Browser.

[2018-06-13 14:37] tladesignz commented on #84
Although it's not as nice as sketched here, we now have something which probably qualifies as this and we also released version 2 some months ago, so I'll close this ticket and the milestone. We can always open up new ones, if need be.

[2018-06-13 14:37] #84 closed, assigned to nobody

[2018-06-13 14:45] tladesignz commented on #20
This issue is almost 5 years old. I'll close it.

[2018-06-13 14:45] #20 closed

[2018-06-13 15:06] tladesignz commented on #122
@mtigas Was this done or does this still need to be done or will we not do it because of reasons?

[2018-06-14 09:19] starchturrets opened #143 "Adding a new host setting enables JavaScript regardless of defaults"
Steps to reproduce:

- In Host Settings, set default policy on web content to Strict.

- Go to browserleaks.com/JavaScript. It should show all scripts as being blocked.

- Tap host settings and add browserleaks.com. Do not change any settings for scripts, cookies, or SSL. Use defaults.

- Refresh. JavaScript will be enabled.

- Expected result: Since the JavaScript Settings are set to use default

[2018-06-18 18:23] DavidMOliver commented on #58
I want to assign this to milestone number 2.3

[2018-06-18 18:25] DavidMOliver commented on #122
I want to assign this to milestones 2.2

[2018-06-18 18:26] DavidMOliver commented on #141
I want to assign this to milestone 2.3

[2018-06-18 18:27] DavidMOliver commented on #2
I want to add this to milestone 2.1 for tracking throughout milestones 2.1 - 2.9

[2018-06-18 18:29] DavidMOliver commented on #143
I want to add this to milestone 2.2

[2018-06-18 20:04] tladesignz commented on #58
@DavidMOliver: Neeee. Bad idea. This is currently unattainable as it seems. (See link to Signal-iOS issue in the original issue text.)

[2018-06-18 20:05] tladesignz commented on #122
@DavidMOliver: Let's first see what @mtigas has to say. (See my question above.) This is a matter of minutes. Just some clicks in iTunesConnect, not real work.

[2018-06-18 20:07] tladesignz commented on #141
@DavidMOliver: Actually, I think we're going to close this, as this seems to be a dead end. (See my comment above.)

[2018-06-18 20:07] #141 closed, assigned to nobody

[2018-06-18 20:11] tladesignz commented on #2
@DavidMOliver: As discussed frequently on telcos: We're completely dependent on Tor Project with this. May need some more personal sessions with the Tor folks. (Did somebody say travel budget? ^^) So to put this in a milestone doesn't make too much sense at least in terms of the GitHub issue tracker. Multiple milestones are not possible anyway, here.

The propsal is another story, though.

[2018-06-18 20:56] DavidMOliver commented on #2
@tladesignz no question we need help.  We'll work this out in a way that is not "our development work" and make the dependency clear in the proposal

[2018-06-18 20:57] DavidMOliver commented on #58
OK, I will drop this item from our Milestones.  Let's assign to "Milestone 3.0", please

[2018-06-19 12:58] DavidMOliver opened #145 "Integration with Cloudflare’s captcha token identity system."
Work with CloudFlare "challenge bypass" specification (eliminate CloudFlare Captcha)

https://github.com/cloudflare/challenge-bypass-specification

(moving this item from proposal objective to proposal activity - "stretch" - in activity 2.9

[2018-07-12 04:36] joxl opened #146 "Support import bridge by QR from photo library"
When trying to get new (custom) bridges at bridges.torproject.org, you can choose to copy the raw text, or view a QR code. Copying the text proves to be *very* challenging from a mobile OS (tried Safari, Chrome, DuckDuckGo, and even Onion Browser -- using iOS 10.x) with mixed results. Taking a screenshot (or downloading image) of the QR code would be much easier. However, the custom bridges config

[2018-07-12 14:33] eighthave commented on #146
We're trying to define standard URI formats for this kind of thing: https://trac.torproject.org/projects/tor/ticket/15035

[2018-07-12 14:44] tladesignz commented on #146
I agree, that would be nice to have! Could be good as a replacement for #124, which turns out to be more and more unfulfillable, because Meek is probably going away, unless somebody comes up with a greet idea.

[2018-07-17 00:58] joxl commented on #146
Just out of curiosity, what are the current URI formats supported but the existing (live camera) QR reader?  I just assumed that if a live camera could do it, scanning an existing photo would use the same mechanism.  Although reading the [Trac ticket](https://trac.torproject.org/projects/tor/ticket/15035), it does seem like the URI format needs improved.

[2018-07-17 10:59] tladesignz commented on #146
There's currently no URI, it's just a text mode QR code, with a JSON array in it. @eighthave mentioned the URI topic, so we would check on it, bevore implementing this feature. Because, if that would be done, we could forget about importing images and instead register as a handler for that custom URI.

[2018-07-17 11:08] eighthave commented on #146
let's take this opportunity to nail down a URI format that works
everywhere.  There are so many useful way to distribute them, I think
this approach will really pay off.

One tricky thing is making the URI clickable in as many places as
possible.  That pretty much means using an http:// or https:// URI.
@n8fr8 & Co did nice work for https://zom.im for a URI format there. For
bridges, we could use

[2018-07-17 13:52] n8fr8 commented on #146
I swear we had incorporated the format mentioned in the https://trac.torproject.org/projects/tor/ticket/15035 ticket somewhere. I think if you do the email request for bridges, it might include those? Otherwise, I do know with Orbot, we allow sharing of your own bridge configuration to a friend.

Anyhow, I like the proposal above for a format that brings up a useful page in case there is no suitab

[2018-07-20 15:59] MarkCallow commented on #69
I just noticed you closed this. Why do you not plan to fix i? Put another way, why is Ajax lumped with media & web sockets for disablement?

[2018-08-24 09:48] jcs commented on #143
Commit in Endless:

https://github.com/jcs/endless/commit/bd485b7acaedd05a0a964f193d1eb1d2e1f109d1

[2018-08-26 10:40] tladesignz commented on #143
Oh, great! Thank's a lot @jcs, to mention this here. Would probably have spent some hours to find this myself, since an Endless pull is currently scheduled for a later milestone...

[2018-08-26 10:41] tladesignz commented on #143
Will be fixed with #128

[2018-08-26 10:41] tladesignz commented on #128
Will fix an issue which is scheduled for 2.2.0, so moved this issue there.

[2018-08-27 16:25] barryason opened #147 "videos dont load anymore"
Hello, please help.
Since update no video on any site works. Everytime theres coming Error Loading ‚Retry‘. Whats wrong, it works fine for 1 Year?.. iPad fault or gameover for videos on tor?

iOS iPad Pro 11.3
greetings

[2018-09-21 23:23] mtigas opened #148 "Support swapping over to .onion if there's an appropriate alt-svc header"
Given an HTTP header in the response (on a clearnet website, for example `www.propublica.org`) that looks like this:

[code]
(ma being "max age")

The client _should_ either automatically use (or give the user the option to use?) the onion domain (in this case `www.propub3r6espa33w.onion`) instead.

---

[Tor Browser Bundle 8](https://blog.torproject.org/new-release-tor-browser-80) supports alt-sv

[2018-09-27 01:23] MarkCallow opened #149 "OnionBrowser home page does an excellent job of making OB seem like AbandonWare"
The OB homepage (https://onionbr5zulufnuj.onion), 7 _months_ after the fact, still has a message dated Feb 9, 2018 reporting a critical issue with WebRTC and iOS 11 saying a "mitigation will be released in the coming days". Not only has 7 _months_ passed without mitigation but iOS 12 has been released. What is the current status of this issue?

[2018-09-27 01:35] MarkCallow opened #150 "Can't search with DuckDuckGo Onion"
Tapping the DuckDuckGo .onion link in the bookmarks successfully takes you to the DDG search page but enter anything in the search field and tap the magnifying glass and all you get is a page that is empty but for the word "forbidden" in the top left corner.

This is 100% reproducible.  DDG .onion works fine in TorBrowser which is why I am reporting the problem here rather than to DDG.

[2018-09-27 21:34] tladesignz commented on #149
Yeah, this is unfortunate. Be patient with us, funding is coming in the near future and the homepage will get a refurbish.

Related issue: #117

[2018-09-27 22:32] MarkCallow commented on #149
Updating the homepage seems like a simple thing. I assume the real issue is lack of funding to make progress on issue #117. It too has stalled since Feb.

[2018-09-27 22:49] MarkCallow commented on #117
Just tested iOS 12. I changed Content Policy to Permissive then connected to https://browserleaks.com/webrtc. Below is the output. No IP addresses are detected but RTCPeerConnection and RTCDataChannel are both checked. Not sure if this means the issue is resolved or not.

![img_0161](https://user-images.githubusercontent.com/2244683/46178596-5863eb80-c26c-11e8-98fc-9ed36a22593d.png)

[2018-10-06 21:03] mtigas commented on #149
Yeah, sorry. I moved the site over to GIthub Pages recently so that new folks who come on (again, we just got some new funding) can help out with that (vs before, when it was hosted as part of my personal site).

My day job (@propublica) has kind of destroyed any spare time I have for side projects; though I've been lucky enough to have @tladesignz and others come on board during that stretch.

I'

[2018-10-06 21:03] #149 closed, assigned to nobody

[2018-10-07 00:07] MarkCallow commented on #149
OB is still showing the old home page. I suppose you need to make a new release to point it at the GitHub pages home page. I think you should keep this issue open until that's been done.

iOS 12 does seem to fix the problem. See my comment in #117 showing the browserleaks.com WebRTC test output when connected via Onion Browser.

[2018-10-15 23:28] mtigas commented on #2
Quick update on this: A lot of work has been done by the core tor folks to try to at least allow us to kill tor (separately from killing the app process) and start it back up later. See https://trac.torproject.org/projects/tor/ticket/25510 (this is basically the "in-process restart" stuff mentioned in sub-tickets linked from there).

Tor has been updated to something newer than 0.3.3.X, which mean

[2018-11-17 12:01] synth3 commented on #87
Thanks a lot!

Could you please put that kind of info in the readme.md?

[2018-11-17 12:14] synth3 opened #151 "Is this project still open source? Where is 2.1.0?"
Hi there,

the version (2.1.0) in the app store states that it's an "open source browser" - so where can i find the repo that contains the version 2.1.0? The latest tag I can see here is 2.0.3.

Am I missing something? Can someone please help me?

Cheers,
Andy

[2018-11-22 16:28] kamil6x opened #152 "Connect to Tor in background when opening app."
When starting the app. allow the user to start typing the internet address, while connecting to the Tor network in the background.  This will allow the user to start typing instead of having to wait for the Tor connection.

[2018-12-29 13:21] MarkCallow opened #153 "OB leaks real time zone, update list of caveats"
browserleaks.com shows that Onion Browser leaks my actual time zone.

[2019-01-01 14:14] bsprk opened #154 "Add open in new tab same as Safari"
Add option of open in new tab and open in background which both are same but one must chosen same as in safari

[2019-01-06 03:58] Lwxc0 opened #155 "Twitter playback"
first of all thanks for the great app, you have no idea how much it helps people like me.
Second of all recently i had a funny problem with twitter as i use the browser mainly to browse it due to the censorship in my country and to avoid any legal problem. anyway when i open a small video 6 or 7 sec max it works fine but when i try to open any video exceeds this it tells me "We cannot play the vid

[2019-01-13 22:06] mireksochor opened #156 "Facebook over Onion browser does not log in"
Login over Onion browser on https://www.facebookcorewwwi.onion does not perform the login action (login button go back to idle state) . Desktop Tor browser does not have that issue.

[2019-01-25 11:56] tladesignz commented on #121
Sorry, didn't want to close. @mtigas please review!

[2019-01-25 16:08] tladesignz commented on #121
Ah. That's a stupid "fix". It breaks code. There's a reason, why it is like that. I have an idea. Perhaps I can change POE, so that it accepts an explicit delegate.

[2019-01-28 10:30] tladesignz commented on #136
Seems you got frustrated with us, and I'm sorry for that. Organizing the funding and the time for further development took more time then everybody liked, but now we started again.

I'm sorry.

Anyway, I can confirm this is actually still a problem so I will reopen and fix!

[2019-01-28 10:39] #136 closed, assigned to nobody

[2019-01-28 11:24] tladesignz commented on #142
Awesome, Apple! https://stackoverflow.com/questions/46639519/avcapturemetadataoutputobjectsdelegate-not-called-in-swift-4-for-qr-scanner

[2019-01-28 12:33] #142 closed, assigned to tladesignz

[2019-01-28 12:59] tladesignz commented on #140
This actually seems connected to #121.

[2019-01-28 13:42] #121 closed, assigned to tladesignz

[2019-01-28 13:43] tladesignz commented on #140
Fixed with commit e1f42fbfa1ab7ee37c40f0e50d9006d8b2bca4fb.

[2019-01-28 13:43] #140 closed, assigned to tladesignz

[2019-01-28 16:36] tladesignz commented on #135
Actually, when testing with the latest test build, the feature works as intended.
Also, when I test with the (still current) 2.1.0 release, I can't reproduce this.

Maybe, there needs to be a special combination of things to do? Or one of the latest iOS updates fixed something, which didn't work well together with OnionBrowser?

@mtigas, can you reproduce this somehow?

[2019-01-28 18:51] gitatmax commented on #135
@tladesignz, I should've commented when I closed the issue—I tried again recently and couldn't reproduce whatever I had done before so closed it.

Thanks!

[2019-01-28 19:12] tladesignz commented on #137
Ok, so I got ahold of a Riseup invite, which was less annoying to get than actually install this SquirrelMail desaster. This thing is pretty old and Riseup currently uses RoundCube as default and only has SquirrelMail as a fallback option.

It's a really old application with no explicit JavaScript resources or any XHR loading or similar. Frames, some CSS and very limited inline JavaScript.

What t

[2019-01-28 19:30] mtigas commented on #137
Interesting. I tested it and it worked, but I also only tested using short message strings.

Probably worth testing if it works in vanilla Endless and/or another browser using UIWebView? Just to figure out whether it's specific to us or not. (@tladesignz I'll probably do that tonight (US Eastern time) if you haven't gotten to it yet.)

[2019-01-28 19:32] mtigas commented on #121
Sorry I didn't get a chance to look at this over the weekend, but the updated fixes look good to me! (That delegate is going to be _super_ helpful, I think.)

[2019-01-28 19:34] mtigas commented on #135
Great! I'm going to mark this closed. We'll open a new ticket if that behavior starts happening again.

[2019-01-28 19:34] #135 closed, assigned to mtigas

[2019-01-28 20:09] tladesignz commented on #137
Please do, I'm done for today.

[2019-01-28 20:11] tladesignz commented on #135
@maxwelljordanwhite: No worries!

[2019-01-29 10:43] tladesignz commented on #137
Ugh. Latest vanilla Endless works fine.
I suggest to first do #128, and then revisit this.

[2019-01-29 12:24] tladesignz commented on #137
Can confirm: works with latest updates from Endless upstream. So, this will be resolved with #128.

[2019-01-29 12:38] tladesignz commented on #128
Hrgl. I pulled the latest Endless code. Works so far. The only thing is: jcs set the minimum iOS version to 11. We're currently at 9. (Amazingly, Apple didn't drop support for that, yet, in Xcode...)

The main reason is, that the latest code uses calls to [`UIView.safeAreaInsets`](https://developer.apple.com/documentation/uikit/uiview/2891103-safeareainsets).

I could work around that, but that wo

[2019-01-29 15:34] DavidMOliver commented on #128
As you know Been, I'm out this week. I won't have a chance to look at this
until tonight.

It seems to me it's a concern to require too-new a release if iOS. In the
geographies we want to serve, do we have good info on release levels used?

Mike us this something we can discover on the store console? If so it would
be great if I could get console access to review this info.

Is there another optio

[2019-01-29 15:46] DavidMOliver commented on #128
Privately, I see that issue #128 is in activity 3, to be started 2 months
from now. Is the reason you're addressing this now due to using the #128
fix to also fix issues in activity 1?

Perhaps you've not been too heavily involved with the contracting aspects
of work for OTF, but to advise, the timing and positioning of issues and
activities is fixed as part of our contract with OTF. Our payment f

[2019-01-30 02:23] mtigas commented on #128
Hey @DavidMOliver , just invited your GP email to the App Store Connect panel. (LMK if you'd prefer an invite to a different email.) You should have access to the "Analytics" and "Sales and Trends" sections.

Gonna send an email to the list with some detailed CSVs I pulled out with some calculated totals, but here's a couple summary numbers. These are % of active sessions (* for users who have not

[2019-01-30 08:50] tladesignz commented on #128
@DavidMOliver, are you sure you want to discuss funding related stuff in the public? Please note, that I had to renumber milestones, because we already released a 2.1.0. So milestone 2.3.0 is actually activity 2.

Besides that, are you really telling me, that we don't fix stuff, because that's not in the order we agreed on before? Because things never change and OTF likes micromanagement? Are you

[2019-02-04 09:07] ingfabby commented on #128
@mtigas Hey Mike, I didn't get the invitation to the Apple store panel, could you please add me to it?
fabiola@guardianproject.info

[2019-02-12 16:04] tladesignz commented on #128
Removing off-topic comments.

[2019-02-12 17:42] tladesignz commented on #128
I fixed Endless and created a pull request to restore support of iOS 9:
https://github.com/jcs/endless/pull/72

I hope, jcs will accept.

[2019-02-12 18:06] tladesignz commented on #128
Here's the reply. Ouch.

Totally lost track of that aspect. He's quite right, actually.

We need to remove support for older iOS out of security concerns alone.

I don't like it at all, but we actually can't help the most vulnerable people with old phones out there.

@mtigas What's your take on this?

[2019-02-18 13:55] tladesignz commented on #120
Ok, I tested this with the latest dev version, no special settings needed, no explicit whitelisting.

- goo.gl is sunsetted. Cannot test there anymore.
- Recaptcha v2 Demos at https://www.google.com/recaptcha/api2/demo and https://recaptcha-demo.appspot.com seem to work just fine.
- Sometimes, one gets an exit node with an IP, which annoyed Google earlier. Then, there's no way to get authorized. W

[2019-02-18 13:55] #120 closed, assigned to tladesignz

[2019-02-18 14:50] tladesignz commented on #111
Here is the code from 1.X which ignored TLS errors with whitelisted domains:

https://github.com/OnionBrowser/OnionBrowser/blob/6ec0fdfcb5f44573a5f2a91b1850cea5e02ffbf2/OnionBrowser/OnionBrowser/WebViewController.m#L718

https://github.com/OnionBrowser/OnionBrowser/blob/6ec0fdfcb5f44573a5f2a91b1850cea5e02ffbf2/OnionBrowser/ConnectionKit/CKHTTPConnection.m#L167

It seems rather dangerous, as it see

[2019-02-19 14:47] tladesignz commented on #133
Already did some in a733d07 and e6c327e, partly because of #2, #121, #140 and #142  and to have it compile again on latest build environment.

However, keeping this open for revisit.

[2019-02-19 14:48] tladesignz commented on #111
Just had a video call with @mtigas. It was decided, that we want to provide that for people wh really know what they're doing (e.g. running their own onion service with self-signed certs.)

However, there needs to be an additional global switch, which enables this in the first place. Without that switch on, the user won't get the option to override at all.

[2019-02-22 16:14] tladesignz opened #161 "Update to Tor 0.3.5.8"

[2019-02-22 16:15] tladesignz commented on #161
Released a new Tor.framework version:

https://github.com/iCepa/Tor.framework/releases/tag/v305.8.1

Resolved with commit e2cb6063b48fcdbb445cee6b9999153ddc61985f.

[2019-02-22 16:15] #161 closed, assigned to tladesignz

[2019-02-24 20:06] nxame commented on #131
@tladesignz @mtigas I would like to help on UX/UI Polishing work. Please let me know more.

[2019-03-02 04:31] basebandlove opened #162 "Devices with a notch are not supported properly"
On devices that have the notch such as the X and newer the application doesn’t have proper support. The UI by default looks perfect but the main issue is when there is any sort of popup where the notch is (such as select/copy/paste) in the URL bar is inaccessible/blocked by the notch. This makes using the top URL bar very hard to use. You can reproduce these issues using any notch simulator.

The

[2019-03-05 11:38] tladesignz commented on #128
Fixed by latest merge.

[2019-03-05 11:38] #128 closed, assigned to tladesignz

[2019-03-05 11:39] tladesignz commented on #137
Fixed by fixing #128.

[2019-03-05 11:39] #137 closed, assigned to mtigas

[2019-03-05 11:42] tladesignz commented on #111
Fixed with commit e6fbbd2141139f08023f6699fa32af716f3ffaaf.

[2019-03-05 11:42] #111 closed, assigned to tladesignz

[2019-03-05 11:42] tladesignz commented on #143
Fixed by fixing #128.

[2019-03-05 11:42] #143 closed, assigned to nobody

[2019-03-05 11:44] tladesignz commented on #162
As per your comment on #128:

So you'll get a partial fix with release 2.2.0. I'll move this to 2.3.0 for finishing.

[2019-03-05 11:49] tladesignz commented on #2
Finally with release 2.2.0 there's going to be Tor 0.3.5.8 contained which will should fix this for good.

However, I'll leave this issue open and forward it to the next release 2.3.0 for collection of feedback.

Additionally, there's one small issue left, as we currently don't get progress/connection feedback on restarts from the Tor binary, which could lead to situations, when the background res

[2019-03-05 12:15] tladesignz commented on #69
Just stumbled over this in my old marked emails list.
Sorry, it was a tough year for OnionBrowser, but now we're back to it.
There's a related issue: #120
There's no fix for Recaptcha, actually it should just work.
Anyway we're going to release 2.2.0 soon, which improves a lot of things. (Better Tor, e.g.)

[2019-03-05 12:20] tladesignz commented on #87
Just stumbled over this in mail marked mails list.
It's noted here: https://github.com/OnionBrowser/OnionBrowser/blob/2.X/BUILD.md

[2019-03-05 12:22] tladesignz commented on #151
I guess @mtigas forgot to tag or to push his tags... @mtigas could you do that, please?

[2019-03-05 12:24] tladesignz commented on #151
...and the project *is* open source. However, you're not allowed to redistribute on the app store in binary form!

BTW: I tagged the latest commit now with "v2.2.0" as this is most probably going to be released soon. So you want to take that for your own research...

[2019-03-05 12:30] tladesignz commented on #155
Hey, thanks for the feedback!

We're releasing version 2.2.0 soon. Could you please check again with that version, when it's available?
Thanks for your patience until then!

[2019-03-05 12:40] tladesignz commented on #152
Sorry, this won't happen anytime soon. This would mean a complete redesign of the app. To my knowledge, there's no budget for this, currently and I'm not even sure, it's really doable, considering the different usage scenarios.

However, we will release v2.2.0 soon, which will finally support background restart of Tor, when the app is revisited. That will probably alleviate a lot of your pain.

[2019-03-05 12:40] #152 closed, assigned to nobody

[2019-03-05 12:47] tladesignz commented on #150
Sorry, I can't reproduce this. Not with the currently live version (2.1.0) nor with the latest master which will soon be released as 2.2.0.

It could be, that DDG blocks certain exit nodes, due to abusive behaviour by them. (Could even be unrelated to Tor).

Try to get different ones by restarting the app, that's the only advice I can give a.t.m.

Maybe it gets better with the new release coming s

[2019-03-05 12:47] #150 closed, assigned to nobody

[2019-03-05 12:49] tladesignz commented on #153
Sorry that it took us so long, however, here's at least *some* answer, unsatisfyingly, though:

As per @mtigas:

However, we most definitely need to update our communication and add this to our list of caveats.

[2019-03-05 13:16] tladesignz commented on #156
Can verify that behaviour with current version 2.1.0.
However, I can also very, that it will also work with the latest, soon-to-be-released, version 2.2.0.

Please be patient a few more weeks.

[2019-03-05 13:16] #156 closed, assigned to nobody

[2019-03-05 20:48] mtigas commented on #151
@synth3 yep, there is still active development on this app, and all work is open source. you can view this year's roadmap here: https://github.com/OnionBrowser/OnionBrowser/projects/2 you can generally see [the commit log](https://github.com/OnionBrowser/OnionBrowser/commits/2.X) to see how much activity has been going on. (yes, last year was very very quiet.)

as @tladesignz mentioned, the app th

[2019-03-05 20:48] #151 closed, assigned to mtigas

[2019-03-05 21:45] kamil6x commented on #152
Noted thanks for replying.

[2019-03-12 14:33] #138 closed, assigned to tladesignz

[2019-03-14 10:52] tladesignz opened #163 "Localization issues"
A translator wrote us:

[2019-03-21 03:30] PsiPhiTheta commented on #153
Where is the list of caveats? I can go ahead and fix this with a PR

[2019-03-22 11:51] tladesignz commented on #138
This actually made it in version 2.2.0.

[2019-03-22 13:57] tladesignz commented on #133
Did a last check. Currently up to date with all dependencies and translations. Further updates will happen while working on other stuff.

[2019-03-22 13:57] #133 closed, assigned to nobody

[2019-03-22 14:33] tladesignz commented on #163
The menu's label now auto-scale down to 50% of the normal size.

The Settings, however, cannot be improved further, as these are already auto-scaling. This translation just needs to become shorter!

[2019-03-22 14:33] #163 closed, assigned to tladesignz

[2019-03-22 16:30] #129 closed, assigned to tladesignz

[2019-03-22 17:09] tladesignz commented on #162
So, I found one bug with the latest release, where the address field is under the notch after tapping "Report a bug".

Everything else looks fine to me, though. Could you please test with the latest release 2.2.0, which is available since a few days?

If you manage to achieve a situation, where the UI breaks on iPhone X, could you please post a screenshot along with a description of how you ended

[2019-03-26 06:55] nbrsrk opened #164 "Homepage onions are currently broken (kCFErrorDomainCFNetwork error 120)"
Since recent update getting error 120.
On iOS 12.2 6s Not jailbroken
“kCFErrorDomainCFNetwork error 120.”
Version 2.2.0

[2019-03-26 13:38] tladesignz commented on #164
I guess, you're talking about this:

![kCFErrorDomainCFNetwork](https://user-images.githubusercontent.com/117089/55001125-35748300-4fd4-11e9-9b7c-194445b82703.png)

I'm sorry, I got so used of clicking that away, that I totally forgot to follow up on it.

@mtigas Do you have an idea, why that happens?

Some of our preloaded favorites are affected, too:

http://tigas3l7uusztiqu.onion/
http://3heens

[2019-03-26 13:44] n8fr8 commented on #164
Same issue with nytimes onion

![IMG_1527](https://user-images.githubusercontent.com/30851/55001793-be2af900-4fab-11e9-9ef3-c4e39c4ade9d.PNG)

[2019-03-26 13:45] n8fr8 commented on #164
however, notice the onion site still loads!

[2019-03-26 13:49] mtigas commented on #164
The onions for the default homepage(s) and those preloaded bookmarks (like my site) hit the same proxy server that I run -- I'll look today to make sure that these "error 120" things aren't actually being caused server-side on my end.

[2019-03-26 14:07] tladesignz commented on #164
@n8fr8 The error message is from the initial page load, which doesn't work. Notice the URL. Not the same as NYT, but identical to the one in my screenshot.

[2019-03-26 16:25] ingfabby opened #165 "Tor connection confirmation fails"
The latest update to the Onion Browser fails to confirm connection to the TOR network, giving an error message instead.

[2019-03-26 16:28] ingfabby opened #166 "Captcha looping after update"
Captchas don’t work anymore

[2019-03-26 20:30] mtigas commented on #165
#164

[2019-03-26 20:30] #165 closed, assigned to nobody

[2019-03-26 20:56] mtigas commented on #164
ok, i *think* the issues with `3heens4xbedlj57xwcggjsdglot7e36p4rogy642xokemfo2duh6bbyd.onion` and etc are fixed now. as i suspected, it was an issue on my end and not in the app itself.

please feel free to comment here or open a new ticket if you encounter any continuing issues with onion sites that you can confirm to be working elsewhere

[2019-03-26 20:56] #164 closed, assigned to nobody

[2019-03-26 21:13] tladesignz commented on #164
This one shows a 404:
http://tigas3l7uusztiqu.onion/onionbrowser/

Should we remove that from the bookmarks?

[2019-03-26 21:18] tladesignz commented on #166
Do you have an example?
Because this works: https://recaptcha-demo.appspot.com
And Recaptcha v2 is currently the most used captcha on the web.

[2019-03-26 21:38] ingfabby commented on #166
I don't,  a user posted it yesterday in the Apple App Store,  but l will
ask him.

On Tue, Mar 26, 2019, 2:18 PM Benjamin Erhart <notifications@github.com>
wrote:

[2019-03-27 17:59] ghost opened #167 "Unique fingerprint"
I have tried to protect from fingerprinting by disabling Javascript and spoofing useragent to Mozilla/5.0 (Windows NT 6.1; rv:60.0) Gecko/20100101 Firefox/60.0
However, the fingerprint is still unique because of extremely uncommon HTTP_ACCEPT Headers
Please check the issue on https://panopticlick.eff.org and implement an option to change HTTP_ACCEPT Headers to text/html,application/xhtml+xml,appli

[2019-03-28 10:03] nbrsrk commented on #164
confirmed. issue resolved. excellent. thanks!

[2019-03-29 19:44] ingfabby opened #168 "Open in Background Tab"
The last update has a problem with embedded images and proper spacing between the search bar and iOS info such as time and date.

[2019-03-29 22:13] HiddenAlx opened #169 "Address bar overlaps status bar on ipad."
You can see on the [picture](https://www.dropbox.com/s/6fz1yp2j24ovu85/IMG_0183.PNG)
iPad pro 10.5 inches, iOS 12.0, Onion Browser v2.2. Bug appears only in album orientation of iPad. There is no this bug in previous Onion Browser versions.

[2019-03-30 13:58] VectorABC commented on #123
As of 2019 this exact same bug has returned as a huge security hole since it forces JavaScript use just to see image-based captchas.

[2019-03-30 13:59] VectorABC commented on #168
Same bug as here in which disabling JavaScript also disabled images?:

https://github.com/OnionBrowser/OnionBrowser/issues/123#issuecomment-478248235

[2019-03-30 16:56] VectorABC commented on #168
...also, with JavaScript off we lose the popup menu option to open links in a new tab. That is an internal browser function, not JavaScript! Please enable it always and add a *background* tab option to make it practical.

[2019-04-02 13:18] tladesignz commented on #139
Issue #74 could be an interesting candidate for this.

[2019-04-02 16:21] #169 closed, assigned to tladesignz

[2019-04-02 16:21] tladesignz commented on #169
Thanks for recognizing this!

[2019-04-02 16:22] tladesignz commented on #162
Just recognized: iPhone X in landscape doesn't look as great...

[2019-04-03 08:07] tladesignz commented on #117
iOS 12.2 - WebRTC leaks IP address with default configuration:
- Allow WebRTC: No
- Content Policy: No XHR/WebSocket/Video connections

![Simulator Screen Shot - iOS 12 2 @ iPad Pro - 2019-04-03 at 10 04 01](https://user-images.githubusercontent.com/117089/55462871-0e333c80-55f8-11e9-81bb-581f1f29b654.png)

When Content Policy is changed to "Strict (no JavaScript, video etc.)", leak becomes imposs

[2019-04-03 08:21] tladesignz commented on #123
Thanks a ton for catching this - again!
It's a bug from upstream (Endless) which I reintroduced accidentally by merging the latest code from Endless.

I now pushed the change to a pull request to Endless, so this hopefully won't happen again.

[2019-04-03 08:28] tladesignz opened #170 "Make homepage onion services more resilient"
@mtigas, isn't this your server?

http://3heens4xbedlj57xwcggjsdglot7e36p4rogy642xokemfo2duh6bbyd.onion/

That address seems broken again. Can you look into this?

[2019-04-03 08:29] tladesignz commented on #170
![Simulator Screen Shot - iOS 12 2 @ iPad Pro - 2019-04-03 at 10 29 09](https://user-images.githubusercontent.com/117089/55464392-53a53900-55fb-11e9-86da-bbde535e3d11.png)

[2019-04-03 08:31] tladesignz commented on #168
You mean #123? I just fixed it.

You mean #169? I fixed that yesterday.

[2019-04-03 08:47] tladesignz commented on #168
Sorry, I can't reproduce that. I long-tap on a link and the expected pop-up pops up just fine. Can you take a second look and if your experience persists, can you give me more details? Device, iOS version, website used, exact link trying to be tapped, exact expected behaviour? Thanks a lot!

That's a great idea. I'll add that immediately!

[2019-04-03 09:01] tladesignz commented on #154
Fixed with commit be28dca0cda04deb3250362e96cb401c8a779a93.

[2019-04-03 09:01] #154 closed, assigned to tladesignz

[2019-04-03 16:37] tladesignz commented on #10
@mtigas: I had a first shot at an implementation, or better, an extension to the "Share URL" feature. (See referenced commit above.)

Currently, I have 2 issues:

1. How do I access the raw `NSData` of the `UIWebView`? It seems impossible. There is a feature to hack into the page with JavaScript, but that doesn't give me the raw PDF, just a made-up mini-markup embedding the PDF.

2. If there's no

[2019-04-03 16:38] tladesignz commented on #170
Did you fix it? Because it's working again.

[2019-04-03 16:53] MarkCallow commented on #117
@tladesignz, the "alt" title on the image you posted suggests it came from the iOS Simulator rather than a real iOS device. If this indeed was from the simulator, please test with a real device.

iOS 12.1 is fine. I just tested. But in view of this issue, I am holding off updating to 12.2.

[2019-04-04 12:24] tladesignz commented on #117
@MarkCallow Thanks for your input!

Just tested with a real device running iOS 12.2. Same issue.

Also tested on IOS 11.4 in the simulator. It leaks. But you're right: that could be due to the underlying MacOS 10.14.4.

Unfortunately, I don't have a device around which runs iOS 11.0 - 12.1.

So, thanks again for your input, I really appreciate it!

@mtigas: We need a security warning on the landin

[2019-04-04 12:36] ebelinski commented on #117
I just tested this on my iPad Pro 9.7" running iOS 12.2 and the latest version of Onion Browser from the App Store. As far as I can tell, my IP gets leaked as well. At first when I visited https://browserleaks.com/ip, it said `n/a` under "WebRTC Leak Test Public IP address". But then when I refreshed the page, I saw my real IP. See screenshots below.

![IMG_0004](https://user-images.githubusercont

[2019-04-06 22:25] VectorABC commented on #168
This is a big deal. Thanks immensely.

[2019-04-07 02:42] MarkCallow commented on #117
I wonder if this was ever really fixed in iOS 12. I'm running iOS 12.1 and I have just discovered that browserleaks.com's "What is my IP Address" page shows my real IP address in its 2-line WebRTC Leak Test section. However the full WebRTC Leak Test page shows "n/a" even after refresh. When I tested in 12.0, I only looked at the WebRTC Leak Test page.

I have no idea what browserleaks.com is doing

[2019-04-08 21:56] Baccount commented on #117
@tladesignz have you reported this leak to product-security@apple.com ?  They respond quickly and should be able to fix the ip Leak.
https://support.apple.com/en-us/HT201220

[2019-04-09 14:47] tladesignz commented on #117
@Baccount Thanks for mentioning that! @mtigas said, he will do this.

I did a little investigation.

The way we do blocking is by injecting either a Content-Security HTTP header or injecting JavaScript.

The "Content Policy" setting is done via the CSP header:

https://github.com/OnionBrowser/OnionBrowser/blob/a00405a02c7dcb103e1fbb9f7b3a8e8b2fdec446/Endless/URLInterceptor.m#L467-L472

The "Allow

[2019-04-09 20:08] MarkCallow commented on #117
I sent an e-mail 2 days ago to the address at the bottom of the browserleaks web page. So far no reply.

[2019-04-11 15:27] mtigas commented on #170
this corresponded with a provider outage that went about 12 hours. i think things have been back to stable since then.

[2019-04-11 17:38] mtigas commented on #117
Gah. Tested it more closely this week. Have held off on emailing Apple since I actually don't think this is the same as the iOS 11 Safari/WebKit behavior that revealed true IP even on VPN.

https://d2p12wh0p3fo1n.cloudfront.net/onionbrowser/20190411-130057-1262.mp4

No VPN:
* Safari: Real IP (i went too fast in this video so it shows "n/a", but webrtc got my real IP in other)
* Chrome (WKWebView):

[2019-04-12 04:57] mtigas commented on #170
It's down again and I think I know what it is, but I'm literally unable to fix that specific server until Monday. (I'm out of town visiting family and I don't have the necessary SSH key on any devices here.)

I'm going to see if i have a backup copy of the hidden service key so i can at least get _something_ running again.

[2019-04-13 03:40] jayhawk71 opened #171 "save image broken"
save image crashes to desktop without saving the image in latest public build

[2019-04-17 19:56] ingfabby opened #172 "Browser doesn’t display properly on 11 inch iPad"
Also, for some sites to work the browser needs to be completely opened up which could be problematic.

*We got this from a user at the Apple Store, I do not have an 11 Inch iPad so I can't test that.

[2019-04-17 20:04] ingfabby opened #173 "Please add the ability to add Onion Service v3 authentication keys."
*Request from a user on the Apple store

[2019-04-20 03:34] tbugfix commented on #166
The captchas worked when the strict No Java settings were on before the update, now they won’t work unless you have the  No XHR/ WebSocket setting on. The recaptcha demo may work but any captcha on tor, including all of the dark markets that require one...  you can’t see the captchas or any images. Did the Strict no Java not work on the last version or is there something wrong with the new update?

[2019-04-20 03:57] ghost opened #174 "Captchas Not Working After Update(Strict No Java)"
The captchas worked when the strict No Java settings were on before the update, now they won’t work unless you have the No XHR/ WebSocket setting on. You can’t see the captchas or any images on some sites. Did the Strict no Java setting not work on the last version or is there something wrong with the new update?

[2019-04-20 08:30] tladesignz commented on #166
Followed up in #174.

[2019-04-20 08:30] #166 closed, assigned to ingfabby

[2019-04-20 08:37] tladesignz commented on #174
Sorry, but this is too vague. As long as you can't provide an example/a URL of an example, we can't help you.
Besides, it may well be, that a captcha just doesn't work without JavaScript. However, you can't have the cake *and* eat it.

Same counts for images. There are sites, which use JavaScript for image loading.

Unfortunately, please be advised, that the iOS platform is not fully secure with J

[2019-04-20 08:37] #174 closed, assigned to nobody

[2019-04-20 12:43] ghost commented on #174
Even the test url from thread #166 doesn’t work without java script enabled on OB. I tried it last night.

Sent from ProtonMail Mobile

On Sat, Apr 20, 2019 at 3:37 AM, Benjamin Erhart <notifications@github.com> wrote:

[2019-04-22 00:09] ingfabby opened #175 "Orbot does not stop"
Device  Huawei nova 3i device
Android 9
  Orbot still running event when I push the stop button on the background and cannot access to any website

[2019-04-22 00:29] n8fr8 commented on #175
Please post on the Orbot issues. This is Onion Browser.

n Sun, Apr 21, 2019, at 8:27 PM, ingfabby wrote:

[2019-04-22 17:48] #175 closed, assigned to nobody

[2019-04-22 17:52] ingfabby commented on #175
Thanks,  sorry about that.

On Mon, Apr 22, 2019, 10:48 AM Mike Tigas <notifications@github.com> wrote:

[2019-04-23 09:04] Jeehut opened #176 "Add support for making Onion Browser the system default browser"
I've just read [this article](https://medium.com/spacebrowser/how-to-set-the-default-browser-on-ios-6d8ebc9cc9b) where the developers of [Space Browser](https://www.spacebrowser.io/) found an interesting way how users can actually set their default browser in iOS with a small trick. Basically, the steps required are:

1. Open the Settings app
2. Tap "Screen Time"
3. Tap "Content & Privacy Restrict

[2019-04-23 13:29] mtigas commented on #170
Fixed, and I've got a copy of the `hs_ed25519_secret_key` so provisioning replacements shouldn't take too long in the future.

I'll look into putting up OnionBalance so I can get some redundancy which wouldn't require human intervention.

[2019-04-24 13:25] tladesignz commented on #174
That example doesn't work on *any* browser without JavaScript. Recaptcha just doesn't work without JavaScript. Probably many don't, nowadays. That's annoying, but there's no way around that, for a browser.

[2019-04-24 13:30] tladesignz commented on #171
Already fixed with commit d1e48d1

See #10 for history.

[2019-04-24 13:30] #171 closed, assigned to nobody

[2019-04-24 13:39] tladesignz commented on #168
You're welcome!

[2019-04-24 13:39] #168 closed, assigned to tladesignz

[2019-04-24 13:41] tladesignz commented on #173
Related to #74.

[2019-04-24 13:53] tladesignz commented on #172
Well, unfortunately, this is not very precise.
Maybe #169 was meant. That is fixed.

Regarding the "completely opened up". Not sure what's that supposed to mean. Maybe the split view/slide over features?

Look good to me with the latest developer version.

![Simulator Screen Shot - iOS 12 2 @ iPad Pro 11  - 2019-04-24 at 15 48 30](https://user-images.githubusercontent.com/117089/56664625-b80e6200-

[2019-04-24 13:53] #172 closed, assigned to nobody

[2019-04-24 13:54] tladesignz commented on #172
(And, yeah: Not every website likes it, if it doesn't have enough width. Nothing, which OB could change, though...)

[2019-04-25 17:45] n8fr8 opened #177 "Still get the "Can't connect to Tor: Quit App?" dialog even though not necessary"
With build 2.2.0 (20677.510639058), every once and awhile I get the big ugly dialog about losing the connection to Tor, and the prompt of "Ok" or "Quit App".

If I hit, "ok" and just try to resume using the app, it seems to still be connected to Tor, and I can access sites, even onions, without problem.

Can we remove that unnecessary dialog?

[2019-04-26 18:53] r3ckd opened #178 "iOS seems to be leaking OCSP outside of Onion Browser"
**UPDATE, JUNE 15 2019: See advisory note & summary about this leak**:
[2019-178: sites with EV HTTPS certificates leak information via OCSP](https://github.com/OnionBrowser/OnionBrowser/wiki/2019-178:-sites-with-EV-HTTPS-certificates-leak-information-via-OCSP)

Original GitHub issue:

---

Onion Browser on iOS is leaking data about some visited sites (both
onion services and clearnet hosted serve

[2019-04-30 13:38] tladesignz commented on #131
https://github.com/xmartlabs/Eureka

[2019-04-30 13:45] tladesignz commented on #131
- Browser chrome improvements
  - toolbar at bottom instead of dropdown?
  - Get rid of the url-bar-at-bottom feature?
  - copy Safari completely?
- Reorganize settings, maybe change wording

[2019-04-30 13:46] tladesignz commented on #131
Check issue #132 for the Tor circuits stuff.

[2019-05-03 09:31] tladesignz commented on #10
Just checked, how image saving is implemented:

https://github.com/OnionBrowser/OnionBrowser/blob/dfac7d8a38d1fc158a88e7da35669e32c4836d97/Endless/WebViewTab.m#L793

[code]

That has 3 issues:

1. It needs to re-load the image, although `UIWebView` already did that.
2. It loads *synchronously*. With images, that's normally not much of a problem, but still not good.
3. The HTTP user-agent header is

[2019-05-03 10:08] tladesignz commented on #177
I left it in the code, because it still could be, that we can't reconnect.

For an unknown reason, we can't read the answers on the control port after restart, so there's currently no way to recognize that situation and help the user recover (like re-initing Tor).

I guess, if you're too fast with continuing surfing after restart, you'll see that alert?

[2019-05-03 13:16] #134 closed, assigned to tladesignz

[2019-05-03 19:11] n8fr8 commented on #178
Interesting comments here: https://stackoverflow.com/questions/5625642/crl-and-ocsp-behavior-of-ios-security-framework

"To sum it up, there are several things to keep in mind for OCSP implementation on iOS:

    OCSP policy cannot be configured at this moment
    it works for the EV certificates only
    high-level stuff, such as NSURLConnection or UIWebView use TLS security policy, which uses OC

[2019-05-03 19:13] n8fr8 commented on #178
and here: https://web.archive.org/web/20121026094830/http://www.inmite.eu/en/blog/20120302-details-certificate-revocation-mechanisms-on-ios-iphone

Seems like this only happens with "EV" certificates

[2019-05-03 19:20] mtigas commented on #178
interestingly enough, there's a block here that i believe is used for determining trust/validity and EV status https://github.com/OnionBrowser/OnionBrowser/blob/f211932ad6ec534096e1c71efe4f339ab784a908/Endless/SSLCertificate.m#L34-L54

but all of those functions ([SecTrustGetCertificateAtIndex](https://developer.apple.com/documentation/security/1395987-sectrustgetcertificateatindex?language=objc),

[2019-05-08 06:46] Satyendrabhati opened #179 "Browsing Issue"
How to connect or use Onion Browser Without Connecting Tor.I am little bit Confused to Establish Connection With browser Without tor.

[2019-05-08 17:21] tladesignz commented on #179
Sorry, Onion Browser cannot be used without Tor. That's the whole point of it. May I ask, what's your reason to want this?

[2019-05-09 06:18] Satyendrabhati commented on #179
Our Development team integrated all the functionality of onion browser and add more features to make our product batter.it will work fine but our client need is that search the urls without tor also so we have facing this issue and this is not possible to deliver the same project on time with other browsers.

[2019-05-09 16:14] mtigas commented on #179
Please see [Endless](https://github.com/jcs/endless), which is the base browser that Onion Browser is based on. It contains the same user interface and some of the same privacy settings, but it does not include Tor. Onion Browser is explicitly designed as a browser which integrates Tor.

**Important note**, since it appears that you are utilizing this for some manner of product: The license for bo

[2019-05-09 16:14] #179 closed, assigned to nobody

[2019-05-10 12:09] Satyendrabhati commented on #179
So what’s the plan or pricing for purchase the licence of onion or endless.

On Thu, 9 May 2019 at 9:45 PM, Mike Tigas <notifications@github.com> wrote:

[2019-05-10 14:26] r3ckd opened #180 "Drop 1Password entry from Settings Menu"
iOS new releases already allow multiple password-managers (if they are installed). This issue stems from UX review.

[2019-05-10 14:36] r3ckd opened #181 "Settings Menu - move "informational settings" to subordinate menu"
"URL Blocker" and "HTTPS Everywhere" are lists of URLs that are either being blocked (first) or are part of HTTPS Everywhere (second).  There are no actual user actions to take relative to these items.  So, it is useful information but not actionable.  Create a sub-menu for these.

[2019-05-10 14:58] r3ckd commented on #74
UX discussion: user needs a facility for entering keyword/value pairs and then have those immediately sent to TOR.  Option to enter "raw text" or pairs and then [APPLY] button to set.  TOR will respond to those setting events, needs to be a UX for receiving that response.

[2019-05-10 15:15] r3ckd opened #182 "Endless UX: how to properly show certification (and onion) information?"
Current exposure of cert information not too informative to user.  Mechanism for accessing security status (onion or HTTPS) information not well-designed from user perspective.  Tor Browser for desktop is good role-model for this UX (Firefox itself also good).

[2019-05-10 15:17] r3ckd commented on #182
Firefox on iOS -- useful as a mobile app example (instead of Tor desktop app)

[2019-05-10 15:22] r3ckd opened #183 "Endless UX: tabs - how to access and manage?"
currently, in the multiple-tabs page, you always only see one tab at a time (scroll left and right).  This can be a pain if you have many tabs open (much L-R scrolling).   Other browsers show examples of other ways (Firefox, eg).

[2019-05-10 15:31] r3ckd opened #184 "Endless UX: review of toolbar and drop-down menu design"
improvements to the opening "scene" of OB.
a. can toolbar "fade away" when scrolling
b. "toolbar on bottom" setting (global settings) does not work properly in some releases.
c. should there be two toolbars a la Safari?
d. iPad vs iPhone difference or not?

[2019-05-10 15:48] mtigas commented on #179
Please contact @jcs directly, as he is the author of Endless. See the Endless readme https://github.com/jcs/endless/blob/master/README.md ; there is a link to his contact information there.

[2019-05-10 16:09] tladesignz commented on #182
Related to #132 .
Ultimately, all Tor and TLS aka. SSL aka. HTTPS infos should be available here.

[2019-05-10 16:12] tladesignz commented on #74
Note to myself: Need to have a look at the Tor config code again, to define, how the format of additional config options needs to be, which will partly define the UI.
Will reply here.

[2019-05-10 16:14] tladesignz commented on #139
Note to myself:
- investigate how OB is notified about changes in Settings.app while it runs (iPad side-by-side!)

[2019-05-13 03:06] GentleNi opened #187 "App crashes everytime I start after I configure bridge"

[2019-05-13 06:46] Satyendrabhati commented on #179
Hello Mike,
          Good afternoon,
          Trust you are doing good, We have a problem may you help us out.Problem is that we need to search URL's With and without tor also in my app and we have already implemented project with Onion Browser.We will definitely purchase the licence but you already told that Onion is not work without tor and Endless Does't Support tor functionality.

I Will wai

[2019-05-13 07:17] GentleNi commented on #187
![image](https://user-images.githubusercontent.com/8778040/57602608-29e41800-7592-11e9-966e-c6ce4bc844fc.png)

[2019-05-13 08:25] tladesignz commented on #187
Unfortunately, this is not a crash, but the Tor connection attempt timing out. I'd say, the bridge you're using is blocked in your country.
Are you in mainland China?
Which bridge where you using?

[2019-05-13 08:32] GentleNi commented on #187
Thanks for your reply.
Yep I'm in China.
The bridge is deployed on a U.S. server， which use obfs4 plugin. But I can connect to tor on Windows Tor Broswer using this bridge.

Also I can connect  on ios by using meek plugin  why not obfs4?

[2019-05-14 13:30] mtigas commented on #187
@GentleNi After configuring your obfs4 bridge, can you try to [force-quit the app](https://support.apple.com/HT201330) and open it again? (We previously had an issue, #140, where if you change the bridges, the setting does not actually take effect until the app is quit and then started again. It was fixed, but maybe we might be having that issue again.)

We'll also do some more research over the n

[2019-05-14 13:54] tladesignz commented on #187
Ok, did some testing. It seems, changes to the bridge configuration aren't properly adapted anymore.

That's definitely something to fix.

Anyhow, @GentleNi, can you try changing to your preferred obfs4 bridges, then force-quit the app (pushing the app card out of the app overview) and then restart? It should work then. Would be nice, if you could check that. Thanks!

[2019-05-14 14:10] GentleNi commented on #187
I re-download the onion broswer again, and follow your steps.
It crash again.
Here is my steps:
1. re-download app
2. click setting button-> select "custom bridge"->paste my bridge config->click back button
 -> click Done button
3. force quit the app
4. restart app, then it crash again

------------------ 原始邮件 ------------------
发件人: "Benjamin Erhart"<notifications@github.com>;
发送时间: 2019年5月14日(星期

[2019-05-14 14:14] GentleNi commented on #187
and my device is iphone7, ios 12.2

[2019-05-14 20:26] tladesignz opened #188 "Leak stop: Tor via Network Extension"
https://github.com/Lax/iOS-Swift-Demos/tree/master/SimpleTunnel
https://github.com/zhuhaow/tun2socks
https://keybase.io/zhuhaow/

[2019-05-15 15:21] tladesignz opened #189 "Fix wording after translation sprint"
"Minimum version of TLS required by hosts to negotiate HTTPS connections"
"Minimum version of TLS required by this host to negotiate HTTPS connections"

This should rather be "for" instead of "by".

[2019-05-15 15:50] tladesignz commented on #189
Ok, so I didn't wait. Rather use the sprint.

[2019-05-15 15:50] #189 closed, assigned to tladesignz

[2019-05-21 13:46] mtigas opened #190 "Upgrade tor to v0.4.0.5"
tracking this in tor.framework: iCepa/Tor.framework#45 , this ticket partially exists as an entry for project tracking

[2019-06-04 13:25] mtigas commented on #67
Think this is a duplicate of #132 (setting up some UI for looking at the current circuit(s))

[2019-06-04 13:25] #67 closed

[2019-06-05 19:56] ingfabby opened #191 "Save Image causes shutdown on iPhone SE"
Reported after the last release on May 21, 2019, on the Apple app store.

[2019-06-05 20:00] ingfabby opened #192 "Unable to turn off JavaScript"
App Version 2.2.1
Reported on May/24/18 on the Apple app store

[2019-06-05 20:12] ingfabby opened #193 "Toolbar overlap"
I had to move the toolbar down to the bottom because it overlaps with the top status bar of the iPad (time, battery indicators, etc.). It is really difficult to have it respond to tap when the toolbar is conflicting with the iOS status line at the top.

[2019-06-05 23:41] zoof commented on #117
I have 12.3 and if I’m understanding it correctly, it appears to be fixed (looks like https://github.com/OnionBrowser/OnionBrowser/issues/117#issuecomment-425266738).  12.3.1 is available any way to tell if it is safe to upgrade?

[2019-06-06 17:35] m4mb01t4l14n0 opened #194 "Lock Screen from Home Button"
user comment:  the ability to lock/unlock the browser screen with the Home button like the DuckDuckGo browser does. Blurring the backgrounded snapshot is very good, but anyone can tap it and immediately see the web page you were reading. (Yes, there are plenty of users who still have and use the home button.)

[2019-06-06 17:36] m4mb01t4l14n0 opened #195 "Switch to ("rotate among") Tor circuits when Tor is slow"
user comment: Also needs the feature to auto-select or rotate to a different TOR connection if the one in use is very slow.

[2019-06-06 18:09] mtigas commented on #192
Javascript can be disabled inside the "Host Settings" menu.
* To disable Javascript globally, the "Default Settings" item should be selected.
* To disable Javascript for a specific site, the plus (+) sign can be used to add a domain.

Inside this menu, settings "Content policy" to "Strict" will disable Javascript and other features which may cause information leaks.

Just tested this and can confi

[2019-06-06 18:09] #192 closed, assigned to nobody

[2019-06-06 18:10] mtigas commented on #192
Should probably have some text inside the "Global Settings" page that notes this, though.

[2019-06-06 18:15] MarkCallow commented on #117
It is not fixed in 12.3. It was not fixed in 12.1 and probably not in 12.0 either despite what the OB homepage says.

The problem is that if you go to  the dedicated WebRTC page, https://browserleaks.com/webrtc, it shows "n/a" for Public IP address giving a false sense of security. However if you go to the overview page, https://browserleaks.com/ip, under _WebRTC Leak Test_, "Public IP" address sh

[2019-06-06 18:15] mtigas commented on #195
This is a sub-task of #132 (menu thing to show the current tor circuit). It's the "new circuit" button here:
![Screenshot from 2019-06-06 14-12-14](https://user-images.githubusercontent.com/53129/59056073-54f61a80-8865-11e9-884e-c26b205e10c0.png)

(Not sure if we just want to close this one and make sure this is part of the spec for working on #132.)

[2019-06-06 18:21] zoof commented on #117
On my device, https://browserleaks.com/ip, the WebRTC Leak Test shows n/a for public IP.

[2019-06-06 18:21] mtigas commented on #194
Right. This is not unlike the "Screen Lock" feature in Signal, which locks the app when you switch out of it, and then requires either your PIN/passcode or Touch ID / Face ID (if enabled).

I've had it as a low priority (and I've been on the fence as to whether it's even an effective feature or not), and just kind of forgot about it. So let's leave this one open so we don't forget.

[2019-06-06 18:22] m4mb01t4l14n0 commented on #195
Okay Mike that's great. I will close or delete that task.

On Thu, Jun 6, 2019, 2:20 PM Mike Tigas <notifications@github.com> wrote:

[2019-06-06 18:23] MarkCallow commented on #117
@zoof, Did our messages cross or did you not read what I wrote?

[2019-06-06 18:23] m4mb01t4l14n0 commented on #194
Is this something we'd like carries input on in terms of user experience or
is this pretty straightforward for you to do?

On Thu, Jun 6, 2019, 2:21 PM Mike Tigas <notifications@github.com> wrote:

[2019-06-06 18:25] MarkCallow commented on #117
Sorry, I misread the URL in your comment.

What device do you have? I have an iPad Pro. Try refreshing the page showing https://browserleaks.com/ip.

[2019-06-06 18:26] MarkCallow commented on #117
@zoof Did you enable JavaScript? i.e set Content Policy to "No WebXHR/WebSocket/Video connetions?"

[2019-06-06 18:29] zoof commented on #117
I have an iPhone SE.  Repeated refreshes show Public IP of n/a.

Yes, Content Policy is "No WebXHR/WebSocket/Video connections".

[2019-06-06 18:32] MarkCallow commented on #117
Hmm? Very strange. How could the same iOS version, 12.3.1, give different results? Are you sure you are on https://browserleaks.com/ip and not on  https://browserleaks.com/webrtc?

[2019-06-06 18:33] zoof commented on #117
I have 12.3, not 12.3.1.  Definitely https://browserleaks.com/ip.

[2019-06-06 18:43] ebelinski commented on #117
@zoof Can you provide a screenshot of the results?

[2019-06-06 18:53] zoof commented on #117
Sure.

iOS version:
![IMG_0116](https://user-images.githubusercontent.com/1737483/59058324-65f55a80-886a-11e9-89f6-0623ccd62862.PNG)

https://browserleaks.com/ip:
![IMG_0115](https://user-images.githubusercontent.com/1737483/59058485-bec4f300-886a-11e9-9c75-9d64e656ba79.PNG)

[2019-06-06 18:56] ebelinski commented on #117
Ah I see, thank you @zoof.

In any case, I have iOS 12.3.1 and my IP is still leaking on https://browserleaks.com/ip. So maybe it was fixed in 12.3, but if it was, this issue is back in 12.3.1. I also tried this on iOS 14 developer beta 1 on an iPhone SE and I _still_ saw my real IP leak.

Overall I'm _very_ concerned for the users of Onion Browser. JavaScript is still enabled by default, and we s

[2019-06-06 23:31] zoof commented on #117
Strangely, after playing around with the content policy settings, it now displays my IP address unless I disable everything.

[2019-06-08 22:23] seanri2112 commented on #117
So I’m one of those that thinks I’m safe when obviously I’m not. I have an iPad Pro 12.9 inch. Strictly WiFi. I have tried everything to find where to disable webrtc and java but I see no clear way of doing that in onion browser. What’s the secret to doing this? Java is disabled in Safari but I’m not using Safari and I see no onion browser in my list of apps in my settings. Any help in my ignoranc

[2019-06-08 22:32] seanri2112 commented on #117
Also when I check my ip over a vpn there is no leak. Is this falsely safe or no better then safari with a vpn?

[2019-06-08 22:43] ebelinski commented on #117
Hi @seanri2112, finding this option is a little hard because it's not under the "Global Settings" option that one would normally expect it to be in. Here are the steps to disable JavaScript:

## Step 1: Click on the gear icon in the top-right.

![IMG_1200](https://user-images.githubusercontent.com/4406614/59152946-6df0fe00-8a14-11e9-890a-91bcdbb839c0.jpg)

## Step 2: Select "Host Settings".

![IMG

[2019-06-08 22:52] seanri2112 commented on #117
Thanks Ebelinski. Seems so simple now! Haha. Isn’t all this mitigated by just using a vpn with onion?

[2019-06-11 12:15] dingos1 commented on #123
Sorry, despite the patch, this doesn't seem to be fixed on 2.X right now (or maybe I'm doing it wrong). I can build and run just fine, and the CSPheader seems to be set correctly, but no images show up in strict mode (works fine in other modes).

`[HostSettings] [Tab 0] CSP header is now connect-src 'none'; default-src 'none'; font-src 'none'; media-src 'none'; object-src 'none'; sandbox allow-for

[2019-06-14 09:20] tladesignz commented on #123
D'oh! It's `img-src`, not `image-src`.
Also did some evaluations and removed superfluous and broken policies.

[2019-06-14 09:35] tladesignz commented on #193
I did some quick testing with different iOS versions (11.4 and 12.2 - the ones we currently support) and different devices (iPad mini 2, iPad Pro 11" and iPad 5th gen) and couldn't reproduce with our latest version.

However, there's a commit f38a03087b0ffd4d8b369192e5765e2169aacc84, which fixes issue #169  and was already released with version 2.2.1. Could it be that somebody is lagging behind? M

[2019-06-14 11:02] tladesignz opened #196 "Disabling JavaScript on pages disables internally used evaluations"
When setting content policy to "strict (no JavaScript, video, etc.)", internally used calls to evaluate something on a page are also disabled.

We use the [stringByEvaluatingJavaScriptFromString](https://developer.apple.com/documentation/uikit/uiwebview/1617963-stringbyevaluatingjavascriptfrom?language=objc) call quite often, e.g. here:

https://github.com/OnionBrowser/OnionBrowser/blob/cbe6e61c1d

[2019-06-14 11:11] tladesignz commented on #191
I can't reproduce this. However, I have an idea: The image unfortunately needs to be re-downloaded, despite having done so already. This is done in the foreground thread which therefore freezes the UI, when the image is bigger and/or the device is slower.

Maybe that's what caused a freeze, which made the user think it got shutdown. Or some system watchdog actually came by and really killed the ap

[2019-06-14 23:16] mtigas opened #197 "Update App Store screenshots (new: iPhone 6.5-inch and iPad 12.9-inch 3rd Gen)"
Looks like we've got to get some new assets into https://github.com/OnionBrowser/OnionBrowser/tree/2.X/AppStore/Screenshots

Will try to do some of these over the weekend so I can submit 2.2.1 for review. I've got Search Ads already configured based on David's notes from last time we ran them (just paused the campaign after I configured it), so I think everything else is ready to go.

---

*edit:

[2019-06-14 23:19] mtigas opened #198 "Localize / refactor in-app donations"
I pulled in some old in-app purchase code in 0c4191f75619832cf110cf681f1c1f14698bd8d9 that seemed to be lost along the way. I know I had it in some very early 2.0 release, but I must've been deploying off of a branch or something?

This should totally be rewritten first of all. Second, it'd maybe be a good idea to make the paragraph content live external to the app (possibly same `.onion` service

[2019-06-14 23:27] mtigas commented on #196
Ooof. This one seems kind of impossible to tackle since _all_ of it (not just the coordinate calculations) require executing JS on the page.

In terms of the first part, I think we _might_ be able to calculate / end up with `CGPoint tapOnPage = CGPointMake(tap.x * ratio, tap.y * ratio);` via some method that doesn't involve JS (like, maybe get `ratio` from CSS or something in `UIWebView` or some c

[2019-06-15 21:13] mtigas commented on #197
OK, just to keep track; this is where it's at as of the v2.2.1 that I just tagged on 87902a7cde55977154f1a6d4cc0cc34aff458e09

---

**New sizes:** (If not complete, App Store will fall back to English screenshots.)

6.5 phone (Xs Max, Xs, etc. replaces 5.8 inch size for X/Xs):
- [x] English
- [ ] Arabic
- [ ] Dutch
- [ ] French
- [ ] German
- [ ] Japanese
- [ ] Norwegian
- [ ] Portuguese (Brazil)

[2019-06-15 22:26] mtigas commented on #178
I have documented everything I know about this bug (basically summarized my research that I spewed out in chat a couple weeks ago) on the GitHub wiki for the app:

https://github.com/OnionBrowser/OnionBrowser/wiki/2019-178:-sites-with-EV-HTTPS-certificates-leak-information-via-OCSP

I'll be linking to it from the homepage, default app homepage, and other places I think.

[2019-06-16 01:50] Fonta1n3 opened #199 "Seeking guidance..."
Hi, thanks for the great app and general work, it is greatly appreciated.

I have been developing an open source, free bitcoin wallet that allows passionate bitcoin users to connect directly to their full node to power the backend of the app.

The dream is to allow connectivity by Tor hidden service as this is optimal for bitcoin usage.

I am using Tor.framework to do this and have gotten as far a

[2019-06-18 20:24] tiffrobo opened #200 "Remove a feature listed on the website"
Under the features and benefits section on the website, need to remove the second main bullet point from the list.

"Fight online tracking: use a new IP address and clear your cookies/history/cache by pressing one button."
<img width="653" alt="Screen Shot 2019-06-18 at 3 21 00 PM" src="https://user-images.githubusercontent.com/30634981/59717110-00e02400-91dd-11e9-8de9-26a4a6b3029f.png">

Found on

[2019-06-20 07:28] tladesignz commented on #199
In OnionBrowser, we use a (deprecated, yes, we know) `UIWebView` and intercept its calls with https://github.com/OnionBrowser/OnionBrowser/blob/2.X/Endless/URLInterceptor.m

https://github.com/OnionBrowser/OnionBrowser/blob/4ee850035c7cb0428a89261b6031318635da4594/Endless/AppDelegate.m#L38-L39

Check it out, if that can help you!

[2019-06-20 07:32] tladesignz commented on #197
Maybe we should spend some time and do another try to automate that with http://fastlane.tools ?

Last time, though, there were race conditions and thread blocks during the Tor startup phase. In general, I'm not very impressed with Fastlane. Everytime I tried to use it, it generated more work than it should relieve me of. The only thing which works great is the app icon generator plugin. :-/

[2019-06-20 07:35] tladesignz commented on #198
Done with commit 4ee850035c7cb0428a89261b6031318635da4594.

[2019-06-20 07:35] #198 closed, assigned to tladesignz

[2019-06-20 07:36] tladesignz commented on #190
Done with commit 49cd437b8c25ea503e025bef4c99364fa9b3bef3.

[2019-06-20 07:36] #190 closed, assigned to mtigas, tladesignz

[2019-06-21 10:43] Fonta1n3 commented on #199
Thanks for the hint! Greatly appreciated. Interestingly I found another framework CPAProxy and others have had the same issue I am having with that framework. Will check this out and revert.

[2019-06-24 05:16] VectorABC commented on #168
The open in background tab only appears with JavaScript enabled.

[2019-06-24 10:00] tladesignz commented on #168
@VectorABC: Thanks!

I already experienced this and we're tracking the root cause here: #196

[2019-06-25 18:01] ingfabby opened #201 "Unable to access Duckduckgo"
After the last update when trying to access Duckduckgo a "forbidden" message shows on the screen.

iPad mini
6/25/19

[2019-06-27 18:33] ingfabby opened #202 "Unable to perform a search on Google"
iPad Mini

I get this screen whenever I try to search for
![604D619D-F788-487B-9656-7AD6E1C4234A (1)](https://user-images.githubusercontent.com/28932186/60291249-2c9b9200-98e0-11e9-926a-6c21b23b1261.png)
 something on Google using the browser.

[2019-06-27 18:36] ingfabby opened #203 "Open link in new tab missing"
Reported on the Apple App Store
Version 2.2.1

After the update, the option " Open link in a new tab" is missing.

[2019-06-27 18:42] n8fr8 commented on #202
This is a standard message that Google often shows if you are using Tor and trying to search.

The issue here is that we aren't showing the captcha "pick all images of cars" step for some reason.

[2019-07-02 14:05] r3ckd commented on #201
It seems like this is just crying out for a better UX for Tor connection failures.  From @n8fr8 (chat): it seems like there needs to be an easy "Try Again" type button, that creates a new circuit... it could be shown whenever there is a non 200 response code from the webpage... i suppose like 403 Forbidden

[2019-07-05 19:28] mirokuratczyk commented on #178
Upon seeing this issue we realized that our project (https://github.com/Psiphon-Inc/endless), which relies on proxying UIWebView with an NSURLProtocol subclass, has the same issue with OCSP requests leaking in plaintext.

### Our Solution

This is just a quick overview, but we can provide more details or provide instructions on how to integrate OCSPCache.

#### OCSPCache

https://github.com/Psipho

[2019-07-09 14:54] tladesignz commented on #178
@mirokuratczyk This is great, thanks a lot!

Can you point me to the place where you use this, so I can get an idea? Or is that part of Psiphon closed source?

Unfortunately, we can't add the package just like that, as we're using Swift, also, which makes OpenSSL-Universal unusable due to the statically linked libraries.
(See an explanation about this here: https://github.com/googlemaps/google-map

[2019-07-09 16:17] mirokuratczyk commented on #178
@tladesignz No problem!

We use this in our NSURLProtocol subclass [here]( https://github.com/Psiphon-Inc/endless/blob/328e27c309ceaac1e750fe5e5003c9ba3aa2deba/External/JiveAuthenticatingHTTPProtocol/JAHPAuthenticatingHTTPProtocol.m?ts=4#L1072-L1129).

Also, we have sample apps which we updated to use OCSPCache as well: [TunneledWebRequest](https://github.com/Psiphon-Labs/psiphon-tunnel-core/tree/

[2019-07-10 14:53] tladesignz commented on #178
@mirokuratczyk Awesome! Thanks a ton!

[2019-07-12 14:34] tladesignz commented on #117
@mitgas: Maybe we're able to avert recovering access to WebRTC objects.

Had an interesting discussion.

This is about JavaScript which is injected to resist fingerprinting, but the technique itself maybe works for us, too:

https://github.com/arthuredelstein/browser-privacy/tree/resist-fingerprinting-js
https://github.com/arthuredelstein/browser-privacy/blob/resist-fingerprinting-js/resist-finger

[2019-07-13 10:22] n8fr8 opened #204 "(RESEARCH) Look into SAT Tor Alt Services domains"
Tor researchers have some new ideas how to map friendly names into Onion Services V3. We should see what we can do with that!

[2019-07-13 10:23] n8fr8 commented on #204
https://satis.system33.pw/

https://github.com/pastly/satis-selfauth-domains

[2019-07-14 11:37] tladesignz opened #205 "Update default OBFS4 bridges on build"
There's a source of truth for current default OBFS4 bridges:

https://trac.torproject.org/projects/tor/wiki/doc/TorBrowser/DefaultBridges

Here is a file which is updated from that in time, which seems more easily parsable:

https://gitweb.torproject.org/builders/tor-browser-build.git/tree/projects/tor-browser/Bundle-Data/PTConfigs/bridge_prefs.js

We should have a script which reads that and inte

[2019-07-18 21:56] mirokuratczyk commented on #178
We have found a few bugs in the OCSPCache code while reviewing it with Apple through a support ticket.

Quick summary below:
- The policy to check that the common name of the certificate matches the hostname of
  the request gets removed in `SecTrustSetPolicies`
- OCSP is unintentionally disabled for intermediate certificates (unless there are
  responses cached by the OS). We have two options:

[2019-07-22 12:27] Losason opened #206 "public ip is displayed. how to hide?"
Have visited the site https://browserleaks. com/; with the Onion Browser on the iPad. Why does webRTC Leak Test show my IP address at Public IP address? And what can I do about it?
(I find the browser somewhat pointless, if then my real IP is indicated. )
much thanks
kind regards

[2019-07-22 12:36] tladesignz commented on #206
Duplicate of issue #117.

Yeah, we know. It's difficult. Please check open issues before creating new ones. Thanks!

[2019-07-22 12:36] #206 closed, assigned to nobody

[2019-08-19 05:10] Fonta1n3 commented on #199
Finally able to start working on this again. I will give the simplified interceptor at the bottom a go.

My question is what is the difference between running Tor on the ios device as compared to simulator that requires me to use an interceptor in the first place?

[2019-08-22 07:49] ahjenssen commented on #117
Hi, apologies if this is a stupid question. Does the leak also happen when accessing .onion sites, or does the leak only happen when accessing clear net sites through the onion browser?

[2019-08-23 13:54] tladesignz commented on #196
I seriously jumped into this whole CSP thing and completely rewrote our code there.
I did it "right" this time: https://github.com/tladesignz/CSPHeader
And I think I nailed the problem of how to run our script but no other.

[2019-08-23 13:54] #196 closed, assigned to nobody

[2019-08-26 12:35] tladesignz commented on #199
See my comment on my other thread. You will *always* need an interceptor, otherwise you don't reroute the traffic to your running Tor thread.

If you still connect via Tor on the simulator, then that's because you probably run a MacOS Tor daemon which gets the traffic from the simulator.

BTW, check out Psiphon's interceptor:

https://github.com/Psiphon-Inc/endless/tree/master/External/JiveAuthent

[2019-08-26 13:01] tladesignz commented on #178
@mirokuratczyk I dived deep into all the interceptor code. I replaced ours with yours (basically your `JAHPAuthenticatingHTTPProtocol` stuff) so I get the OCSPCache support and also because that seems way better than our CFNetwork usage. (Thanks a ton for that!)

Well, why not? The issues you describe still seem to be better than leaking IPs via OCSP calls. How big is the chance that an exit node

[2019-08-27 04:15] mirokuratczyk commented on #178
@tladesignz that's great to hear!

That's a valid point. I agree that the risk of leaking OCSP requests is worse.

I checked it out and you are right. I think the issue is that, currently, the default timeout for network requests on iOS is used for OCSP requests. An NSURLSession with [ephemeralSessionConfiguration](https://developer.apple.com/documentation/foundation/nsurlsessionconfiguration/1410

[2019-08-27 13:25] #200 closed, assigned to nobody

[2019-09-02 09:34] Nurmagoz opened #207 "Accept only strong ciphers"
Testing onionbrowser with SSL Labs "SSL Client Test":

https://www.ssllabs.com/ssltest/viewMyClient.html

There will be shown the browser accept weak ciphers.

plus there is no session tickets.

[2019-09-09 14:56] tladesignz commented on #207
Hey @TNTBOMBOM, thanks for the comment.

Currently, I'm working on a bigger change because of #178, where that part which meddled with the TLS cipher list will get dropped, anyway, which obviously seems to be not working anymore.

Since we're only supporting iOS 11 and up now, we will stick with the system's default for now, as long as there's not popping up an important security concern.

[2019-09-09 15:57] tladesignz commented on #178
Yay! That works, thanks!

Please give me a heads up, when you do a release, so I don't need to point to your fork anymore!

[2019-09-10 23:35] mirokuratczyk commented on #178
Good to hear!

I've merged the changes in my fork so you can switch over.

[2019-09-12 02:17] Fonta1n3 commented on #199
so even if I am making my url request directly through the tor client like so:

`let task = self.torClient.session.dataTask(with: request) { (data, response, error) in`

I will still need an interceptor?

Thanks for the info and the link.

[2019-09-12 08:04] tladesignz commented on #199
Aaah, you mean you created a URLSession as per the example in the readme?

Hm. True, that *should* work, as long as TorController.getSessionConfiguration() actually creates the correct configuration. Well, if it doesn't, I'm happy for any pull requests. :-)

[2019-09-22 15:06] wilsonjw4 commented on #202
Easy fix. Go to settings on onion browser, then host settings, default settings, change content policy to open.

[2019-09-24 14:30] tladesignz opened #209 "Investigate server isolation using multiple Tor circuits"
Should we use per-server circuits?

https://2019.www.torproject.org/docs/tor-manual.html.en

Check out `EnforceDistinctSubnets` and `IsolateDestAddr` config options.

Could use a lot of resources according to this discussion:

https://tor.stackexchange.com/questions/12268/isolatedestaddr-and-isolatedestport-usage

Idea came from this.

https://tb-manual.torproject.org/managing-identities/

[2019-09-30 15:06] kckthx opened #210 "Tabs and Bookmarks Workflow"
How to navigate to tabs and manage bookmarks from the browser.
@tladesignz

![Tabs and Bookmarks](https://user-images.githubusercontent.com/36669955/65889622-2d244880-e367-11e9-8704-ade44f8e47c2.jpg)

[2019-09-30 15:08] kckthx opened #211 "Settings Workflow"
How settings are organized and how to change them.
@tladesignz

![Settings](https://user-images.githubusercontent.com/36669955/65891424-1af7d980-e36a-11e9-82d4-bcd7d91e1d70.jpg)

[2019-10-02 12:03] #178 closed, assigned to mtigas

[2019-10-16 09:28] tladesignz commented on #211
Questions to @kckthx, @mtigas, @r3ckd:

1. We dropped the features "dark interface" and "toolbar at bottom" and "custom home page", that's cool. But what happened to "Mute audio with mute switch"? Should I drop that, too?

2. Cookie handling: Currently, there's the "cookie auto-sweep interval" feature. Cookies are always deleted after that number of minutes, except, if there's a per-site setting,

[2019-10-16 17:15] kckthx commented on #211
A few revised flows will be at the end of this to clarify my responses. @tladesignz

1, 4 & 6 were oversights on my end — I combined the “Mute Audio” and “Allow 3rd Party Keyboards" to a section. “Allow TLS Errors” has been added to “Privacy and Security”

2. “Allow Persistent Cookies” was not supposed to be on the global settings list, my apologies for that, but it is currently available as a hos

[2019-10-16 21:07] tladesignz commented on #211
Oh, I see. So there weren't any implied feature requests/changes, but just oversights.
Thanks for the updated design template!

Ah, don't worry. I'll rather leave it in in the "Default Security" as it currently is. If we keep the cookie handling as-is, this should also stay as-is. That way, all (new) cookies are kept and never swept.

That shouldn't be necessary, if we leave cookie handling as-is.

[2019-10-16 21:08] tladesignz commented on #211
@kckthx One other thing: I would need the purple shield for the security level presets as an SVG file!

[2019-10-16 22:09] kckthx commented on #211
great! here you go, @tladesignz
[Shields.zip](https://github.com/OnionBrowser/OnionBrowser/files/3736582/Shields.zip)

[2019-10-17 09:51] tladesignz commented on #211
@kckthx Sorry, the use of a singular was too subtle, obviously. Please just a single shield, without the numbers. Tried to remove them, but the whole thing is a single path.

[2019-10-17 12:59] kckthx commented on #211
Ok.
[Shield.svg.zip](https://github.com/OnionBrowser/OnionBrowser/files/3739357/Shield.svg.zip)

[2019-10-21 16:20] r3ckd commented on #191
Does the work we did fixing OCSP #178 have any possible impact here?

[2019-10-22 09:18] tladesignz commented on #191
Oh, hell, yes! Thanks for the remainder!

Actually, this should be fixed by f30f3b2!

[2019-10-22 09:18] #191 closed, assigned to nobody

[2019-10-22 13:40] kckthx opened #212 "Onboarding Views"
Here's the initial prototype for the onboarding flow.
@tladesignz

https://invis.io/QEU4SWLC496

[2019-10-24 13:09] m4mb01t4l14n0 opened #214 "Enable Dark Mode"
in iOS 13, Apple introduced [Dark Mode,](https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/dark-mode/) with additional API guidance [here](https://developer.apple.com/documentation/appkit/supporting_dark_mode_in_your_interface). This feature requires apps change their appearance to accommodate ambient light (mostly).

Apologies I am not able to find the API calls that

[2019-10-24 14:04] #155 closed, assigned to nobody

[2019-10-24 14:06] tladesignz commented on #162
Will be fixed with #210

[2019-10-24 14:06] #162 closed, assigned to tladesignz

[2019-10-24 14:20] tladesignz commented on #180
Related to issue #210. Verify and close after new browser UI implementation is done.

[2019-10-24 14:20] tladesignz commented on #180
Related to issue #210. Verify and close after new browser UI implementation is done.

[2019-10-24 14:24] tladesignz commented on #193
Will be fixed with #210 UI redesign.

[2019-10-24 14:24] #193 closed, assigned to nobody

[2019-10-24 14:28] #202 closed, assigned to nobody

[2019-10-24 14:29] m4mb01t4l14n0 commented on #201
try using DuckDuckGo over their own Onion address?

[2019-10-24 14:29] #201 closed, assigned to nobody

[2019-10-24 15:31] m4mb01t4l14n0 commented on #199
This seems to end the conversation, so I'm going to close this issue

[2019-10-24 15:31] #199 closed, assigned to nobody

[2019-10-24 19:00] ghost commented on #153
@PsiPhiTheta
https://github.com/OnionBrowser/onionbrowser.github.io/blob/master/index.html

[2019-10-24 21:07] ghost commented on #209
If resource utilization is too high, then maybe it should be an option rather than default. I have no idea if battery life and CPU/RAM would be greatly affected, especially on older phones. I'm running an iPhone SE and would probably not want this feature all the time depending on effects.

[2019-10-24 22:03] #214 closed, assigned to nobody

[2019-10-27 14:13] businessasusual22 opened #215 "Facebook onion site"
I'm trying to log into m.facebookcorewwwi.onion, and the page just refreshes without giving me access to my account. Facebook detects a login attempt, and I have confirmed with them that it was was a legitimate login, but the onion browser continues not to go past the login page. Is there a setting I need to change to allow the login process to complete?

[2019-10-27 21:27] mtigas commented on #176
i commented in matrix:

[2019-10-27 21:50] mtigas commented on #209
The `IsolateDest` options aren't really designed for web browsing (mostly because it pins unique circuits to unique destinations in a way that is probably bad for anonymity, in addition to it also being bad for performance).

But! The TBB model is actually not a bad idea. I believe it's actually simpler: circuit changes if the address bar `host:port` changes. (Might also get a new circuit for a ne

[2019-10-28 12:45] tladesignz commented on #176
Turns out: This is more common than you would think. I had to delete 2 other apps, to finally make Onion Browser the one to catch the links.

Now we might need a good UI explaining that feature. @m4mb01t4l14n0 ?

[2019-10-28 13:05] tladesignz commented on #215
When I lift the "Content Policy" to "open" for that site, it works for me. Also needed to do an e-mail security code check.

Please close, if that helped you!

[2019-10-28 13:16] tladesignz commented on #203
This happens, when Content-Policy is set to "strict", because also our injected JavaScript (which helps with that pop-up menu) is blocked.

However, I reworked all of this and fixed that issue during the whole OCSP-issue rewrite. So will be fixed with next release.

[2019-10-28 13:16] #203 closed, assigned to nobody

[2019-10-28 15:11] OlexandrStepanov commented on #178
Hello @mirokuratczyk,

I have found this issue from [rdar://716337334](http://openradar.appspot.com/716337334).
I'm investigating OCSP revocation check from Alamofire's [ServerTrustEvaluation](https://github.com/Alamofire/Alamofire/blob/master/Source/ServerTrustEvaluation.swift), `RevocationTrustEvaluator` class.

I'm wondering, you mention here and in radar "pinned OCSP response" term. Did you me

[2019-10-28 15:18] #180 closed, assigned to nobody

[2019-10-28 16:03] tladesignz commented on #147
Just checking this during development.

Works fine for me with Youtube. Content Policy needs to be set to "open", of course, otherwise, no video.

In your case, there could also be a lot of different other issues standing in the way. No address provided, no further investigation possible.

[2019-10-28 16:03] #147 closed, assigned to nobody

[2019-10-28 16:04] tladesignz commented on #170
And again, @mtigas!

[2019-10-28 16:06] tladesignz commented on #131
Followed up in #210, #211, #212.

[2019-10-28 16:06] #131 closed, assigned to nobody

[2019-10-28 17:30] tladesignz commented on #146
So, nothing has happened with the format in over a year.

I have implemented reading a QR code from an image in the photo library, finally:

https://github.com/guardianproject/poe/commit/452cacdd5c5528ed23efe98c98428e04fc408d95

Will be contained in the next release.

If anything happens with the standard URI, please open a new issue!

[2019-10-28 17:30] #146 closed, assigned to nobody

[2019-10-28 17:57] mirokuratczyk commented on #178
Hi @OlexandrStepanov,

Yes, I meant that it will effectively check for OCSP stapling. This was confirmed by Apple and through our testing. Thanks for pointing this ambiguity out! I updated my comment on the rdar to specifically mention OCSP stapling.

[2019-10-28 18:10] mtigas commented on #170
Should be up again now. I'm gonna re-do things so that the actual page content comes from https://github.com/OnionBrowser/onionbrowser-homepage and will also set up another repo with the actual tor hidden service (+ nginx proxy) config and some tooling for spinning up containers that run the hidden service.

[2019-10-29 00:14] businessasusual22 commented on #215
I think that did it. Thanks.

[2019-10-29 00:14] #215 closed, assigned to nobody

[2019-10-29 08:27] eighthave commented on #146
7 months ago, I worked out the possible schemes for one-bridge URLs, it is mapped out in the issue linked here, with example code and docs:
https://trac.torproject.org/projects/tor/ticket/15035#comment:11

[2019-10-29 20:40] kckthx opened #216 "Browser Icons"
@tladesignz let me know if you want these anywhere else!
[Browser Icons.zip](https://github.com/OnionBrowser/OnionBrowser/files/3785714/Browser.Icons.zip)

[2019-10-30 13:14] tladesignz commented on #216
Thanks a lot!

I have only 2 complaints :-):
- An "insecure" icon is missing.
- The "refresh" icon is cut off on right and bottom, when I convert to PDF. Guess, there's something broken in the SVG background or image size compared to the content. Didn't have time to investigate, yet.

Anything else looks good.

For the future: You don't need to do selected/unselected icons. That will be done progr

[2019-10-30 13:56] kckthx commented on #216
oh ok! Thanks for that info.
Here is a new refresh, insecure, and a new "secure" icon also -- it looked a little squished before.

[refresh-in-secure.zip](https://github.com/OnionBrowser/OnionBrowser/files/3789236/refresh-in-secure.zip)

[2019-11-06 13:19] swefib101 opened #217 "Media Files"
Hi! i wonder if Media Files are blocked by default by onion browser? For privacy

[2019-11-27 19:10] ingfabby opened #218 "Unable to close tabs"
iPad Mini
iOS 13.2.3

I'm able to navigate between many tabs open at the same time, but when I touch the "X" on the left top of a tab, the screen maximizes instead of closing the tab.

[2019-11-28 15:08] tladesignz commented on #217
Not, not really. "Media files" in that context is a little difficult. Actually, images are media files, too. And I'm pretty sure, nobody would be happy if we stopped images from loading.

What *is* blocked by default is:
- WebRTC (at least, if an attacking webpage isn't trying too hard)
- XHR, WebSocket and Video
- mixed encrypted and unencrypted content

[2019-11-28 15:08] #217 closed, assigned to nobody

[2019-11-28 15:18] tladesignz commented on #218
- There's currently no X, but 3 dots (...) in the left corner. That's a bug and is fixed in the current dev branch.
- I can close it, but one needs to hit very exactly. Should be better with the redesign.

[2019-11-28 15:18] #218 closed, assigned to nobody

[2019-11-28 15:19] #216 closed, assigned to nobody

[2019-11-28 15:22] #211 closed, assigned to nobody

[2019-12-02 00:27] ingfabby opened #219 "Edit and re-order tabs feature is not working"
iPad mini
iOS 12.4.1
On the Bookmarks screen the features "Tap to edit" and "Hold to re-order" are not working.
![83593](https://user-images.githubusercontent.com/28932186/69923166-3e252f00-1468-11ea-877a-a98eb8417ba3.jpg)

[2019-12-02 00:29] ingfabby opened #220 "Lost tabs when iPad locks"
iPad Mini
iOD 12.4.1

If the device is locked while using the Onion Browser all the tabs are lost when I unlock it.
I'm not sure if we actually want this to happen.

[2019-12-02 14:23] tladesignz commented on #184
Results of UX research/redesign found in #210

[2019-12-02 14:23] #184 closed, assigned to nobody

[2019-12-02 14:24] tladesignz commented on #183
Results of UX research/redesign found in #210

[2019-12-02 14:24] #183 closed, assigned to nobody

[2019-12-02 14:24] tladesignz commented on #181
Results of UX research/redesign found in #210

[2019-12-02 14:24] #181 closed, assigned to nobody

[2019-12-02 14:27] tladesignz commented on #219
This is the old UI. Was completely redesigned and reimplemented. I hope, it gets released soon. (see #210)

[2019-12-02 14:27] #219 closed, assigned to nobody

[2019-12-02 14:28] tladesignz commented on #220
That's actually a feature which' setting you can change. Look for "Tab Security"!

[2019-12-02 14:28] #220 closed, assigned to nobody

[2019-12-02 14:30] tladesignz commented on #177
Actually, it was removed I recognized recently. If still there, should be gone in the next version.

[2019-12-02 14:30] #177 closed, assigned to mtigas, tladesignz

[2019-12-02 14:36] tladesignz commented on #117
An attacking web page could be loaded through `.onion`, too, of course. However, the receiver of the Tor-bypassing WebRTC call would need to be a non-onion address, since, without Tor, no Onion service can be reached, obviously.

So, the server would need to disclose its identity, too. If so, then it begs the question: Why use an Onion service in the first place? That's not a rhetorical question.

[2019-12-02 14:59] ingfabby commented on #220
It makes sense.  Thanks for letting me know Benjamin.

On Mon, Dec 2, 2019, 8:28 AM Benjamin Erhart <notifications@github.com>
wrote:

[2019-12-02 16:59] Baccount opened #221 "Swiping down on the connecting screen causes the app to stop responding"
1. Open onion browser on an iPad.
2. When the connecting window appears swipe down on it to dismiss it, the app no longer responds after that action is taken.
iOS 13.3 developer beta 3
Onion browser  2.30
Video showing the bug occur. https://streamable.com/omv0k

[2019-12-02 17:05] tladesignz commented on #117
Ok, so I looked into this again.

Unfortunately, it seems, that we can't remove access to `window.RTCPeerConnection`.

[code]

Also, setting a Content-Security-Policy header like this...

[code]

...doesn't work. The iframe can't connect anywhere, but the page is nevertheless allowed to create an empty `iframe` element and use its `contentWindow` property.

So, @m4mb01t4l14n0, I'm sorry, but it se

[2019-12-03 12:03] tladesignz commented on #221
Hey, thanks for pointing that out!
I fixed it: https://github.com/guardianproject/poe/commit/d37c2eba8a35c0663f6d20004a3136268ae11622

Will be in the next release.

[2019-12-03 12:03] #221 closed, assigned to nobody

[2019-12-03 15:40] mtigas commented on #212
Open questions that I've gathered from our meeting this morning. (My own comments in {} )

- Gradient. How do we handle it on various screen sizes?

- Bridge settings: needs to actually just be a native iOS settings page. We already have this. {I think this is an attempt to style that, but is just in conflict with how we currently do it, in a table view?}
  - Further questions (not specific to thi

[2019-12-03 15:53] mtigas opened #222 "Shield icon behavior (in navbar)"
#222: shield icon
#223: onion icon
prev settings work is in #211
onboarding work in #212

[2019-12-03 15:53] mtigas opened #223 "Onion icon behavior (in navbar)"
#222: shield icon
#223: onion icon
prev settings work is in #211
onboarding work in #212

[2019-12-03 21:15] kckthx commented on #223
@tladesignz @mtigas

![Onion Menu](https://user-images.githubusercontent.com/36669955/70089088-1a372a00-15dd-11ea-897a-5191eb0e66a8.png)
**WHAT HAPPENS**
- a depiction of the tor circuit -- all the connections.
- the "New Circuit for this Site" would change the circuit information... this was modeled after the desktop Tor Browser---so I'm not completely sure what happens when it's tapped.
- new br

[2019-12-03 22:48] kckthx commented on #222
@tladesignz @mtigas
Here is a flow of the shield icon at work.
I'm aware some copy may still need to be fine tuned, but this is how it works.

![OB-Shield Icon](https://user-images.githubusercontent.com/36669955/70096400-9edd7480-15ec-11ea-982b-4840ff430821.jpg)

[2019-12-03 23:50] mtigas opened #224 "Tor's only IPv6 built-in bridge is gone; meek-amazon is gone"
(This ticket mostly just so I can more easily find the commit that changed these things, in case a new meek-amazon comes back, or if we want to revisit doing a "special" built-in bridge config if the device is IPv6-only.)

Commit: c4560b15fe802ffd6c4361fc121e641eac5050a5

[2019-12-03 23:50] #224 closed, assigned to mtigas

[2019-12-03 23:57] mtigas commented on #205
Looks good to me.

#224 is related: I took out `OnionManager.obfs4BridgesIPv6` since the only bridge in that array was offlined recently (and removed from that bridge list you're parsing out). Also removes `meek-amazon`. (I'd be more hesitant to just do that & change users' bridge configs if you were using that bridge... But meek-amazon has been offline since the middle of 2018.) Bridge config loo

[2019-12-03 23:57] #205 closed, assigned to mtigas

[2019-12-04 01:24] mtigas commented on #212
Wall of text incoming I AM SO SORRY in advance. Thank you all for putting up with me (and for putting up with all the really awful, highly-technical twists and turns along the way).

---

**Splash / "Connect To Tor"**

I think consensus was to sort of merge Screen 1 (splash screen) and Screen 2 ("Connect to Tor" screen).

(Aside: For the splash screen (the static one that we can't localize/etc): *

[2019-12-04 16:58] kckthx commented on #212
Hi @mtigas thanks for putting this together! Below are some of my responses to your update.

Splash/connect

* As far as the words on the loading screens (assuming you’re speaking of the ones with animals on them, if not I may be way off here), we let this copy be about ways people use tor. I know that it could possibly be going really fast, but it also might not. haha. That’s one of the reasons t

[2019-12-04 17:05] kckthx commented on #212
Oh, another question @mtigas and @tladesignz
Would the "Bridge Configuration" settings view also live in the global settings menu (gear icon), or would it only live in onboarding and under the onion icon?

[2019-12-04 17:23] kckthx commented on #212
Also, just had another thought while working out these views, if on the first screen in onboarding (after splash) we use the language "Bridge Configuration" or "Configure Bridges" instead of  "Use a Bridge" it may be less jarring when they see a settings page pop up.

[2019-12-04 23:25] fk3ma opened #225 "How to get tweetdeck working?"
I have been a paid supporter of this app for several months now. A little disappointed with usability of this product and speed of development. Will continue to support it but many websites do not work reliably even with the most open settings configured.

I can get twitter to sort of work using the mobile site. Its not reliable sometimes have to continually press reload to get a page to work.

I

[2019-12-05 13:08] tladesignz commented on #225
Hey @fk3ma, thanks for notifying us!
That was actually a really bad bug with a component which modifies the Content-Security-Header.

It will be fixed with the next release, which is due for Christmas.

Meanwhile, if you're not on our beta-testing track, please shoot me a personal message, then I can give you a link where you can download our TestFlight versions!

@mtigas: Can you do a new TestFli

[2019-12-05 22:50] mtigas commented on #225
2.4.0 (47.513620079 ) has been built and pushed over to testflight, with the following commits from master:
https://github.com/OnionBrowser/OnionBrowser/commits/v2.4.0-testflight-47.513620079

(it's still going through "public test" review, but should be available on testflight shortly)

[2019-12-06 03:37] mtigas commented on #212
(Updated prototype that was linked in chat: https://projects.invisionapp.com/share/R2V4M7IMUWV#/screens ; @kckthx I think you worked on this after you'd commented here, so my replies here are sort of in response to that as well.)

Ah! I was actually only referring to the very very first "Onion Browser / Your trusted connection to Tor." screen that didn't have any actions on it. (Looks like it has

[2019-12-06 12:01] tladesignz commented on #132
Further work tracked in #223

[2019-12-06 12:09] tladesignz commented on #223
Get currently used circuit info probably with the `circuit-status-changed` event:
https://torproject.gitlab.io/torspec/control-spec.html#circuit-status-changed
https://torproject.gitlab.io/torspec/control-spec.html#setevents

Resolve node names to IPs:
https://torproject.gitlab.io/torspec/control-spec.html#getinfo
`ns/id/<OR identity>` or `ns/name/<OR nickname>`

Resolve node IPs to countries:
htt

[2019-12-06 15:41] kckthx commented on #212
Awesome! Thanks for your feedback.
just to clarify though, when referring to using the plural for bridges --
-- is this what you were referring to @tladesignz that we can't choose between any of them? I thought that all of the code was one bridge.

[2019-12-10 14:51] mtigas opened #226 "Examine why tor is opening many (20+) circuits; is this correct behavior?"
(example output from @tladesignz testing; i've added newlines before each `BUILT` output line)
[code]

perhaps we're doing some circuit isolation accidentally?

just opened up this ticket for me to track my research on it. going to see what circuit logic is like for [Tor Browser desktop](https://gitweb.torproject.org/tor-browser.git/) as well.

[2019-12-10 15:04] mtigas commented on #226
copying over the doc about the control spec response line that we have here:
https://torproject.gitlab.io/torspec/control-spec.html#circuit-status-changed

---

[2019-12-10 15:19] mtigas commented on #226
Looks like TBB does do a thing where it sets a SOCKS5 username/password for each combination of `tab + first-party domain` (as in, the domain of the page that is being viewed; vs domains of assets -- `<img>`, etc -- that are on that page)

https://github.com/mtigas/torbutton/blob/ed3fafebab28d005e22208aa921e5f5c7c54153f/chrome/content/tor-circuit-display.js#L43-L70

https://github.com/mtigas/torbu

[2019-12-10 16:57] n8fr8 commented on #226
Yes if you randomly generate user/pass for each connection, it will make a new circuit

[2019-12-10 16:57] n8fr8 commented on #226
(and if you keep them the same per tab, domain, then it should use the same circuit as before)

[2019-12-10 17:09] tladesignz commented on #226
Pretty sure, we don‘t do that.

[2019-12-11 00:33] mtigas commented on #226
tl;dr --- I've experimented & given this a bit of thought. I wonder if we should be using `NoIsolateDestPort NoIsolateDestAddr` and using _a single circuit_ for the app (until we properly figure out #209). I think it might be better browser behavior (but am not 100% sure), and it would solve the "which circuit are we using" problem.

---

Did a quick test here and confirmed I see similar behavior

[2019-12-11 00:33] mtigas commented on #209
Bringing in some research/thoughts from #226:

---

Problem is, I took a look and the Psiphon code that sets the SOCKS port (`if (socksProxyPort > 0)` above) is only called once, as the URLSession is only set up once.

I think I know the ID we'd _want_ to use, which is something like this in BrowsingViewController (ignore the debug bits and any other minor errors) :
[code]

But I don't see an easy

[2019-12-11 00:35] mtigas commented on #226
If we decide we don't do `NoIsolateDestPort NoIsolateDestAddr`, then I don't think we should display circuit info until #209 is done (since it wouldn't be accurate).

[2019-12-11 23:47] tladesignz commented on #226
Ok, so I finally developed a full parser for Tor circuits and its own class to store the results:
https://github.com/iCepa/Tor.framework/commit/ba886329ebf085c7ec1dd8bf0fceb89c26d2fc35

Now we need the rules to decide, which circuit was actually used.

- If we leverage the SOCKS user, then we filter by that. Do we actually need that?
- If it's an `.onion` address, we filter by that in `REND_QUERY`

[2019-12-12 15:27] tladesignz commented on #226
Ok, so thanks to @mtigas insights, I think I have this covered, basically:

- When an onion site, I search for the circuit doing the rendezvous with that site. That seems to always be a resultset of one, so quite correct.

- When a normal site, I filter by purpose (should be `GENERAL`), by build flags (should not contain `IS_INTERNAL` and `ONE_HOP_TUNNEL`) and I tag our requests with a SOCKS usern

[2019-12-12 16:03] tladesignz commented on #226
Aaahaaa. From https://stackoverflow.com/a/32347493 :

Currently NEWNYM doesn't have any effect on me. Could it be that our Tor thinks it's running in relay mode when it should run in client mode? How to tell Tor that?

[2019-12-12 16:16] tladesignz commented on #226
Urgh. Seems, circuits only change after an additional page reload.
Looking at what Tor Browser does, I guess they do a CLOSECIRCUIT of all circuits they identified as being used by that tab. It could have been so nice...

[2019-12-12 18:27] rocodes opened #227 "Consider removing OS version information from User Agent String"
Currently, the UAS is [slightly modified](https://github.com/OnionBrowser/OnionBrowser/blob/81aef72ea44325faf62873119713fe8e01a0eb8a/AppDelegate.m#L418) to report that a user is on Safari, but still includes OS version information and webkit information:

`"Mozilla/5.0 (iPhone; CPU iPhone OS 8_4_1 like Mac OS X) AppleWebKit/600.1.4 (KHTML, like Gecko) Version/8.0 Mobile/12H321 Safari/600.1.4"`

Th

[2019-12-13 12:22] tladesignz commented on #132
Fully implemented with a9a78cab896fa55b8e2be2a6d8a95757f65fba5f!

[2019-12-13 12:22] #132 closed, assigned to nobody

[2019-12-13 12:23] tladesignz commented on #195
Fully implemented with a9a78ca!

[2019-12-13 12:23] #195 closed, assigned to nobody

[2019-12-13 12:25] #223 closed, assigned to mtigas, tladesignz, kckthx

[2019-12-13 12:28] tladesignz commented on #182
Onion info now implemented as per issues #223, #132, #195, #67

[2019-12-13 12:32] tladesignz commented on #10
This is actually now implemented/fixed with all the rework done lately. Most files like images, pdfs and the like should now (or in the next release) be easily shareable into other apps.

[2019-12-13 12:34] tladesignz commented on #2
I'll close this now, as we didn't hear any complaints lately. The restart of Tor seems to be quite stable now.

[2019-12-13 12:34] #2 closed

[2019-12-13 12:43] #225 closed, assigned to mtigas, tladesignz

[2019-12-13 13:20] ikonkere commented on #10
It doesn't work for me yet (using 2.2.1 available in iOS AppStore).

Reproduce: paste this url http://flibustahezeous3.onion/b/151260/epub to Onion Browser search bar.

Expected: an EPUB file named `Lukyanenko_Genom_1_Genom.151260.fb2.epub` should download (as it does in Tor browser desktop) and a choice is offered to save it to iOS Files app or open it in Books app (or whatever is the default beh

[2019-12-13 13:31] tladesignz commented on #10
Argh. Yeah, I'm sorry. No new release, yet.
I tested your provided link and can confirm it will work with the next release, though!
Please be patient, there's a release upcomming until end of year.
Or maybe beginning of next, depending on Apple. :-)

[2019-12-13 13:39] tladesignz commented on #222
@kckthx can you provide the new custom shield icon? As always: SVG, please!

[2019-12-13 13:43] ikonkere commented on #10
Ah, i suspected as much seeing `2.4.0` fix tag in milestones. Can't wait for the new release, thanks for great work! Even though it only took 8 years to implement ;).

[2019-12-16 17:10] kckthx commented on #222
[Custom-shield.svg.zip](https://github.com/OnionBrowser/OnionBrowser/files/3969290/Custom-shield.svg.zip)
@tladesignz here you are

[2019-12-17 14:07] tladesignz commented on #226
Ok, it seems, it actually *is* normal. The bulk of these circuits are actually *internal*. Since I basically nailed #223, I'll close this, as it doesn't make sense to me to have this laying around.

[2019-12-17 14:07] #226 closed, assigned to mtigas

[2019-12-17 14:28] tladesignz commented on #94
Actually fixed with current development version.

[2019-12-17 14:28] #94 closed, assigned to nobody

[2019-12-17 14:30] kckthx opened #228 "Empty Browser Home Page"
![Empty Browser Home](https://user-images.githubusercontent.com/36669955/71004244-5ec7c880-20a7-11ea-88d1-a895401fdb04.png)
Bookmarks would live here, if no bookmarks are set, default to onion sites.
@tladesignz

[2019-12-17 15:00] kckthx commented on #212
This is the most updated prototype we have @tladesignz @mtigas there's now a static screen to tap into to begin onboarding. The copy changed on the first screen with acctions "Connect to Tor" but everything else is the same as above

https://invis.io/WTV5ZQ376ZB

[2019-12-18 12:07] tladesignz commented on #222
Implemented besides the content behind "Learn More". (Button hidden for now.)

Please, @m4mb01t4l14n0, @kckthx, @mtigas, provide that in a fresh issue, when you're ready.

I suggest implementing a help text like that as a web page. Can be on your server or inside the app, like I did with "about:onion-browser". (Yes, I gave the credits page a pseudo-URL!)

[2019-12-18 12:07] #222 closed, assigned to mtigas, tladesignz, kckthx

[2019-12-18 12:10] tladesignz commented on #228
@kckthx, @mtigas, @m4mb01t4l14n0, please provide all links, as I don't have them all currently! And with *all* I also mean the one's at the bottom!

[2019-12-18 12:10] tladesignz commented on #228
@kckthx, please provide icons of bottom links as SVG!

[2019-12-18 12:16] tladesignz commented on #10
Not really. It took 8 years to gather enough money and code we're relying on.

This app cost north of 1 million US$ if you're counting in all the dependencies esp. Tor. (not iOS, of course) And even without Tor it would probably be more than 250k.

[2019-12-18 12:20] tladesignz commented on #227
The design goal was to have the user look like regular iOS users, because AFAIK, we can't control the user agent string in all circumstances.
Maybe @mtigas wants to give more background info.

[2019-12-18 14:38] kckthx commented on #228
@tladesignz

**Learn More** onionbrowser.com
**Donate** donate page  -- it's currently https://onionbrowser.com/#support-project
**Newsletter** https://newsletter.torproject.org/

[2019-12-18 14:49] tladesignz commented on #228
Thanks @kckthx!

I also need the parameters of the color gradient.
And don‘t forget the icons!

[2019-12-18 15:27] kckthx commented on #228
Not sure about parameters of gradient, but the radial gradient colors are
C32AFF
51036B
490161

[landingpageicons.zip](https://github.com/OnionBrowser/OnionBrowser/files/3979115/landingpageicons.zip)

[2019-12-19 01:02] Baccount opened #229 "Swiping down on the Connecting screen on iPhone causes the app to stop responding"
Open the app on an iPhone running iOS 13.3 and swipe down on the connecting screen, this bug is very similar to #221
Onionbrowser 2.3.0

[2019-12-19 09:22] tladesignz commented on #229
Will be fixed in 2.4.0

[2019-12-19 09:22] #229 closed, assigned to nobody

[2019-12-19 15:43] tladesignz commented on #228
@kckthx Do you want to provide a default icon? There's not always going to be an icon available for a number of reasons.

[2019-12-19 17:39] tladesignz commented on #228
@kckthx

Not sure how to apply them. I see it's a circle gradient from the top left. Where should I use the color stops? I played around with these colors but didn't have a matching result.

I need something like this:

https://cssgradient.io

(Don't worry about the circle's center position for now.)

Missing icons:
- green arrow
- default favicon

[2019-12-19 17:48] tladesignz commented on #228
Aaaaah, and did you ever think about how this will look resp. should look on an iPad, @kckthx?

[2019-12-19 18:25] kckthx commented on #228
@tladesignz
background: rgb(195,42,255);
background: radial-gradient(circle, rgba(195,42,255,1) 0%, rgba(81,3,107,1) 57%, rgba(73,1,97,1) 100%);

yes, top left.

[landingpage-2.zip](https://github.com/OnionBrowser/OnionBrowser/files/3985038/landingpage-2.zip)
![onionbrowseriPad](https://user-images.githubusercontent.com/36669955/71198964-8e6b0200-225a-11ea-9cb4-dc9dec15e989.png)

[2019-12-20 16:21] #228 closed, assigned to tladesignz

[2019-12-24 19:31] Baccount opened #231 "App updates using UIWebView as of December 2020 will not be accepted by the App Store"
https://developer.apple.com/news/?id=12232019b
Will this effect Onionbrowser, because it’s based of the endless browser?
@mtigas
@tladesignz

[2019-12-25 00:51] tladesignz commented on #231
Yes, it will, if we don't come up with a working solution until then.

Either Apple will provide us with a SOCKS interface to `WKWebView` or we need to get Tor run stable inside a Network Extension, which, unfortunately, it currently doesn't. Not so much Tor's fault, but our unstable glue code's (tun2tor). Also, we would probably loose the ability to support OBFS4 and Meek, because we won't be abl

[2019-12-26 11:41] Johandrex opened #232 "reCaptchas can no longer be seen nor solved"
If you go in on a site with google reCaptcha it can no longer be seen nor solved with the latest iOS update, which worked fine before. I've attempted to tweak all of the settings, put the app in insecure mode, disabled all URL blockers and so on. But it never appears to work. If you go on a site with cloudflare/reCaptcha you should be able to see what I'm talking about.

Example: Try accessing mye

[2019-12-26 19:05] tladesignz commented on #232
I'm afraid this is the same as issue #225. It was fixed with commit 31ae84fdca3a8dd0892967b25d82e20b0afe57b6.
Unfortunately, that was too late for the 2.3.0 release.
It will definitely be fixed with release 2.4.0, which is very due.

Meanwhile, I can recommend you to get on our beta channel.

Shoot me a direct message, if you want to get into it!

@mtigas, @m4mb01t4l14n0: We should *really* releas

[2019-12-26 19:05] #232 closed, assigned to nobody

[2020-01-07 13:09] tladesignz commented on #231
https://twitter.com/tladesignz/status/1214532167235252224
https://openradar.appspot.com/FB7524212

[2020-01-07 16:38] m4mb01t4l14n0 opened #233 "Create Travis build script for Tor.framework for Tor Project"
the PLUTO team thinks it's a good starting point toward helping the Tor Project build binaries that are compatible with iOS if we provide them a build script for their Travis build environment.  Here are instructions on doing so from teammate Hans:

- you already have the Tor/*.sh scripts for building the pieces in Tor.framework, so it should be pretty straightforward to put that into a standalone

[2020-01-07 17:14] mtigas commented on #233
can we get someone to share us an example of what a travis build looks like for Tor's other stuff? (i.e., what the outputs are once the CI build runs)

There is some ancient stuff [here](https://github.com/OnionBrowser/OnionBrowser/blob/2.X/.travis.yml) that doesn't work anymore (see <https://travis-ci.org/OnionBrowser/OnionBrowser>)  because it's been a long time since I touched it, so the Xcode

[2020-01-09 11:09] #210 closed, assigned to mtigas, tladesignz, kckthx

[2020-01-09 11:15] tladesignz commented on #113
Should be fixed with current release. Related #10

[2020-01-09 11:15] #113 closed, assigned to nobody

[2020-01-09 11:42] tladesignz commented on #212
@kckthx I have some questions/needs:

1. I would need the background. Can you please provide an SVG containing the ring and the gradient background? Please work with the iPad 13" as target size (a quadrat of the longer side, so target size should be 2732px x 2732px) and tell me how to position on smaller devices (e.g. attach to top/left or center/center) and scale (e.g. always 1:1 and things cut o

[2020-01-09 12:34] tladesignz opened #234 "Purple too dark in dark mode"
#3F2B4F is too dark in dark mode.

Please advise what color to use in dark mode instead. Should it be #A577BB or some other?

![Simulator Screen Shot - iOS 13 3 @ iPad Air 2 - 2020-01-09 at 13 31 24](https://user-images.githubusercontent.com/117089/72068308-091cbf80-32e5-11ea-8c01-fb954ed9c129.png)

[2020-01-09 12:36] tladesignz commented on #234
![Simulator Screen Shot - iOS 13 3 @ iPad Air 2 - 2020-01-09 at 13 31 24](https://user-images.githubusercontent.com/117089/72068277-f4d8c280-32e4-11ea-84bf-3134f6a8f41d.png)

[2020-01-09 17:33] kckthx commented on #212
@tladesignz

1. I'm attaching the svg of the background -- the image should stay positioned to the center and left and should reduce size proportionately -- obviously the dimensions are different for the phones, so the left side extra would cut off. As far as the text goes, the ratio of the margins should stay proportionate. Text will scale.
[OB_DEL-ON-Background-2020-1-09.svg.zip](https://github.

[2020-01-10 20:39] m4mb01t4l14n0 opened #235 "Add "add bookmark" to iOS sharing share-sheet"
Current Onion Browser has a unique icon on the navigation bar for adding a bookmark to one's collection.  Safari on iOS support this functionality (I have not tested others).  But, in the interest of commonality with the dominant browser, for users who are migrating over, I'd like to add "add bookmark" to the share sheet.

![IMG_0009](https://user-images.githubusercontent.com/34868071/72184811-495

[2020-01-10 20:41] m4mb01t4l14n0 commented on #235
Brave brower, on iPad (iPadOS), has the "save bookmark" capability in the "more" (three dots) menu.  NOT PREFERRED!

[2020-01-10 20:53] kckthx opened #236 "Overlay States"
Hey @tladesignz
Currently, tapping "customize" from the shield menu on ipad produces another flyover menu on top of it.
![IMG_0008](https://user-images.githubusercontent.com/36669955/72185420-5e75d100-33b8-11ea-950a-39a85f5dd0b1.png)

Can we get this second state to appear as an overlay instead, so it takes up more screen space. This would also be how "Settings" works.

![IMG_0324](https://user-im

[2020-01-10 21:02] kckthx opened #237 "Different Default Onion Screems"
@tladesignz
On my iphone xr, I have the same 6 icons for default onion sites. On @m4mb01t4l14n0 ipad, it has different sites. Does this have to do with location?
![IMG_50AD060F998D-1](https://user-images.githubusercontent.com/36669955/72186072-fd4efd00-33b9-11ea-8963-a3bf8db057a7.jpg)
![ecccKfwUJmqmCRZbPzZiyefT](https://user-images.githubusercontent.com/36669955/72186073-fe802a00-33b9-11ea-860d-a2

[2020-01-10 22:00] tladesignz commented on #236
Two times the same screenshot?

[2020-01-10 22:01] kckthx commented on #236
![IMG_0323](https://user-images.githubusercontent.com/36669955/72189447-718d9e80-33c2-11ea-807e-678961fab38b.PNG)
sorry-- @tladesignz

[2020-01-10 22:01] tladesignz commented on #237
Yours is a fresh install, therefore a slightly updated bookmark list. I don't touch existing bookmarks.

[2020-01-10 22:02] tladesignz commented on #236
Ah, ok. Yes, makes sense, will change.

[2020-01-10 22:04] tladesignz commented on #212
@kckthx, sorry to bother you again:
Turns out having the ring and the background all in one needs an awful hack which I also cannot use in the splash screen.

Can you provide the cut-off ring and the gradient background as two files please? Thanks a lot!

[2020-01-11 17:38] Baccount opened #238 "Crash when tapping the onion button while a website is loading"
1. Open the app and tap torproject’s onion link.
2. Then immediately tap the onion button on the toolbar and the app should crash every time. If it does not crash on the first time tap the onion again while the website is loading.
Onion Browser 2.4.0
Video showing the bug occur.
https://streamable.com/uogod
@tladesignz

[2020-01-12 16:16] bsprk opened #239 "Improve tab overview (was: Add toggle for Safari style Tab browser)"
![9C9AAE0A-D6FE-4998-8887-FC76EB6CD72A](https://user-images.githubusercontent.com/30192243/72221892-cd078a00-3584-11ea-84ed-b63d9a36f8e6.jpeg)

The current tab browser is too small and makes it difficult to manage tabs on small displays.

[2020-01-12 18:04] bsprk opened #240 "Videos"

[2020-01-12 18:04] #240 closed, assigned to nobody

[2020-01-13 08:52] fluffypony commented on #239
Yeah I'm really not enjoying the new "tiled" tab browser. The previous cover-flow style was MUCH better, and a Safari-style interface would be ideal.

[2020-01-13 10:15] ikonkere commented on #10
Worth mentioning that 2.4.0 brought a regression to this functionality from 2.3.0 (iOS 13). Clicking on download links result in two distinct behaviour patterns:
1) Accessing the link mentioned above (http://flibustahezeous3.onion/b/151260/epub) produces this screen:
![Untitled4](https://user-images.githubusercontent.com/11472129/72247265-91f96b00-3605-11ea-9074-e177ee5a781d.png)
Bottom navigation

[2020-01-13 14:42] kckthx commented on #212
[OB_DEL-ON-2019-01-13.zip](https://github.com/OnionBrowser/OnionBrowser/files/4054075/OB_DEL-ON-2019-01-13.zip)
 @tladesignz

[2020-01-13 19:22] m4mb01t4l14n0 commented on #237
I am running v 2.4.0 (build with last 4 digits 3906).  I just installed this 48 hours before the discussion with @kckthx.  It's the release TestFlight gave to me, no further new releases.  NOTE: I did update my iPad to iOS 13.3 (iPadOS) prior to loading this new build.

[2020-01-14 15:52] ikonkere commented on #10
Ah, i think i got it. Navigation bar disappears if you clicked on a download link having pinch-zoomed onto the web-page prior to clicking on the link.

[2020-01-14 16:24] lanierband commented on #231
"The End" by The Doors: https://www.youtube.com/watch?v=VScSEXRwUqQ

At least now we have a definitive date.

[2020-01-14 16:53] lanierband commented on #238
I validated this with other websites.  The behavior I get on iPad is that (a) progress on loading freezes (unrecoverable), then (b) I tap HOME and then when I try to restart the app, it reports the crash.

[2020-01-14 17:23] lanierband commented on #227
@mtigas can you provide info here so we can close or fix this?  Are we getting UA string from some OS property or something?  Perhaps UIWebView does this "internally" in a way applications can not mess with?  I wonder what WkWebView does, and if this will change when we adopt that library?