[2020-01-14 17:27] lanierband commented on #227
Here's instruction on changing UA string in Obj-C for UIWebView: https://stackoverflow.com/questions/478387/change-user-agent-in-uiwebview

Here's instruction to change UA string in WkWebView: https://stackoverflow.com/questions/26994491/set-useragent-in-wkwebview

[2020-01-14 18:27] mtigas commented on #227
User agent can be overridden in the main options menu -> Default Security. There is a User Agent text field at the bottom.

Regarding your question about whether it's internal and can't be edited: in testing (years ago) there where some edge cases that still revealed the real user agent (I believe the basic `navigator.UserAgent` in JavaScript is one of them).

The 1.X version of Onion Browser used

[2020-01-14 20:09] rocodes commented on #227
So, in between when I filed this and now, I did a bit more poking around, and it does seem like the whole user agent on Tor browser situation is a bit of a mess.
TBB (currently) reports a standard version of Windows / Firefox as the HTTP-user agent, but the `navigator.userAgent` correctly reports the user's platform, spoofing to most common version (so all OSX users on up-to-date browsers report t

[2020-01-14 21:58] kckthx opened #241 "Security Levels -- Onboarding"
@mtigas @tladesignz @m4mb01t4l14n0

I made a new Google Doc, so everything is clear and fresh. The copy in this doc is the most recent that I have written for the Secrity Levels views.

Please look through and make any edits needed so we can get the onboarding completed and pushed! Thank you!

https://docs.google.com/document/d/1I9z_FtAwxtUJ2KIKxTWr2YbUIgyFtDlZjKDiQVfv-80/edit?usp=sharing

[2020-01-14 22:11] kckthx commented on #234
Hey @tladesignz
Let's do #C2A0CA.
it's super close, but passes the accessibility contrast test on https://webaim.org/resources/contrastchecker/

[2020-01-15 18:02] #212 closed, assigned to mtigas, tladesignz, kckthx

[2020-01-16 14:27] tladesignz commented on #234
Thanks, @kckthx!

[2020-01-16 14:27] #234 closed, assigned to kckthx

[2020-01-16 14:30] tladesignz commented on #237
@m4mb01t4l14n0: If you ran an older version on that device, even on an older iOS version, the old bookmarks still exist and won't be touched.

You can go "edit" each single bookmark, then the favicon will be loaded and you start page will sport these.

Or you can erase Onion Browser and re-install. Then, you get an updated fresh bookmark list installed.

[2020-01-16 14:30] #237 closed, assigned to nobody

[2020-01-16 14:40] tladesignz commented on #239
Sorry, to hear that. Firefox mobile has that, too, so I thought it would be an inexpensive way to improve the original.

I found that horrible, because you could only ever see one tab.

We planned for something like that, but unfortunately, it turned out to be really difficult to implement. Apple must have thrown a ton of money on that feature. Also consider iPad. iPhone style doesn't make a lot o

[2020-01-16 14:50] #236 closed, assigned to tladesignz

[2020-01-16 15:45] #235 closed, assigned to tladesignz

[2020-01-16 16:33] tladesignz commented on #176
So this went into the 2.3.0 release, already. People can use it. They just need to find it. I'll close it for now, if there's no interest to explain it.

[2020-01-16 16:33] #176 closed, assigned to mtigas, m4mb01t4l14n0

[2020-01-16 21:03] tladesignz commented on #10
Thanks a lot for catching this!

[2020-01-17 14:56] tladesignz commented on #10
Hurray to Apple's documentation! Next release should have this all fixed. Thanks a lot, again!

[2020-01-17 14:56] #10 closed

[2020-01-17 15:03] m4mb01t4l14n0 commented on #235
great!

[2020-01-17 15:05] m4mb01t4l14n0 commented on #239
Perhaps let's add a review of this toward the end of the project.

[2020-01-17 15:09] m4mb01t4l14n0 commented on #10
YAY!

[2020-01-18 18:26] tladesignz commented on #238
As per crash reports via AppStoreConnect, it seems, Tor.framework crashes when trying to make sense of the circuit info strings.
Did a shotgun debugging:

https://github.com/iCepa/Tor.framework/commit/c4c2aacac6fb11bbd6dee5576c5835439e618d85

Hope that will solve the issue.

Thanks a lot for reporting!

[2020-01-18 18:26] #238 closed, assigned to tladesignz

[2020-01-18 18:29] tladesignz commented on #241
Sorry, can't read, yet. Sent a request.

@m4mb01t4l14n0, @mtigas: Can you either
- approve the text as-is
- improve and then approve
- tell me to forget about it

So we can get the last thing in the new UI out of the way?

[2020-01-18 18:38] tladesignz commented on #227
Just for reference, this is what Onion Browser currently does:
https://github.com/OnionBrowser/OnionBrowser/blob/d9f1cd8be0e879df8b79c5f4cb243835fe4c1a6a/OnionBrowser/AppDelegate.swift#L99-L124

And I think this was adopted from Endless. However unclear, what Endless adopted from Onion Browser 1 as I think that was a reference for the Endless development.

I'll close it now, as @rocodes suggests,

[2020-01-18 18:38] #227 closed, assigned to nobody

[2020-01-20 17:19] tladesignz commented on #74
I did a first stab at this, without UI drafts. This is really for very advanced users, because there's no failure mode feedback, but should do for people who are advanced enough to use `HidServAuth`.

[2020-01-20 17:19] #74 closed

[2020-01-22 08:58] tladesignz commented on #231
Related: #47

[2020-01-22 09:02] tladesignz commented on #182
Well, we still have two screens for TLS certificates and Onion circuits, but as far as I see, there's no plans to improve that for now, so I close this issue.

[2020-01-22 09:02] #182 closed, assigned to nobody

[2020-01-22 09:06] tladesignz commented on #173
Possible with first implementation of a solution to #74.

[2020-01-22 09:06] #173 closed, assigned to nobody

[2020-01-22 09:09] tladesignz commented on #122
I'll close this now.

[2020-01-22 09:09] #122 closed, assigned to nobody

[2020-01-22 09:37] tladesignz commented on #207
Just revisited this. Since we're using iOS' TLS stack, it's no surprise we're on par with Safari iOS (and MacOS). I currently don't see any hard reason to invest time and money to change any of this, as we would also lose compatibility.

If there are good reasons to do so, feel free to reopen, but prepare arguments and expected outcome.

[2020-01-22 09:37] #207 closed, assigned to nobody

[2020-01-22 15:10] tladesignz commented on #241
Ok, so @mtigas, I defaulted to text-accepted-without-changes and finally implemented this, so we can get it out of the way!

[2020-01-30 20:39] DrHyde commented on #239
I like that, on iPad, except ...

Yeah. It's a lottery whether a tab actually closes when I try to hit that X. It closes about a third of the time in the right column, and about a tenth of the time in the left column.

[2020-02-03 14:29] tladesignz commented on #241
@kckthx Please provide template or style guide if you want this page better looking than this:

![Simulator Screen Shot - iOS 11 4 @ iPhone 5s - 2020-02-03 at 15 27 55](https://user-images.githubusercontent.com/117089/73661145-de324b00-4699-11ea-91a5-93a91316302b.png)

[2020-02-03 14:46] kckthx commented on #241
https://github.com/OnionBrowser/onionbrowser.github.io/issues/7
This is the style guide I made for the website

The colors and fonts are the same. albeit sizes will be dynamic.
@tladesignz

[2020-02-03 14:50] kckthx commented on #241
![OB_DEL-ON-securitysettings](https://user-images.githubusercontent.com/36669955/73662860-29306c00-4662-11ea-844f-d6d25c0baae3.png)

[2020-02-03 17:21] tladesignz commented on #241
Thank you, @kckthx!

[2020-02-03 17:21] #241 closed, assigned to tladesignz, kckthx

[2020-02-03 18:18] tladesignz commented on #139
So, while redesigning the settings it turned out that it's way too complicated to add yet another dimension to the question of where to put what, esp. with the constraints that a Settings Bundle puts upon its settings.

Therefore, we decided to not implement this idea. Sorry. :-/

[2020-02-03 18:18] #139 closed, assigned to nobody

[2020-02-03 19:29] tladesignz commented on #85
I now envision a fairly easy solution: When no progress for 15 seconds, remove cartoons and cartoon subtext and instead show something like "Seems, Tor can't connect. Maybe you need to configure a bridge? Tap here to do so." or something.

Also, I would then drop the 30 second timeout red screen which says "Looks like we got stuck! Quit. Then restart the app." Can @kckthx do the wording?

[2020-02-09 13:36] deedeeen opened #242 "Cannot play videos"
Set the security level as Insecure (1/3), not possible to play videos with play button as placeholder

[2020-02-10 11:40] abrasivemurk opened #243 "Onion Browser tells the timezone of user through JavaScript, unlike Tor Browser"
This is very bad for privacy. Can you fix it? Tor Browser sets the timezone the same value for every use while Onion Browser tells the exact timezone of users.

[2020-02-11 16:51] tladesignz commented on #243
Sorry, unable to fix.
Tor Browser has its own rendering engine (ok, they use Firefox, but anyway), which they are fully able to control. This is not possible on iOS.

The design goal for Onion Browser is, to look as if you would be on your normal Safari browser.

See #227 and esp. this comment about some background: https://github.com/OnionBrowser/OnionBrowser/issues/227#issuecomment-574309005

[2020-02-11 16:51] #243 closed

[2020-02-11 16:58] tladesignz commented on #242
Link, or it didn't happen...

Seriously, just tested on https://m.youtube.com/
Works fine for me. Can even switch off WebRTC and mixed-mode content.

Feel free to reopen, *if* you can also provide a link!

[2020-02-11 16:58] #242 closed, assigned to nobody

[2020-02-13 10:22] tladesignz commented on #242
One last thing: Video loading is bypassing Tor, that's why you need to use the "insecure" mode!
(Unfortunately, that's a constraint in iOS' system design. Videos are played back by another process which we can't proxy.)

Therefore, if you're behind a censor filtering that video, you're out of luck, obviously.

[2020-02-13 11:50] tladesignz commented on #85
@kckthx:

Can you please sign this off or improve?

![Simulator Screen Shot - iOS 11 4 @ iPhone 5s - 2020-02-13 at 12 46 08](https://user-images.githubusercontent.com/117089/74432698-41bd3500-4e5f-11ea-888c-ad11cc8a08d2.png)

[2020-02-13 12:04] tladesignz commented on #188
Correlated: #47

[2020-02-13 12:14] tladesignz commented on #124
Ok, the MOAT API is described here:
https://github.com/isislovecruft/bridgedb/tree/fix/22871#accessing-the-moat-interface

However, the actual server to ask is missing.
@mtigas Any hint on where to start looking to shortcut this?

[2020-02-13 15:28] kckthx commented on #85
@tladesignz would there be another option for action?
or if they don't configure bridges, they would just shut down the app?

[2020-02-13 16:53] tladesignz commented on #85
Yeah, there's no way to continue here. Either Tor connects in the end, through bridges or without, or they can't continue to use the app.

[2020-02-14 22:14] kckthx commented on #85
@tladesignz we came up with this language
![OB_DEL-ON-Bridge-Config-Restart](https://user-images.githubusercontent.com/36669955/74572650-114fc680-4f45-11ea-8d26-1f1de3276d3d.png)

[2020-02-15 16:44] JamesLinus opened #244 "please fix it. thanks"
open multiple web pages. the app will crashes.

[2020-02-15 21:45] Sharpiro opened #245 "Onion Browser throws error on video blob file download"
* testing with "Insecure" security level.
* testing with popular [file-saver library](https://www.npmjs.com/package/file-saver)

In safari, when you download a blob with a supported mime type, in this case `video/mp4`, you will receive an option to "View" or "Download" the data.

When trying this in Onion Browser, you instead receive an error, `Error Plug-in handled load blob://..`

Here is an exa

[2020-02-16 13:08] MikaelaArsenault opened #246 "Onionbrowser.com giving me a blank page and not loading"
When I try to open onionbrowser.com in the Onion Browser app, it give me nothing but a blank page.

![F66F2836-D0BB-4768-99B7-70376875FB27](https://user-images.githubusercontent.com/59139947/74605202-e45df980-5093-11ea-94d9-7c81c2602ea0.png)

[2020-02-16 13:16] MikaelaArsenault commented on #246
And the two Onion Browser links are not loading for me either.

![7C771981-F6E5-44EE-B198-04F5BFEAD79B](https://user-images.githubusercontent.com/59139947/74605328-32bfc800-5095-11ea-9390-67c967afc80b.png)

[2020-02-17 14:52] tladesignz commented on #246
Thanks for reminding us! I don't know why, but the performance via Tor is horrible and it seems to blow up the UIWebView renderer as the pages cuts-off for me.

However, there's an ongoing effort to replace this page *completely* as you can see here:
https://github.com/OnionBrowser/onionbrowser.github.io/issues/2

Therefore, I'll close this issue now, but not before reminding @m4mb01t4l14n0, @kckt

[2020-02-17 14:52] #246 closed, assigned to nobody

[2020-02-17 15:24] tladesignz commented on #244
Well... Unfortunately, it's not *that* easy. If it would crash always when opening a few pages, then we would have noticed and fixed it already, because that would have been some obvious error.

So, I will need way more details to be able to help you. Like:

- How many do I need to open?
- Is it always the same number of tabs or does it depend on certain websites?
- What websites should I open to

[2020-02-17 15:42] tladesignz commented on #245
Hm. Could have to do with the fact, that video is normally not handled by UIWebView directly. Your code also only works when I switch to "insecure".

So, I guess the loaded data does not get where the script wants it, due to our Tor tunneling for some parts of the webpage but not for the video?

[2020-02-17 15:59] Sharpiro commented on #245
Yea I did note that it only even gets as far as it does in "insecure" mode.  This is a function that works in Tor Browser "safe" security level, so It should work on Onion Browser's standard security level.

[2020-02-17 16:57] tladesignz commented on #245
Yeah, no. This is iOS. A very constrained environment. Onion Browser basically is Safari with a different chrome where parts of it are able to make connections via Tor. There's an update coming, where we explain some limitations a little better.

[2020-02-17 18:03] m4mb01t4l14n0 commented on #246
Thanks for the prompt here, @tladesignz. @MikaelaArsenault we've got some updates in the works to be deployed very soon.  Thanks for you patience.

[2020-02-18 00:38] Sharpiro commented on #245
I see. So you don’t think this would be fixable even in insecure mode?

[2020-02-18 10:36] tladesignz commented on #245
Well, probably, if we strip all the Tor stuff. But what's the point, then?

See, the way this script seems to handle video downloads, you're downloading the video via a direct connection, side-tracking Tor. So you're leaking your real IP address. And you're hitting a network provider's or country's firewall.
So even if we get it to work, it's still insecure, which begs the question, why are you us

[2020-02-18 10:41] tladesignz commented on #85
@kckthx, should I change the image and background color to these specific ones, or just use the last which was on rotation?

[2020-02-18 10:43] tladesignz commented on #85
@kckthx, and why is the progress bar hidden? Tor is still trying to connect in the background and it could succeed any time, as the delay might be just due to a very slow connection.

[2020-02-18 11:39] tladesignz commented on #85
How about this?
![Simulator Screen Shot - iOS 11 4 @ iPhone 5s - 2020-02-18 at 12 39 05](https://user-images.githubusercontent.com/117089/74732994-b28f9300-524b-11ea-9279-9e01ad21b83b.png)

[2020-02-18 21:29] Sharpiro commented on #245
I'm just executing a basic JavaScript fetch to get a file into memory.  In Onion Browser fetch still goes through Tor right?

You could assume that the provided client test code is served over Tor from an Onion Service, then the video download via fetch would also be served over Tor.  That's my use case from which I created this simplified example.

[2020-02-19 13:02] tladesignz commented on #245
Well, yes. But as the error says "Plug-In handled load". It seems, because it is a video file, the Safari plug-in which handles video files still loads it, instead of our UIWebView running inside our app's process.

You can see it in the request header's User-Agent string, which is different from normal requests:
AppleCoreMedia/1.0.0.15F79 (iPhone; U; CPU OS 11_4 like Mac OS X; en_us)

So it doesn

[2020-02-19 17:01] Sharpiro commented on #245
Interesting.  I'm fairly knowledgeable about Tor but not IOS intricacies.

As far as a non-video example, I actually had another one prepared to open as an issue later.  This one however, doesn't throw an error, it instead is just a bit awkward.  Again, works fine in main Tor Browser.

Basically what happens is, instead of being prompted to "View" or "Download" the file, as is the case in Safari,

[2020-02-20 16:53] tladesignz commented on #245
Oh, man. I debugged this for 4 hours now. I'm sorry, but this library just won't fly with Onion Browser.
It hits so many things we're doing to protect the user that it just won't work.

The empty tab opening is actually an error. So, thanks for pointing me at it.

When I fix that, though, the lib will try to open a `data:` URL in a new tab. And our inter-tab communication is so stripped down, that

[2020-02-20 16:53] #245 closed, assigned to nobody

[2020-02-21 10:30] tladesignz commented on #85
@kckthx Ping

[2020-02-21 14:36] kckthx commented on #85
hey @tladesignz I think this will work if we take off the second "connecting to Tor."
I was struggling with the idea of telling the user to close the app if it can still start to work at any moment. But they don't really need that many options. I think it would be best for them to default to restarting the app still.

<img width="377" alt="Screen Shot 2020-02-21 at 8 36 33 AM" src="https://user-im

[2020-02-21 16:13] #85 closed, assigned to tladesignz, kckthx

[2020-02-22 18:02] nitrohorse opened #247 "Suggestion to add DuckDuckGo HTML or Lite to default search engines"
Hi! I really appreciate the work you all are doing with Onion Browser. I noticed that while on the "Secure" setting with JavaScript disabled, when I do a search on https://3g2upl4pq6kufc4m.onion, results unsurprisingly don't appear because the main DDG site relies on JS. I expect to get redirected to the HTML version of DDG but am not (could just be me?).

So I'm proposing adding these other versi

[2020-02-24 11:53] tladesignz commented on #247
Love it. Done!

[2020-02-24 11:53] #247 closed, assigned to tladesignz

[2020-02-26 22:37] tladesignz commented on #197
Let's forget about this. I removed all non-english screenshots. English screenshots are now for all, these are up-to-date.

[2020-02-26 22:37] #197 closed, assigned to mtigas

[2020-02-26 22:38] tladesignz commented on #239
So, a little improvement went into 2.5.0. I'll move this to the 2.6.0 milestone, so I don't forget.

[2020-02-27 09:13] tladesignz commented on #116
@m4mb01t4l14n0, I implemented a first shot at this:

In Bookmarks scene, press "Sync":

![Simulator Screen Shot - iOS 12 4 @ iPhone 6 - 2020-02-27 at 10 06 24](https://user-images.githubusercontent.com/117089/75428781-ffa8ee80-5948-11ea-95e5-dab6b2bd3811.png)

Which brings you to this scene, where you can enter the server hostname, your username and password and then press "Synchronize" to do an i

[2020-02-27 09:19] tladesignz commented on #233
Actually, the requirement is about Tor.framework, not so much Onion Browser. The idea is, that Tor Project does start to compile Tor for iOS, too, so they immediately recognize, when something breaks there and they can fix it themselves with their deep knowledge about Tor, rather than we do it and have to puzzle over why it broke again.

Just recognized, there is already a Travis script:

https://

[2020-02-27 10:28] tladesignz commented on #148
Just read through this:
https://write.privacytools.io/jonah/securing-services-with-tor-and-alt-svc

and found this:

And, indeed, `write.privacytools.io` provides the following header:

`alt-svc: h2="privacy2zbidut4m4jyj3ksdqidzkw3uoip2vhvhbvwxbqux5xy5obyd.onion:443"; ma=86400; persist=1`

But when you use that address, you will see `www.privacytools.io`, instead of `write.privacytools.io`.

Since

[2020-02-27 15:26] m4mb01t4l14n0 commented on #233
Yes, it seems like it's only for the narrow part of Onion Browser that has the linkage to Tor itself.  Good luck sussing out that Travis script, @tladesignz !

[2020-02-27 15:31] m4mb01t4l14n0 commented on #116
@tladesignz great first shot at this!!!  Question: Obviously this is a niche feature.  It seems like exposing the Sync option to all users, therefore, might be asking for trouble.  How about a setting (in Settings) that enables/disables Sync? If enabled, that action shows.

@kckthx we will likely have a set of smallish UX items for you this round.  Let me collect those and analyze before you engag

[2020-02-27 17:07] tladesignz commented on #244
Ok, so I found a massive memory leak (uuups), which will be fixed in the next version.

Also, HTML content of background tabs will now be unloaded on iOS memory warnings.

@mtigas: Is there a way to send Tor a signal that we're under memory pressure and it should give up some memory?

[2020-02-27 17:11] tladesignz commented on #187
Since this is 3/4 of a year old, I'll close it.

Please try the latest published version. (2.5.0 is out since a few days.) I fixed some issues in conjunction with bridges. Also the error scene from the screenshot above is gone.

[2020-02-27 17:11] #187 closed, assigned to nobody

[2020-02-27 17:13] tladesignz commented on #209
Ok, I think we won't do this. Too much effort for too little gain.

[2020-02-27 17:13] #209 closed, assigned to nobody

[2020-02-27 17:22] tladesignz commented on #116
Huh. That sounds like a lot of hiding. People won't be able to find it, unless they specifically search for that feature.

Nothing can happen in that scene, as long as they don't enter *valid* credentials to a Nextcloud server running the Bookmarks plugin. (They can't even press the "Synchronize" button, as long as they don't enter anything.)
Placing it there seemed logical (bookmarks...) and is a

[2020-02-27 17:53] mtigas commented on #244
I'm not aware of anything off the top of my head. I don't _think_ there is.

[2020-02-27 18:01] mtigas commented on #148
Yeah I think my original read of this when writing the ticket was wrong and it 1) shouldn't redirect and 2) it should automatically happen if the onion works, without prompting the user.

I wonder what happens when making that connection over `.onion`, but still sending `Host: write.privacytools.io`?

Not in the current way that things are set up.

I've thought about this, but think this isn't goi

[2020-02-28 14:13] tladesignz commented on #244
See, when I tested with 18 open tabs full of news websites, I reached around 900 MByte of RAM usage. Closing the tabs, it fell back to ~550 MByte. After launch, though, we start with ~150 MByte RAM usage.

When I do a memory graph debug, I see **a lot** libboringssl, libnetwork and CFNetwork  objects and a **huge** amount of Malloc blocks. Also, the analyzer shows a dozen retain cycles, all of whi

[2020-02-28 16:08] tladesignz commented on #148
Ah. Why wait. I'll try it out.

[2020-03-02 16:44] tladesignz commented on #148
😭 Almost got it working. Still have issues with TLS certificates not containing the .onion domain, but I guess that would have been solvable.

Real dealbreaker however is this:

https://developer.apple.com/documentation/foundation/nsurlrequest#overview

Can't modify the host header, so can't reach virtual hosts on a server using them. (Like... all, nowadays...)

[2020-03-02 16:52] tladesignz commented on #188
This won't work and we're running out of UIWebView support anyway. So I'll close this.

[2020-03-02 16:52] #188 closed, assigned to tladesignz

[2020-03-02 16:54] tladesignz commented on #167
Sorry that we never answered this.
Yeah, it is well known.

As per @mtigas:

Related: #153

[2020-03-02 16:54] #167 closed, assigned to nobody

[2020-03-03 13:54] m4mb01t4l14n0 opened #248 "Failure to open Landing Page"
![IMG_0011](https://user-images.githubusercontent.com/34868071/75782106-643ec180-5d2c-11ea-87bb-c3f0ade902c8.PNG)

I get this screen on my iPad on initial startup (first use), after tapping "start browsing".  Tapping OK brings me to a black screen (empty browser pane) from which I can enter URLs and pages do load. Once a page is acquired, the back button yields the purple "Onion Browser" landing p

[2020-03-03 14:24] n8fr8 opened #249 "Finalize security level language"
Is it:

- Insecure / Moderate / Secure

or

- Low / Moderate / Maximum

The website currently shows the 2nd, versus the App shows the 1st option.

Should we match Tor Browser?

- Standard / Safer / Safest?

There is concern that our "Standard" on Tor Browser is not equivalent

Let's find a way to survey, review, wordsmith what we need.

[2020-03-03 14:25] n8fr8 commented on #249
Let's write a more complete document first to capture everything.

[2020-03-03 14:27] n8fr8 opened #250 "Should we have link to check.torproject.org or Onion Browser onion?"
Currently the bookmark/home screen on the app no longer has a quick link to http://check.torproject.org or Mike's Onion service homepage.

[2020-03-03 14:29] n8fr8 commented on #250
nevermind. its in the bookmarks!

[2020-03-03 14:29] #250 closed, assigned to mtigas, m4mb01t4l14n0

[2020-03-03 14:29] n8fr8 commented on #250
(and also check.torproject.org is confusing)

[2020-03-03 15:30] tladesignz commented on #248
Sounds like a race condition. The file is created on-the-fly. Everything is packed in one file (incl. the favicon images). That was the easiest route to not create security holes. It is recreated multiple times on first startup - every time a favicon is loaded.

This sounds, like you just found the moment, where the file was being recreated, but not fully done, yet.
I'll look into it.

[2020-03-03 15:55] tladesignz commented on #248
Problem was, file got deleted to trigger re-rendering. Bad idea, because re-rendering and reading happens in different processes. Now just marked for re-rendering, no deletion anymore.

[2020-03-03 15:55] #248 closed, assigned to tladesignz

[2020-03-04 10:54] tladesignz commented on #233
Ok, so it did work, but with a very old macOS/Xcode image.

I updated it to the latest and fixed the then appearing bugs.

https://github.com/iCepa/Tor.framework/commit/f4c720164c5a3123bfd603d013411d0848a0ca0d
https://github.com/iCepa/Tor.framework/commit/0cf14e01e4fc04e9c86322ae2b047e151adebb32
https://github.com/iCepa/Tor.framework/commit/8fc455b6ad72da62135b2384e6eaa8505daf7672

[2020-03-04 10:54] #233 closed, assigned to mtigas, tladesignz

[2020-03-04 11:18] tladesignz commented on #233
https://trac.torproject.org/projects/tor/ticket/33522

[2020-03-10 11:08] tladesignz commented on #249
Please let me know, if/when I should change any language in the app!

[2020-03-10 12:55] tladesignz commented on #244
So, I played around with stopping and restarting Tor. Didn't reduce memory. Also toggling "DisableNetwork" didn't help.

I'll close this now, as it seems we're stuck here and probably need to hope for improvements in Tor and OpenSSL.

[2020-03-10 12:55] #244 closed, assigned to mtigas, tladesignz

[2020-03-10 13:22] n8fr8 commented on #249
some comments from me

- "Insecure" makes it sound like TLS security is broken potentially, or other basic non-Tor related security features will not function

- Why would a secure browser offer an "insecure" setting at all?

- I agree using the same language as Tor Browser setting levels could be confusing

- "Insecure" is really the "I am aware there are risks, but I just want this site to work"

[2020-03-10 13:24] n8fr8 commented on #249
could we not have summary labels at all, and just slow the slider with descriptive text? Maybe just use 1-2-3 so there is no meaning assigned.

[2020-03-10 13:40] m4mb01t4l14n0 commented on #239
Agreed: too much effort for small UX gain, other issues have higher priority, small modifications to our UX to improve UX after initial implementation.

[2020-03-10 13:40] #239 closed, assigned to nobody

[2020-03-10 15:06] tladesignz commented on #148
Ok, no new input on this. I'll close it for now.

[2020-03-10 15:06] #148 closed, assigned to nobody

[2020-03-10 15:51] JuanitoAlimana commented on #244
Sent from iPhone

﻿
open multiple web pages. the app will crashes.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-03-10 16:02] m4mb01t4l14n0 opened #252 "On-boarding security-level selection bug"
I've been reviewing "language" (for security) on other Tor browser platforms. I actually LIKE our current mechanism for communicating security settings BUT I seem to have a bug.

From a fresh install, I work through the initial screens (no bridges) and arrive at page to set default security level. At base of page there's text "learn more". BUT I can not tap that text UNTIL I tap one of the securit

[2020-03-10 16:11] m4mb01t4l14n0 commented on #252
![IMG_0012](https://user-images.githubusercontent.com/34868071/76333581-3d523380-62c8-11ea-9f44-ea13ec063e30.PNG)
![IMG_0013](https://user-images.githubusercontent.com/34868071/76333585-3deaca00-62c8-11ea-90c7-98a66103f94c.PNG)
![IMG_0014](https://user-images.githubusercontent.com/34868071/76333587-3e836080-62c8-11ea-9fac-652e90ff738b.PNG)
![IMG_0015](https://user-images.githubusercontent.com/3486

[2020-03-10 16:43] ikonkere opened #253 "Connecting to Linkedin SSL error"
Connecting to https://linkedin.com gives an SSL error (see screenshot). It works with desktop Tor browser, so i suppose it's not a Linkedin issue?

I tried to reduce security levels to 1 and also downgrade TLS in the settings, but nothing helped.

![196690A4-45EA-41E9-989D-1FFF97ABF80F](https://user-images.githubusercontent.com/11472129/76336386-fdf70780-6306-11ea-9d07-1ae2d40ef435.jpeg)

iOS 13.3

[2020-03-10 16:53] ikonkere commented on #10
Can confirm it works in 2.5.0, great job!

[2020-03-10 19:06] tladesignz commented on #253
Sorry, but can't reproduce.
It could be, however unlikely, that the exit node meddles with the certificate.

Can you try switching circuits?

If this happens all the time for you, can you post a screenshot of a typical circuit?

In which country are you?

[2020-03-10 19:54] ikonkere commented on #253
Hmm, how do i switch circuits on mobile, or even see the current circuit (that was my first guess, but couldn't find an option to do so)? I wouldn't like to disclose my country of origin publicly, but i can do so in a PM if you don't mind.

This was also something that came to my mind, as i know a thing or two about SSL, but again, it shouldn't matter if desktop works (unless there's a specific fa

[2020-03-10 20:43] ikonkere commented on #253
PS. I tested it with both mobile and desktop devices being on the same LAN [at home], so it's unlikely to do with my country of origin.

[2020-03-10 22:23] tladesignz commented on #253
Open another website which works, then tap the onion icon in the top right.

Ok, nevermind.

These two things aren't in any way connected. You most probably don't ever use the same exit node on both devices.

The real question is: Is this behaviour persistent in Onion Browser?

You mean, because it worked on desktop Tor browser?

Most probably not. Your country shouldn't be able to mess with entry

[2020-03-10 22:48] mtigas commented on #253
could also be a difference between Tor Browser's CA certificate trust and iOS/Safari's? does this error happen in Safari on the same iOS device?

(We _just_ [set up securedrop again at work](https://twitter.com/SecureDrop/status/1237062290102353920) and noticed a weird issue where our naked domain `https://propublica.org/` was getting an error in TBB but not other browsers, until I swapped over to

[2020-03-11 14:51] ikonkere commented on #253
The reason i access Linkedin via Tor is that it's blocked in my country :), so no way to test that.

None on both.

Tried both _obfs4_ and _meek-azure_, none of it helped.

There's no way of knowing it, because the cirquit isn't established. Each tab in OB has its own cirquit right?

Well, it is persistent for me :). I'm trying linkedin.com for two days now without success.

[2020-03-11 18:03] cstiens commented on #249
@n8fr8 and @tladesignz I have a question. For the 1st level (currently insecure)—is a user's connection to that website completely insecure? If it's a website with HTTP, there is still a level of security the user has when accessing it, correct?

If so, insecure is misleading to me.

Second question—What does a user actually (in reality) get at this level?
* Normal browsing mode (similar to what o

[2020-03-11 18:26] m4mb01t4l14n0 commented on #249
I'm working interactively with @cstiens on this language.  I looked at the slider on Android TBA and I think that approach is only midling-successful.  I think if we're having this idea of "levels", it's good have them labelled.

To me, the hard thing is these levels have to communicate BOTH that there is more or less "safety" and that along with more safety comes greater interruption in the brows

[2020-03-11 18:32] ikonkere commented on #253
Oookay, seems there's something wrong with my device, as it also works from other phones. Is there a way to diagnose it, maybe check OB's internal logs or something?

[2020-03-11 18:57] mtigas commented on #253
What version iOS and what device model? (In the Settings app -> General -> About: Software Version, Model Name, and Model Number would be the most useful.)

[2020-03-11 19:18] ikonkere commented on #253
iPhone 6s (A1688)
iOS 13.3.1

[2020-03-11 22:32] tladesignz commented on #253
It works for me. I would think, the root CAs are the same on iOS on every device, aren't they?

And the cert I see in Onion Browser looks pretty much like the one you posted.

Well, Tor normally creates circuits *per domain*. Typically, the entry node stays the same, though. There's a UI issue in your edge case, as OB doesn't show the circuits, as long as the page doesn't load at all. :-/

In that

[2020-03-12 05:51] ikonkere commented on #253
I certainly have some corporate profiles installed, which contain certificate chains for EAP-TLS authentication. You think it might somehow alter the list of root CAs? Is it possible to check this list out in iOS?

Right, so it seems to definitely be on my end and will likely happen with any HTTPS url i try to open:
![IMG_7913](https://user-images.githubusercontent.com/11472129/76493631-1d477f00-6

[2020-03-12 14:56] tladesignz commented on #194
Implemented!

[2020-03-12 14:56] #194 closed, assigned to tladesignz

[2020-03-12 16:06] tladesignz commented on #253
Unfortunately, the buit-in root CA list cannot be seen on iOS. At least, not with onboard resources.

This all looks, like you should avoid that device as much as possible. There's something going on and I bet it's about trying to listen in on your secure connections.

The error message you see comes from iOS itself. So we can't do much about it. I never saw that error message, and it isn't even r

[2020-03-12 16:06] #253 closed, assigned to nobody

[2020-03-12 16:31] ikonkere commented on #253
Oh, i see, i guess there's not much for you to do indeed, it's likely not an issue with OB anyway. Thanks for great help and for being patient and friendly :).

Come on, can't be that bad! Maybe the root issue lies in the fact that even though the device itself is rather new, the iOS image travelled with me since 2008 (i've never done a fresh start on a new device, just restored old iOS backups),

[2020-03-12 16:40] tladesignz commented on #253
You're welcome!

AFAIK, system stuff is not dragged along, but freshly reinstalled. Just settings, apps and user data are copied from backups.

If that's a company device and you have some device management running from your company, **this device is not safe for private use!** This fact is valid for everybody in every country. Don't use it for private things!

[2020-03-12 17:33] kckthx commented on #116
ok @tladesignz I've started working this out a bit and have a few questions

1.  What happens after the user taps “sync”? Will this screen have an option to “un-sync”? or “log out?”

2. If the immediate sync fails, how would the user go about re-syncing? Do they have to un-sync their next cloud account and re-sync?

[2020-03-12 19:33] tladesignz commented on #116
1. All entries from the server are read.
2. They are matched against the currently existing.
3. If an entry is not existing locally, it is created.
4. All entries from the device are created on the server, *if* they don't exist.

No.

Just press "Sync" again.

No.

When bookmarks are created locally, they will be sent to the server immediately. If there's an error, then local and server are out-of

[2020-03-12 20:02] tladesignz commented on #116
@kckthx, BTW: *All* of what I just rephrased is written in the scene itself. You can see it in the screenshots.

[2020-03-17 04:55] cstiens commented on #249
I've done some work on this. It's here: https://docs.google.com/document/d/1FFtPEZZxERyt-eVMbaeESSi8z1WlxInrZnj3nZQqdus/edit#

[2020-03-17 12:31] m4mb01t4l14n0 commented on #249
from the UX team:  https://docs.google.com/document/d/1FFtPEZZxERyt-eVMbaeESSi8z1WlxInrZnj3nZQqdus/edit#heading=h.e60htym8y6cu

There are a few things to note:
- I've reversed the order, and labeled them 'gold, silver, bronze'. The thought is two-fold: 1) to de-prioritize the lowest level (which can be insecure) and 2) to have a system totally unique from Tor, to help lessen any confusion.
- I lik

[2020-03-17 13:49] tladesignz commented on #124
Is one of these addresses mentioned here the MOAT service?

https://trac.torproject.org/projects/tor/ticket/27469

[2020-03-18 17:21] kckthx commented on #116
ok @tladesignz here we go. I didn't rebuild out the bookmark screen since that's already done, so there's just a blank screen with "sync" at the bottom. ;)

I think the best move is to put the alert for a failed sync to be only seen when the sync actually fails, so it's less confusing.

![OB-Sync_Nextcloud](https://user-images.githubusercontent.com/36669955/76988601-f2ad6880-6912-11ea-9087-59a5c48

[2020-03-18 19:03] #124 closed, assigned to tladesignz

[2020-03-19 13:19] tladesignz commented on #116
Thanks, @kckthx! Now implemented!

[2020-03-19 13:19] #116 closed, assigned to tladesignz, m4mb01t4l14n0, kckthx

[2020-03-19 13:49] #252 closed, assigned to tladesignz

[2020-03-19 13:50] tladesignz commented on #252
Ok, ok, admitted: That was a stupid idea. Now you have an extra view controller popping up, which shows the page.
Note: It uses `WKWebView`... ;-)

[2020-03-20 11:26] tladesignz commented on #249
I'm sorry, I didn't follow this discussion closely.

Here are my answers to some questions which arose here:

Apps in iOS can register to handle links to certain domains. Best examples: Youtube and Wikipedia. If you have these apps installed, links to them would directly open the app. These apps of course don't use the Tor tunnel. Universal Link Protections protects you from that behaviour.

Regar

[2020-03-20 11:47] tladesignz commented on #170
@mtigas Your Tor services are down again since a long time...

[2020-03-23 15:26] tladesignz commented on #124
![Simulator Screen Shot - iOS 11 4 @ iPhone 5s - 2020-03-23 at 16 26 23](https://user-images.githubusercontent.com/117089/77332996-17467d80-6d23-11ea-8f48-b68f3ba80244.png)

[2020-03-23 16:01] kckthx commented on #124
Thanks @tladesignz so this would come from the "bridge configuration" screen with an option to "request bridges"?

Would they immediately have the bridge after requested, or would it take them to a site like the qr code does?

[2020-03-23 16:10] tladesignz commented on #124
Here's a screenshot of the "Bridge Configuration" scene before:

![Simulator Screen Shot - iOS 11 4 @ iPhone 5s - 2020-03-23 at 17 03 35](https://user-images.githubusercontent.com/117089/77336779-4ad7d680-6d28-11ea-97b8-ffba4a44e246.png)

I added a button outside the radio list, because the received bridges will be set as "Custom Bridges", if successful.

It's 2 steps:

1. Press "Request Bridges f

[2020-03-23 17:35] kckthx commented on #124
great. so this is what I've got. I think what you made is perfect, just worked out the flow here.
![MOAT Bridge Configuration](https://user-images.githubusercontent.com/36669955/77345484-aee7a400-6d02-11ea-928f-aaf336d2964e.jpg)

[2020-03-23 17:35] kckthx commented on #124
@tladesignz

[2020-03-23 18:06] mtigas commented on #170
It's working for me now. A few months ago I moved it to containers such that it _should_ restart if Tor or nginx die. (I wonder if it's doing something where it stops working but the process doesn't exit yet. I probably could whip something up that will kill the containers / spin up new ones every 12 hours or something, as a safety measure.)

[2020-03-23 20:04] tladesignz commented on #170
I think that was a mirror of onionbrowser.com in the past. Not anymore I guess? Should I remove that from the default bookmarks? Do you want to create a new .onion domain for onionbrowser.com?

![Simulator Screen Shot - iOS 11 4 @ iPhone 5s - 2020-03-23 at 21 02 48](https://user-images.githubusercontent.com/117089/77358185-afeff400-6d49-11ea-866f-72cc37d9e94c.png)

[2020-03-25 20:40] m4mb01t4l14n0 opened #255 "NextCloud Bookmarks - can't connect to sync"
I logged into desktop/web NextCloud (changed password!) and created some bookmarks.  I then fired up OB and made several attempts to sync.  I verified user/pass and URL several times.  Failure, screen attached.  I had security level set to 2 though I don't think that matters.    iPad Mini Retina running 13.3.1.

![IMG_0016](https://user-images.githubusercontent.com/34868071/77583056-ce273280-6eb6-

[2020-03-25 20:49] m4mb01t4l14n0 opened #256 "Cloudflare CAPTCHA"
I opened duckduckgo search and, on several of the result sites I received a "block page" (attached) that asked me to complete a CAPTCHA.  All three times, this came from Cloudflare.  Page asked for the typical tap on the "I am a human" checkbox.  Unfortunately, I was not able to actually CHECK.  Tapping on the checkbox "selected" it, but no highlight mark appeared and tapping SUBMIT got the respon

[2020-03-25 22:17] kckthx opened #257 "No Circuit View"
@tladesignz
Here's a view for the onion menu from the home screen/when there's not a circuit being accessed.

![No-Circuit-Screen](https://user-images.githubusercontent.com/36669955/77590709-5c51e780-6ebc-11ea-8923-87a2a40b9b6c.png)
[No-circuit-map.svg.zip](https://github.com/OnionBrowser/OnionBrowser/files/4383886/No-circuit-map.svg.zip)

[2020-03-26 11:10] tladesignz commented on #145
Unfortunately, it seems to me that this never moved out of draft state. Last commits are 3 years old. Can't find anything relevant on the net regarding "Cloudflare Challenge Bypass".

Instead, it looks like, as if Cloudflare has gone the Alt-Svc route:

https://blog.cloudflare.com/cloudflare-onion-service/

Which makes a lot of sense. We have an issue for that already: #148
Which turned out to be

[2020-03-26 11:12] tladesignz commented on #256
I investigated #145, but never made the effort to comment on it. I did now: https://github.com/OnionBrowser/OnionBrowser/issues/145#issuecomment-604369296

TL;DR: It seems, we're unable to improve here.

[2020-03-26 11:16] tladesignz commented on #255
Only enter the host, not a complete URL! Remove the scheme!

[2020-03-26 12:54] m4mb01t4l14n0 commented on #255
operator error!

[2020-03-26 12:54] #255 closed, assigned to nobody

[2020-03-26 12:58] m4mb01t4l14n0 commented on #145
closed without fix. See #148

[2020-03-26 12:58] #145 closed, assigned to nobody

[2020-03-26 14:31] #257 closed, assigned to tladesignz

[2020-03-26 20:44] Johnoaa opened #258 "Opens in wrong language, can't change"
Upon first launch, onion browser interface has another language than English. It's the language of the country I am currently in, which unfortunately does not use Latin letters. To change the language seems impossible.

My phone's language and region settings are not of this country.

[2020-03-27 14:03] tladesignz commented on #258
That's interesting. There's no special language handling done, really. Maybe a library used messes things up.

I'd like to reproduce this but for that I need to know, which languages we're talking about.
Can you contact me via PM, if you don't want to state it publicly?
You can find contact details here: https://benjaminerhart.com/ueber-mich/

Besides that, please check your "preferred language or

[2020-03-27 18:48] Johnoaa commented on #258
Thank you for your quick response. I followed your advice to check preferred language order and to my severe embarrassement found that this language was ordered above English (due to a recent ambitions to learn it). Changing the order solved the issue.

Thank you again and my apologies, I should have been able to sort this out by myself.

[2020-03-27 19:56] #258 closed, assigned to nobody

[2020-03-31 22:17] kckthx commented on #249
Here's the updated doc with a think a few comments from @cstiens permissions **_should_** be updated, but I don't have the power to change those..
https://docs.google.com/document/d/1FFtPEZZxERyt-eVMbaeESSi8z1WlxInrZnj3nZQqdus/edit?usp=sharing

I'm also uploading a screen of what the new onboarding screen would look like (shield menu would follow suit.) Now with "Gold" being the "highest" level of

[2020-04-01 13:21] tladesignz commented on #249
@kckthx, thanks a lot!

Regarding the shield, I just need the color codes. And please, also check with white on black (aka. "dark mode"), if the color codes need to be different there, an provide these, too!

[2020-04-01 14:25] kckthx commented on #249
Awesome @tladesignz . I think the colors will be fine

![DarkMode-Levels](https://user-images.githubusercontent.com/36669955/78148548-94948100-73fa-11ea-81e0-43b90c2c0d42.png)

**Gold** FFD300 – D5A900
**Silver** CFCFCF – 6F6F6F
**Bronze** E37C00 – A05E0C

[2020-04-01 14:28] m4mb01t4l14n0 commented on #249
If it works with Dark Mode, I approve!  Great work here.

[2020-04-01 19:09] #249 closed, assigned to mtigas, tladesignz, m4mb01t4l14n0, kckthx

[2020-04-04 21:39] kilo6eight opened #260 "What websites do you use that are not functional under Onion Browser?"
Please use this threat to post feedback to developers about websites that are not properly functional under Onion Browser due to the browser (not the Tor network).

1. Twitter / Tweetdeck - playing videos, unable opening tweets in new tabs.
2. Standard Notes - editing notes, changing templates.

[2020-04-06 09:45] tladesignz commented on #260
Videos can't be played on anything the security level "insecure" (or "bronze" as per upcoming version 2.6.0). That's because due to limitations of iOS: videos bypass Tor. If you're behind a censoring WiFi network/ISP/country, you may never see videos because of that fact.

Is that an inherent feature of the website (i.e. is there JavaScript trying to open a new tab?) or do you mean by long-tapping

[2020-04-14 16:47] tladesignz opened #261 "Profile memory usage with Instruments with Tor's debug symbols on"

[2020-04-16 20:20] VVMor opened #262 "Tor"

[2020-05-04 15:17] #262 closed, assigned to nobody

[2020-05-04 15:17] m4mb01t4l14n0 commented on #262
no detail provided by author

[2020-05-09 04:20] thosmos opened #263 "tabs reset when switching away and back"
If I load a site, switch to another app (say to copy something) and switch back, my tab has reset.

[2020-05-09 11:51] tladesignz commented on #263
Not a bug, it‘s a feature... 😉 Check out the „Tab Security“ setting. You may want to change to another option than the default.

[2020-05-09 11:52] #263 closed, assigned to nobody

[2020-05-15 13:18] colbywc opened #264 "Crashes when I open app"
I am on iPad Pro third GEN using 13.1.4 the app was working fine and then all the sudden now whenever I open the app it shows the purple screen and then force closes can someone help me

[2020-05-15 14:01] tladesignz commented on #264
Sorry to read that. To help me debug you, let me walk you through the following items:

1. I guess you mean 13.4.1? If not, please update, because old versions of iOS have security issues!

2. Did you (or your iOS behind your back) update Onion Browser to the latest 2.6.0?
2a. If yes, what version was it before? The one before? 2.5.0?
2b. If no, what version of Onion Browser is installed? (Check a

[2020-05-15 22:57] colbywc commented on #264
Yes I’m on 13.4.1. The version of the app I have installed is 2.6.0. And I just got a new iPad third GEN so this was the only version I’ve had I didn’t really mess with the configuration besides add blocking. I didn’t add any bridges or anything like that and I have deleted the app and reinstalled it I did have another tour browser installed but since have deleted it also.

Sucks cuz this is my fa

[2020-05-16 11:58] tladesignz commented on #264
Hm. I'm running it on an iPad Air 2 just fine. I'm pretty sure it's not the hardware.

Something must be special on your configuration. Help me reproduce it!

- What language are you running?
- Do you have a VPN running? Anything else like Cloudflare DNS or similar apps messing with the network traffic?
- When *exactly* does it crash? The first time you run it after install, there's the introducti

[2020-05-19 13:26] tladesignz commented on #264
Please also hard kill all other apps running Tor. That could cause issues, too!

I'm closing that issue now, since you don't reply. Feel free to reopen, if needed.

[2020-05-19 13:26] #264 closed, assigned to nobody

[2020-05-23 13:24] jozxing opened #265 "'OnionBrowser-Swift.h' file not found"
file：URLBlockerRuleController.m
#import "OnionBrowser-Swift.h"   error：'OnionBrowser-Swift.h' file not found

Xcode Version 11.5
ios：13.5

[2020-05-23 20:33] tladesignz commented on #265
That‘s an auto-generated file which is never really visible, only for the build products.

If this error happens, you messed up the project config. Please follow the instructions in BUILD.md.

If you don’t understand all the concepts and run into problems, please google them. This is not a board for learning iOS development. Thanks!

[2020-05-23 20:33] #265 closed, assigned to nobody

[2020-05-31 17:40] Ju012 commented on #260
![IMG_0003](https://user-images.githubusercontent.com/63131886/83358813-185be280-a344-11ea-86ad-a028cb5a5725.PNG)

Some sites have an SSL error on obfs4 or custom bridges. I haven’t tested this on meek-azure as of yet.

[2020-06-01 02:36] Anonymuo opened #266 "Future"

[2020-06-01 02:44] #266 closed, assigned to nobody

[2020-06-03 04:08] kristianpaul opened #267 "Duduckgo search are broke from the iOS app"
Not sure how to reproduce othe way than opening the Onion App in iOS, from home click on ddg link, search and get this

![7ycj8hrpxqx41](https://user-images.githubusercontent.com/326463/83594818-d12d4780-a525-11ea-8870-907a144503e2.jpg)

[2020-06-05 08:03] kapil0408 opened #268 "Command PhaseScriptExecution failed with a nonzero exit code"
I have downloaded the project and install the pods. when I am running it. it is showing error.

I have done with pod deintegrate and again pod install
also tried option for Keychain to lock and unlock as described on StackoverFlow.
but not succeed.

Any one please help me. how to fix it.

Please see the attached screen shot.
![Screenshot 2020-06-05 at 1 31 11 PM](https://user-images.githubusercont

[2020-06-05 10:33] tladesignz commented on #268
Did you follow the instructions in [BUILD.md](/OnionBrowser/OnionBrowser/blob/2.X/BUILD.md)?

[2020-06-05 10:53] tladesignz commented on #267
1. Judging from the color of the security level shield, it seems you're not running the latest version. Please update!

2. Since you use security level 3, maybe you want to try [DuckDuckGo HTML](https://duckduckgo.com/html/) or [DuckDuckGo Lite](https://duckduckgo.com/lite). (See also Settings -> Search Engine)

3. Besides that - that shouldn't happen, but you could always run into an adversarial

[2020-06-05 11:09] tladesignz commented on #260
Sorry, can't reproduce this problem.

Since anybody can contribute servers and bandwidth to the Tor network, there's of course also adversarial organizations in it. You might have come across a bridge which tries strange things. Could just be a security researcher from a university, or some country's intelligence service trying stuff.

E.g. this looks like a TLS downgrade attack. You could play wi

[2020-06-05 22:11] kristianpaul commented on #267
@tladesignz thats the latest version i could get for iOS

[2020-06-07 17:40] kapil0408 commented on #268
Thanks for this. Resolved

[2020-06-07 20:34] #268 closed, assigned to nobody

[2020-06-07 21:15] tladesignz commented on #267
That seems strange. Can you please tell me the iOS version you're running, the device type and the Onion Browser version? You can find the latter in the settings scene at the very bottom. (Press the gear icon at the bottom right to enter the settings scene.)

How did you get the app? From Apple's app store? Can you post the link to that here?

(I'm wondering if there's someone ripping our work and

[2020-06-07 23:17] MissRarity opened #269 "Cannot "Lock App with Touch ID/Face ID or Device Passcode" on iPad Pro (12.9-inch) (2020)"
In the application settings for Onion Browser on iPad Pro (12.9-inch) (2020), it is not possible to toggle the option for "Lock App with touch ID/Face ID or Device Passcode" as once enabled, it immediately disables itself and the entire line for the option in the interface becomes greyed out and inaccessible.

Please implement change or messages to user for fix/workaround.

[2020-06-08 08:15] tladesignz commented on #269
Hm, that's interesting. This should only happen, if there's no secure enclave available.
Are you running it on a real device? Or a simulator? If it's a real device, is it jailbroken?

[2020-06-09 21:35] MissRarity commented on #269
It is an indeed real, nonjailbroken, directly-from-Apple, non-emulated iPad Pro (12.9-inch) (2020) running 13.5.1.

Interestingly, upon further investigation, it seems to work when Face ID is configured. Prior, I was using the device with a password only. So it seems that the program does not like it when that setting is toggled without Face ID set? Sample size of 1, but that's all the new informa

[2020-06-10 09:02] tladesignz commented on #269
Thanks a lot for digging this up! I checked this with my iPhone XS and it indeed didn't work without enrolled FaceID. With the fix, it now works, enrolled or not. Will be contained in the next release in a few weeks!

[2020-06-10 09:02] #269 closed, assigned to tladesignz

[2020-06-13 01:32] kristianpaul commented on #267
2.6.0 in both iphone 7 plus and ipad pro. https://apps.apple.com/co/app/onion-browser/id519296448

[2020-06-13 22:52] tladesignz commented on #267
Hmmm. Strange.

So you're browsing out of Colombia?

Can you reproduce this, tap the onion icon to show the circuit and do a screenshot with that?

I'm inclined to point my finger at an exit node. Maybe it's one DDG doesn't like. (Often, shady persons try to do tricks esp. with search engines. E.g. build a search result ranking for certain keywords. They burn a lot of IP addresses with these endea

[2020-06-14 20:15] kristianpaul commented on #267
![image](https://user-images.githubusercontent.com/326463/84603142-c5108680-ae51-11ea-97aa-57c18d46c595.jpeg)![image](https://user-images.githubusercontent.com/326463/84603146-cb9efe00-ae51-11ea-839c-d973243ef3d9.jpeg)

[2020-06-14 20:17] kristianpaul commented on #267
- No vpn
- I can access DDG via normal internet connection and also by tor from systems that run Linux

[2020-06-16 09:20] tladesignz opened #271 "Can't specify port in an .onion address, is recognized as a search"
Feedback from the survey:

[2020-06-16 09:46] tladesignz commented on #271
Can't reproduce this, adding a port seems to work just fine, even when only entering the second level domain and the port.

Maybe they were talking about an old version (because they run iOS 10, as some in the survey stated) or they were talking about another app (as some of the free-text answers suggest some people were doing.) Sigh.

[2020-06-16 09:46] #271 closed, assigned to tladesignz

[2020-06-16 12:38] tladesignz commented on #267
Oh man. Sorry, I put you through all this.

Took a while until I understood how to reproduce it and finally found a bugfix.

But this is really big. I think a lot of people have issues in the "gold" level, and this might be a fix which helps a lot with that.

Unfortunately, you have to wait until the next Onion Browser release in a few weeks. (Should be 2.6.1)

Thank you so much for your help!

[2020-06-16 12:38] #267 closed, assigned to tladesignz

[2020-06-16 12:40] tladesignz commented on #256
Problem might also be found here: https://www.webmd.com/

[2020-06-16 14:46] tladesignz commented on #256
Ok, so I found a viable solution to make the CAPTCHA work:

Cloudflare adds some specific headers to the response. If that is seen, Onion Browser now allows `Content-Security-Policy: connect-src: hcaptcha.com`, so the Captcha works.

However, for me, I run into a captcha loop. Not sure, if this is on all sites, from all IP addresses. Might have to do with the specific Cloudflare configuration, or

[2020-06-16 14:49] tladesignz commented on #260
Ok, I close this. Feel free to reopen, if you come up with new insights!

[2020-06-16 14:49] #260 closed, assigned to nobody

[2020-06-16 17:45] 232qwer opened #272 "Javascript is still on with gold"
Hello,
Thank you for the app. I left a tip. Some onion sites block me because it say javascript is still on even though I have it on the gold setting with no javascript selected.
Please help

[2020-06-18 09:18] tladesignz commented on #272
@232qwer, thanks for your support!
Indeed JavaScript is still on. In fact, I don't think we can suppress it, actually, and we inject some of our own to enable the context menu.
It's just that we're denying all other JavaScript from getting loaded and executed by injecting a very restrictive [`Content-Security-Policy` HTTP header](https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP).

Not sure if

[2020-06-18 23:50] m4mb01t4l14n0 commented on #256
Just discovered Cloudflare moved from Google's reCaptcha to hCaptcha in April 2020.
https://latesthackingnews.com/2020/04/14/cloudflare-announces-plans-to-dump-recaptcha-for-hcaptcha/

[2020-06-18 23:53] m4mb01t4l14n0 commented on #256
@tladesignz what's your estimate of time to implement Privacy Pass in a non-Chrome browser like Onion Browser?

[2020-06-24 15:56] tladesignz commented on #256
Ok, so I dug a little deeper into that privacy-pass plugin. It relies heavily on being run as a browser plugin (e.g. runs continuously in the background, makes use of hooks only available to plugins) and we can't run it just like that in a UIWebView context.
I would need to change it completely, to run injected inside a website, only.

I sent @alxdavids, the main committer on that project a mail t

[2020-06-24 17:43] m4mb01t4l14n0 commented on #256
This is incredibly interesting, really.  The challenge for me is that this problem does not happen just on a few rinky-dink websites.  It happens on many of the sites people really want to use.  It's a terrible impediment, making Onion Browser itself appear to be the problem.    I'll be interested to hear what the plug-in's author says.

[2020-06-24 20:49] zettysource commented on #256
So there is no way to use on iOS?

Sent from my iPhone 11.

[2020-06-24 21:05] mtigas commented on #256
@zettysource As I mentioned on another thread you commented in, you can download Onion Browser for iOS in the App Store: https://apps.apple.com/us/app/onion-browser/id519296448

You are replying to different unrelated e-mail threads, which are for to-do tasks and bug reports of the Onion Browser app. Please do not do that. This is not a mailing list. (My previous replies to you are located in the

[2020-06-25 07:19] zettysource commented on #256
#273

[2020-06-25 07:20] zettysource opened #275 "Ok, so I dug a little deeper into that privacy-pass plugin. It relies heavily on being run as a browser plugin (e.g. runs continuously in the background, makes use of hooks only available to plugins) and we can't run it just like that in a UIWebView context."
Ok, so I dug a little deeper into that privacy-pass plugin. It relies heavily on being run as a browser plugin (e.g. runs continuously in the background, makes use of hooks only available to plugins) and we can't run it just like that in a UIWebView context.
I would need to change it completely, to run injected inside a website, only.

I sent @alxdavids, the main committer on that project a mail t

[2020-06-25 11:58] tladesignz commented on #275
I reported you to Github for the behaviour you showed in the last 2 days. Good riddance!

[2020-06-25 11:58] #275 closed

[2020-06-25 12:09] tladesignz commented on #256
Ok, so I got an answer from Alex.
The thing is: that plugin intercepts and manipulates HTTP traffic, which we can't do with JavaScript inside a webpage, because that only runs after the fact.

We of course do have access to and are able to manipulate HTTP headers, but from outside, meaning with Swift/Objective-C.
To try to rewrite that part of the code in Swift/Objective-C and then keep an instanc

[2020-06-25 12:34] m4mb01t4l14n0 commented on #256
@tladesignz let's close this issue.  I think the verbal documentation here is sufficient to indicate we can not, under current funding and time constraints, act further on this item.

[2020-06-28 08:15] sedirmohammed opened #276 "Browser shows a direct connection after wake up from standby"
If I connect to a website, i.e DDG, and open the TOR circuit tab it shows a normal tor circuit. So far, so good! But if I press the standby button of my iphone and wake up it again and now open the TOR circuit tab, the first time it shows me an empty panel, if I close the panel and open the panel again it show me a direct connection to the website?!?!?!?!? If I reload the page it shows me a new ci

[2020-06-28 14:16] tladesignz commented on #276
Thanks for your message!
Actually, that’s sort-of expected behaviour. We need to shut down Tor when the app goes in background, as iOS will silently close the network connections. Then Tor would get angry about that.

The upside is, that, once Tor has gathered a healthy amount of circuit information, restart is quick and reliable.

I agree, UI could be better around this edge case, but on the othe

[2020-06-28 14:17] #276 closed, assigned to nobody

[2020-06-29 08:11] sedirmohammed commented on #276
But does that mean that there exists a direct connection to the server (i.e. DDG) after wake up and before I reload the page?

[2020-06-29 14:33] mtigas commented on #276
@berevesero

No.

1. The current page you are seeing was downloaded via Tor when there was still a Tor connection.
2. The onion circuit list shows the _current_ Tor connection. If it is empty (as in your example), there is no connection to the website because we have no Tor circuits open to the website.
3.  We do not fall-back to non-Tor connections. Reloading the page -- or if there is something

[2020-07-19 07:37] Man-with-Arrow opened #277 "[Feature Request] Systemwide VPN"
As this is (AFAIK) the only official TOR implementation for iOS, and there is no way to route all traffic through TOR on iOS (à la Orbot on Android) - how complex would it be to add a systemwide VPN option?

[2020-07-19 09:46] tladesignz commented on #277
Complex, unfortunately.

https://github.com/iCepa
https://github.com/tladesignz/iCepa
https://benjaminerhart.com/2018/03/state-of-the-onion-ios/

We're working on it with the Tor Project, but the memory constraints are very difficult to reach for what needs to be done.

[2020-07-21 16:48] n8fr8 opened #278 "Improve MOAT requests"
Could we use libcurl to do the direct HTTPS request to the moat server with the modified host header?

HTTP custom header example:
https://curl.haxx.se/libcurl/c/httpcustomheader.html

libcurl build for iOS:
https://github.com/gcesarmza/curl-android-ios

[2020-07-29 01:08] modestmac opened #279 "Crashes when selecting text entry form field"
I’ve attempted across various sites (including .onion) using different security levels and both physical and software keyboards.  After selecting a text entry field on any site the app will crash.

Onion 2.6.1
iPadOS 14.0 (18A5332f)
MY2H2LL/A (12.9 Pro 2020)

[2020-07-31 06:04] Ju012 opened #280 "Exc_Bad_Access on iOS 13.6"
[Onion Browser ips File](https://we.tl/t-pveUGL9CGy)

While browsing, I’ve noticed this within Analytics on iOS 13.6. I wanted to bring it to the project’s attention. I’ve linked the ips file for consideration.

Regards

[2020-07-31 14:50] tladesignz commented on #280
@Ju012, thank you very much for that! I see, it's in the Tor thread.

There's already a new version in the pipeline with an updated Tor. I'm pressing my thumbs, that this will fix it. Please report, if not!

[2020-07-31 14:58] tladesignz commented on #279
So you're running iOS 14 Beta 3?

On my iPhone XS running iOS 13.6 it seems to work.

I browse to https://www.w3schools.com/html/html_forms.asp, tap around in the form fields, select text, delete text, enter text, all fine.

Do I need to do something more specific?

I'm actually surprised that it runs on iOS 14 at all. Would have thought, Apple has removed UIWebView support there, already.

Howeve

[2020-07-31 15:06] tladesignz commented on #279
Ah, I just saw 2 crashlogs for iOS 14 in AppStoreConnect with a device like yours. I guess that was you?

Unfortunately, the crashes are right at the entry point of the app. That looks very much like a problem in iOS.

Let's see, what Apple officially will say about support for UIWebKit in iOS 14 and for the release of it.

Thank you very much for your efforts!

[2020-07-31 21:34] modestmac commented on #279
Appreciate the updates - checked a few other apps and it looks like its
only causing issues with specialty browsers - Chrome and Edge seem fine -
 but anything with TOR and the VMWare/Citrix Web Browser.

I can grab my local logs at anytime if for some reason you need them later.

Cheers and thanks again for such an awesome app

On Fri, Jul 31, 2020 at 10:06 AM Benjamin Erhart <notifications@githu

[2020-07-31 21:54] tladesignz commented on #279
The thing is, there are 2 different web browser widgets:
[`UIWebView`](https://developer.apple.com/documentation/uikit/uiwebview) and [`WKWebView`](https://developer.apple.com/documentation/webkit/wkwebview).

[Apple has deprecated the first](https://github.com/OnionBrowser/OnionBrowser/issues/231), but we rely on it, because we currently cannot switch to a [`Network Extension`](https://developer.

[2020-07-31 21:54] #279 closed, assigned to tladesignz

[2020-08-08 17:32] illbeyourbeach opened #281 "Siri Shortcuts support?"
Have y'all considered adding some basic support for Siri Shortcuts?

Just including the ability to open URLs in Onion Browser through a Shortcut action opens up many powerful possibilities—mainly opening links from other apps automatically. Maybe there can even be a rudimentary reading list that could be contained entirely within Shortcuts.app that can automatically open links in Onion Browser whe

[2020-08-10 15:59] tladesignz commented on #278
There is a CocoaPods library, which bundles libcurl and encapsulates it with a nice Objective-C API:

https://cocoapods.org/pods/YMHTTP

It looks like it can do domain fronting, but I do get 400 errros, when I try it the very simple way.

Need to check back with our Tor contact via mail what to do here.

[2020-08-10 22:15] Deadsoonx opened #282 "When pasting onion sites into address bar it just does a search"
Instead of going to onion site it just searches in DuckDuckGo. Not sure why.

[2020-08-11 10:59] tladesignz commented on #282
Similar issue: #271
And again: Can't reproduce. I can paste a .onion domain just fine, I can paste a full fledged .onion URL just fine.

@Deadsoonx, can you please specify all the steps and settings that are necessary? Screenshots are welcome, too!

[2020-08-11 11:01] tladesignz commented on #281
Nice idea! Not sure, if we have the money for that.
`UIWebView` shouldn't be a problem, though.

[2020-08-12 08:54] illbeyourbeach commented on #281
I guess ik where to donate to once I get my next pay check. I’ll really be looking forward to the seeing this in the app.

Tysm for developing and releasing Onion Browser for free, it’s such a help day to day 💚💚

[2020-08-13 18:56] Ju012 opened #283 "Excessive Wakeups"
I wanted to report this for the projects consideration. Linked, is the ips file.

https://we.tl/t-RaCVjZFEuz

[2020-08-14 08:15] tladesignz commented on #283
@Ju012, thanks for this!
(For easier handling and transparency, can you please just directly paste the crash log file the next time? Thanks!)

As per this explanation:

https://developer.apple.com/forums/thread/124180?answerId=388065022#388065022

@ahf, this is inside Tor (see crash log). Any idea?

This is the (resymbolicated) crash log:

[code]

[2020-08-14 08:26] tladesignz commented on #280
I resymbolicated this crashlog, since I was already doing another one.

This is Onion Browser 2.6.1 which uses Tor version 0.4.3.5, compared to the latest 2.6.2, which uses 0.4.3.6.

Might be already fixed, but nevertheless here for the record:

@ahf: you might want to have a look at this:

[code]

[2020-08-15 02:03] kristianpaul commented on #267
![532B47F1-A28A-461B-B4E4-1007BC8FE310](https://user-images.githubusercontent.com/326463/90303138-2d3f1100-de71-11ea-8468-30942ed87205.png)

![58B4F7CF-8EA0-4B1A-AAEB-78641C9AE9B7](https://user-images.githubusercontent.com/326463/90303178-91fa6b80-de71-11ea-90df-60ce99090fae.png)
![9D98310D-5574-4564-80A5-EC2E86F4FFF4](https://user-images.githubusercontent.com/326463/90303180-93c42f00-de71-11ea-97

[2020-08-16 17:32] neilzone opened #284 "[Feature request] Support for onion-location header"
In Tor Browser, if you browse to the clear web URL of a site which sends an onion-location header, you are redirected automatically to the .onion service specified in that header.

For example, if, using Tor Browser, you were to visit https://decoded.legal, the server will send back an onion-location header of "dlegal66uj5u2dvcbrev7vv6fjtwnd4moqu7j6jnd42rmbypv3coigyd.onion", and the browser will a

[2020-08-17 10:07] tladesignz commented on #284
D'oh! Thanks for that hint!
If we had known about that, I'd had at least implemented this when trying to do #148.

https://community.torproject.org/onion-services/advanced/onion-location/

Unfortunately, we ran out of the last funding round, but I'll try to get time for it!

[2020-08-17 10:12] tladesignz commented on #267
Please try setting the default search engine to DDG HTML or Lite in Settings -> Search Engine!
JavaScript is disabled in gold security level, so normal DDG can't work properly there.

[2020-08-17 10:17] neilzone commented on #284
Well, at least it's not just me getting something wrong :)

For what it's worth — and I think that this is consistent with #148 — I don't think the alt-srv header we send is acted on either.

[2020-08-17 10:40] tladesignz commented on #267
And just search with the search bar, then it works. Sorry, no idea atm., why this is still a problem.

[2020-08-17 14:06] tladesignz commented on #278
With the help of the Tor folks, I finally nailed it: Onion Browser will now do requests to the MOAT service via its dedicated Meek proxy.

[2020-08-17 14:06] #278 closed, assigned to tladesignz

[2020-08-17 19:41] kristianpaul commented on #267
Looks like it works when selecting silver mode

[2020-08-18 13:23] tladesignz commented on #284
@n8fr8 This is easy to do, can we find some money/time so I can do it?

[2020-08-21 20:22] Charlweed opened #285 "https Everywhere feature is undocumented, and UI is mysterious."
It is undocumented what the "rules" are, and how to use them.
Are these portions of urls that will not be redirected to https?
Are they globs, regexes, or something else?
Is there a way to know when a redirect occured?
Are .onion paths redirected?
Can redirection be disabled for sub-nets?
Is there a way to disable the feature entirely?

[2020-08-22 14:57] ghost commented on #272
Hi, I also appreciate this app!
I’ve seen this be an issue from time to time, for instance when accessing a hidden site such as
http://flkzk2qjqe2yo5etsb7klxjihgrj7bi54k3iscccvkk7xbkif6x5etad.onion/
Hope that helps.

[2020-08-24 10:50] #284 closed, assigned to tladesignz

[2020-08-24 12:13] tladesignz commented on #272
So, the technique to detect JavaScript is simple: a `display: none` CSS attribute is hidden inside a `<noscript>` tag.

I can completely disable JavaScript with the `Content-Security-Header` by removing `sandbox allow-scripts`. Then this technique works as expected.

However, this also disables our context menu on long-taps.

Seems like a good enough quick fix to solve the problem at hand.
However

[2020-08-24 12:26] tladesignz commented on #285
Actually not. At least not to the person who is willing to dig a little.

Actually, it's an implementation of this:
https://www.eff.org/https-everywhere

You can find our implementation right here on GitHub:
https://github.com/OnionBrowser/OnionBrowser/blob/2.X/Endless/HTTPSEverywhere.m
https://github.com/OnionBrowser/OnionBrowser/blob/2.X/Endless/HTTPSEverywhereRule.m
https://github.com/OnionBrow

[2020-08-24 12:26] #285 closed, assigned to nobody

[2020-08-24 23:02] Charlweed commented on #285
Respectfully, no, it is not.
If a user does not know what "https anywhere" is, they have no hope of knowing how to use the "rules" screen. Googling that phrase is useless for figuring out the ui screen because there is no documentation on what that specific screen is for, nor how to use it.
And even if they dig around, and end up on github, source code is not user documentation.

This issue should

[2020-08-25 09:05] tladesignz commented on #285
Actually, most of the features are quite underdocumented, if you see it that way.

Hopefully awaiting your contribution!

[2020-08-27 13:00] Ara041285 opened #286 "Union"

[2020-08-27 13:02] Ara041285 opened #287 "Unionbrowser"
#__Originally posted by @Ara041285 in https://github.com/OnionBrowser/OnionBrowser/issues/286[]()

[2020-08-27 15:00] tladesignz commented on #286
?

[2020-08-27 15:00] #286 closed, assigned to nobody

[2020-08-27 15:00] tladesignz commented on #287
?

[2020-08-27 15:00] #287 closed, assigned to nobody

[2020-09-01 09:38] Ju012 commented on #283
Update: Another log from analytics data

{"app_name":"OnionBrowser","timestamp":"2020-09-01 00:12:32.00 -0400","app_version":"2.6.2","slice_uuid":"5DD276AB-9792-38C7-988F-B01DCE30FDDA","adam_id":519296448,"build_version":"139586.433855682","bundleID":"com.miketigas.OnionBrowser","share_with_app_devs":0,"is_first_party":0,"bug_type":"142","os_version":"iPhone OS 13.6.1 (17G80)","incident_id":"0BA2B

[2020-09-03 21:38] githubuser1256 opened #288 "Feature Request: Folder/directory support for bookmarks"
Is there any chance folder/directory support could be added to bookmarks?

The bookmark sync with Nextcloud works great, and now it begs the ability to import bookmarks that are in folders.

In this case, somehow mirroring the standard bookmark folders in the standard Tor Project would be ideal.

I believe there's three standard folders: Bookmarks Toolbar, Bookmarks Menu, and Other Bookmarks.

Per

[2020-09-09 07:10] tladesignz opened #289 "Apple declined app because of link to donations outside App Store"
This is so fucking ridiculous!

<img width="834" alt="Screenshot-0908-175359" src="https://user-images.githubusercontent.com/117089/92566270-407cab00-f27c-11ea-9838-1df1d50824ce.png">
<img width="834" alt="Screenshot-0908-175346" src="https://user-images.githubusercontent.com/117089/92566291-48d4e600-f27c-11ea-8d3e-5bb9ce243469.png">

[2020-09-09 07:12] tladesignz commented on #289
@mtigas, @n8fr8, I guess I will resolve this by linking the "Donate to Onion Browser" to the in-app purchase scene.

Any additional thoughts on this?

[2020-09-09 13:41] mtigas commented on #289
Yeah I think removing the link in-app is probably the way to go.

My guess on this is that they've made their app review teams crack down non-IAP (in app purchase) revenue since the [Epic Games thing that's been going on](https://www.macrumors.com/guide/epic-games-vs-apple/).

[2020-09-13 01:02] Gu2to opened #290 "Onion browser"

[2020-09-13 06:50] #290 closed

[2020-09-13 09:51] Gu2to opened #291 "Кггкшк"

[2020-09-13 13:03] #291 closed

[2020-09-14 11:27] #289 closed, assigned to tladesignz

[2020-09-14 11:29] tladesignz commented on #289
Not sure if that will help their case, if they additionally try to squeeze NGOs. Grrr.

[2020-09-18 18:00] Ju012 commented on #283
iOS 14:

{"app_name":"OnionBrowser","timestamp":"2020-09-18 02:39:06.00 -0400","app_version":"2.6.2","slice_uuid":"5DD276AB-9792-38C7-988F-B01DCE30FDDA","adam_id":519296448,"build_version":"139586.433855682","bundleID":"com.miketigas.OnionBrowser","share_with_app_devs":0,"is_first_party":0,"bug_type":"142","os_version":"iPhone OS 14.0 (18A373)","incident_id":"EBDD400A-C471-4E54-B579-BFE1D272A77C",

[2020-09-21 04:27] TG10100 opened #292 "Unable to save files since upgrading to iOS 14"
Unable to save files since upgrading to iOS 14

Tried delete then reinstall. No difference.

I believe in iOS 14 the app needs to request permission to save files which is not happening.

[2020-09-21 10:05] tladesignz commented on #292
Hey, thanks for catching this!
This will be in the next release.

[2020-09-21 10:05] #292 closed, assigned to tladesignz

[2020-09-24 17:22] jjsp556 opened #293 "Can't download files from onion service"
Downloading files from a hidden service does not seem to work on version 2.6.2 on iOS 14. Navigating to flibustahezeous3.onion/b/151260/epub simply shows a screen with the file name, type, and size. When trying to save the file to Files or Books via the Share Sheet, nothing happens.

[2020-09-24 17:50] ikonkere commented on #293
Can confirm, nothing happens using Share screen on my iPhone with iOS 14 as well. #10

UPDATE. You can actually use "Copy" action from Share screen and the file copies and can be pasted in Files app :). This can be used as workaround until the regression is fixed.

It seems the file is _downloaded_, but for whatever reason can't be _saved_ via app integration (tried both Files and Dropbox).

[2020-09-24 20:33] jjsp556 commented on #293
This workaround does not seem to work for me. I go to a hidden service file link, and the page describing the file name, type, and size comes up. I then open the share sheet and select "Copy". I then go the the Files app, but there is no UI option to "paste" the file in that I can find.

UPDATE: Never mind! I found that I had to be in a directory in the Files app to paste the file in, and it works

[2020-09-24 20:49] tladesignz commented on #293
Wow. Didn't expect that feature to be so critical. Please relax for a bit. This very much reads like a duplicate of #292, which I fixed last week. Currently in beta testing, will be released soon. PM me, if you want to be on the beta.

[2020-09-24 20:49] #293 closed, assigned to nobody

[2020-09-27 17:27] DanGould opened #294 "Backgrounding during startup ensures no connection"
To reproduce:

1) open OnionBrowser
2) quickly go home either by home button or swipe up to send OnionBrowser to background
3) re-open OnionBrowser to foreground
4) watch the app get stuck on the "Connecting to Tor" screen. the app is now stuck in this state

-

I think the bug is that[ the experimental Tor shutdown](https://github.com/OnionBrowser/OnionBrowser/blob/860d001712d5c80108f64c658e8927f

[2020-09-27 19:20] tladesignz commented on #294
Huh? Sorry, your double-negating question is quite hard to understand.

The thing is, we can't choose how long we are going to stay alive. The app (incl. the Tor thread) just won't get any more processing time after a few seconds.

The only chance we get is to tell Tor to stop, when we get the signal that we're going to be suspended.

I guess, it's just not listening in certain phases in startup,

[2020-09-27 19:56] DanGould commented on #294
Thank you Benjamin for the thorough response. I appreciate what is being done here is cutting edge and that the framework is a careful retrofit with an abundance of limitations we must work around.

https://github.com/OnionBrowser/OnionBrowser/blob/860d001712d5c80108f64c658e8927f0fcbca1bb/OnionBrowser/OnionManager.swift#L444-L461

From my limited understanding in the above bit of code, the `torThr

[2020-09-27 22:50] Ju012 commented on #283
Log update 9-27-2020

{"app_name":"OnionBrowser","timestamp":"2020-09-27 12:13:51.00 -0400","app_version":"2.6.2","slice_uuid":"5DD276AB-9792-38C7-988F-B01DCE30FDDA","adam_id":519296448,"build_version":"139586.433855682","bundleID":"com.miketigas.OnionBrowser","share_with_app_devs":0,"is_first_party":0,"bug_type":"142","os_version":"iPhone OS 14.0.1 (18A393)","incident_id":"51953270-1967-4E20-B6B4

[2020-09-28 07:43] tladesignz commented on #294
That's the check:

https://github.com/OnionBrowser/OnionBrowser/blob/860d001712d5c80108f64c658e8927f0fcbca1bb/OnionBrowser/OnionManager.swift#L241

So, after doing

https://github.com/OnionBrowser/OnionBrowser/blob/860d001712d5c80108f64c658e8927f0fcbca1bb/OnionBrowser/OnionManager.swift#L457

having a nil `torThread` is equivalent to having a cancelled `torThread`.

Sorry, but: forget this. All th

[2020-09-28 10:59] ahf commented on #280
I'm very curious if we can reproduce this on something later than 0.4.3.5 :-)

[2020-09-28 11:03] ahf commented on #280
This does seem like a duplicate of https://github.com/iCepa/Tor.framework/issues/65

[2020-09-28 11:08] ahf commented on #283
I don't think there is that much to change here with the current Tor.

First time you start Tor, the bootstrap phase is very computational "heavy": we need to first fetch the directory documents, check the signatures, then validate the entries before we can use them. All of this requires both a fair bit of network activity, crypto activity (curve25519 operations and SHA3), which yields a high amou

[2020-09-28 11:33] #283 closed, assigned to tladesignz

[2020-09-28 11:50] tladesignz commented on #283
Thanks @ahf, for your analysis!

@Ju012, if you find situations which are *not* related to Tor network discovery, we're happy to have reports about these!

[2020-09-28 11:51] tladesignz commented on #280
Ok, I'll close this and please everybody follow up at the linked Tor.framework issue.

[2020-09-28 11:51] #280 closed, assigned to tladesignz

[2020-10-01 23:14] ahf commented on #294
I'll take a look.

[2020-10-02 01:23] VectorABC opened #295 "Dread Captcha Broken"
Other iPhone tor browsers show all the icon circles. This browser only shows two of them. But most of those other browsers such as OrNET crash when you get through the two layer captcha.

http://dreadytofatroptsdj6io7l3xptbet6onoyno2yv7jicoxknyazubrad.onion

![8DF2E994-D980-4CEC-8E63-0223FDDF440B](https://user-images.githubusercontent.com/49097685/94878796-73a1fc80-042c-11eb-8698-5934d5788ef0.jpeg

[2020-10-06 19:48] richardcfirth commented on #293
How do we get in on the TestFlight beta?

[2020-10-07 09:06] tladesignz commented on #293
Version 2.7.0 is released since a few days. Currently no beta.

PM me, then I'll provide a TestFlight link. Follow my GitHub profile to find various means of contacting me.

[2020-10-10 20:33] nitrohorse opened #296 "Default browser support in iOS 14"
Hi! This is a feature request for Onion Browser to support the ability to set it as the default browser systemwide in [iOS 14](https://www.apple.com/ios/ios-14/), similar to [DuckDuckGo](https://github.com/duckduckgo/iOS/pull/706), [SnowHaze](https://github.com/snowhaze/SnowHaze-iOS/issues/18), and [Firefox](https://blog.mozilla.org/firefox/firefox-default-for-ios/).

[2020-10-11 17:03] markada5 opened #297 "OnionBrowser not accessible with Voiceover on IOS for visually impaired users"
OnionBrowser is not accessible for visually impaired users on IOs.
On some websites, it's impossible to navigate with Voiceover because the browser refreshes the page in a way that Voiceover oses focus.

In addition, it's not possible to use the standard Voiceover gestures to activate different functions in OnionBrowser.

[2020-10-12 08:12] tladesignz commented on #296
After some advanced search tricks, I found the document describing the process:

https://developer.apple.com/documentation/xcode/allowing_apps_and_websites_to_link_to_your_content/preparing_your_app_to_be_the_default_browser_or_email_client

Unfortunately, we won't be able to apply for this:

We *do* use `UIWebView` because that's currently still the only viable way to get between the web renderin

[2020-10-12 08:18] tladesignz commented on #297
True. Thank you for pushing our noses onto this.

I'm not sure we can do anything with this straight away. Our funding currently is very specific towards other (unfortunately more important goals), but I'll keep that in mind and I will push for it to resolve this as soon as we fix our biggest problem #231, without which all others are a futile endeavor.

@m4mb01t4l14n0, @mtigas: Let us please make

[2020-10-12 19:48] nitrohorse commented on #296
Thanks for reply and explanation, @tladesignz; understood!

[2020-10-21 17:51] notrackingme opened #298 "Will not connect to TOR at loading screen"
Hi. Upon launching the app it cycles through the loading screen trying to connect then says unable. I have tried various VPNs, LTE, and WiFi to no avail. All other internet traffic works. Uninstalled and reinstalled app. Running iOS 14. Any ideas?  Thank you.

[2020-10-21 18:55] tladesignz commented on #298
It might just be that your country blocks Tor. Did you try following the advise which pops up after a while that you should try using a bridge? Try the button "Request Bridges from torproject.org". That should give you the best results, if it works. If that doesn't work, try using the built-in obfs4 proxies. If that doesn't work, try Snowflake. If that doesn't work, try meek-azure!

All reachable

[2020-10-21 19:13] notrackingme commented on #298
I'm in the US and it was working until today. Thank you for the idea though.

[2020-10-21 20:33] tladesignz commented on #298
Did you mess with the advanced Tor settings? You can remove these in the same bridge scene using the gear icon.

[2020-10-21 20:54] notrackingme commented on #298
Hi. No. I hadn't made any changes. Trying to troubleshoot I even removed and reinstalled the app and it didn't work.

Not sure if it's repeated or not but prior to this I had noticed some odd bugs. One that stood out was that I couldn't tap the shield to change the security level.

Oddly I just tried logging on again and it let me. It had been down for about a day though.

[2020-10-23 17:58] abdallahalsalmi opened #299 "Getting trusted root CA certificates on iOS"
We're having an issue with our URL certificate on iOS (https://www.bbcnewsv2vjtpsuy.onion). Is there anyway we could export the trusted root CA certificates from the browser on iOS?

[2020-10-23 20:29] tladesignz commented on #299
Onion Browser doesn't interfere with iOS' TLS stack besides forcing certain versions, if you set it so.

So your problem seems to lie within iOS' certificate chain.

Here is the log dump I receive when trying to surf to your site, maybe that can help you:
(Google the error numbers! This seems interesting: https://stackoverflow.com/questions/58011737/ios-13-tls-issue)

[code]

[2020-10-28 14:24] abdallahalsalmi commented on #299
Hi many thanks for this. It is kind of puzzling as we seem to have ticked all the boxes for iOS.

Are you able to test this on iOS12 or before?

[2020-10-28 14:56] tladesignz commented on #299
Ha. That's interesting. It works on an iOS 11.4 simulator instance without a hitch, but it doesn't work on an iOS 14.1 simulator instance.

That's interesting, because it runs on the same MacOS, really. So the infrastructure used is the same. There must be some slight configuration change which is also replicated in the simulators where you're stumbling over.

Actually, that is mentioned in in the

[2020-10-30 11:36] abdallahalsalmi commented on #299
We found a tiny hitch in the cert. As a result, the issuer's Log Server wasn't providing a good SCT so it was failing on some browsers. Once this fix was done, and the cert reissued, it worked just as expected!

Many thanks for your help with the simulation as it helped us identify the problem.

[2020-10-30 11:36] #299 closed, assigned to nobody

[2020-10-30 12:36] tladesignz commented on #299
You're welcome! Good to hear that you could identify the problem.

[2020-10-30 18:48] german778 opened #300 "Onion"

[2020-10-30 21:24] #300 closed, assigned to nobody

[2020-11-02 13:12] #298 closed, assigned to nobody

[2020-11-02 13:23] tladesignz commented on #295
Ok, I finally got round to taking a deeper look into this website.

The problem is just that it's CSS is broken in a way WebKit doesn't like:

[code]

But it should probably be `left: 60px` or some other sensible unit.

Sorry, can't help you there. You will need to talk to the website operators.

[2020-11-02 13:23] #295 closed, assigned to nobody

[2020-11-02 13:25] tladesignz commented on #282
Closing this, as there's no response.

[2020-11-02 13:25] #282 closed, assigned to nobody

[2020-11-02 13:26] tladesignz commented on #277
Closing this, as we track this problem in other issues, already.

[2020-11-02 13:26] #277 closed, assigned to nobody

[2020-11-02 13:29] tladesignz commented on #261
Now being worked on by @ahf.

[2020-11-02 13:35] #256 closed, assigned to tladesignz

[2020-11-02 13:38] m4mb01t4l14n0 commented on #256
my only comment is "<sad face emoji>"

[2020-11-02 13:44] tladesignz commented on #170
Sorry, @mtigas, I removed all links to that domain now (3aabaaa7cd58f25ab1bd0d5030f87e34073b8908), as it is down for months on end now.

[2020-11-02 13:44] #170 closed, assigned to mtigas

[2020-11-02 14:02] tladesignz opened #301 "Last translation update for UIWebView version"

[2020-11-02 14:02] tladesignz opened #302 "Improve Snowflake support"

[2020-11-05 08:46] Mr-zombie8145 commented on #301
does anyone work on updating UIWebView to WKWebView?

[2020-11-05 09:12] tladesignz commented on #301
Yes, a lot of people. Of course you can give it a shot yourself.
Hint: The problem is *not* to replace `UIWebView` with `WKWebView` calls. (In fact, I already did that experimentally in a [branch](https://github.com/OnionBrowser/OnionBrowser/tree/WKWebView).)

The actual problem is described here: #47

Please try not to hijack issues about different topics the next time! Thanks!

[2020-11-16 20:50] kehnton opened #303 "This app crashes often especially when using swipe keys"
Hi Dev!

I’ve fallen in love with this recommended tor browser for a while. But I noticed it suddenly stops working often and it also hangs and eventually closes/crashes whenever I am entering informing using the swipe keyboard feature on my iPhone device. I currently use iOS 13.6.1 on iPhone SE.

Kindly look into it and I hope this issue gets corrected for smooth enjoyment of this great app.

Tha

[2020-11-18 14:08] tladesignz commented on #303
Hi! Thanks for your note!

I can reproduce this problem when I use the app disconnected from the development environment. However, when I try to connect the debugger, it doesn't crash.

I'm sorry, but I'm afraid I can't do a lot about this. It very much looks like a problem in iOS. It seems to be in the interaction between `UIWebView` and the keyboard. I don't think I can do anything about it and

[2020-11-18 14:08] #303 closed, assigned to nobody

[2020-11-18 14:10] tladesignz commented on #302
Fixed with 28282b8d04e1102d61857dbde69efea617490817.

[2020-11-18 14:10] #302 closed, assigned to tladesignz

[2020-11-18 14:26] angakkoq commented on #303
It's the language script translator which is corrupt

On Wed, Nov 18, 2020, 3:08 PM Benjamin Erhart <notifications@github.com>
wrote:

[2020-11-18 14:29] #301 closed, assigned to tladesignz

[2020-11-18 14:34] tladesignz commented on #303
That sounds very interesting but I don't understand it completely. Could you get into a little more detail?

[2020-11-25 15:53] tladesignz opened #304 "onionbrowser.com can't be reached with Onion Browser thanks to Cloudflare"
![Simulator Screen Shot - iPod Touch (7gen) @ iOS 14 2 - 2020-11-25 at 16 52 13](https://user-images.githubusercontent.com/117089/100251096-ab19ba80-2f3e-11eb-8db6-598e318017c8.png)

[2020-11-25 15:54] tladesignz commented on #304
Folks, are we serving this from GitHub directly? We need to move this to another provider!

[2020-11-25 16:44] m4mb01t4l14n0 commented on #304
github.io

[2020-11-25 17:46] n8fr8 commented on #304
Cloudflare can be configured to not show that check for Tor.

https://support.cloudflare.com/hc/en-us/articles/203306930-Understanding-Cloudflare-Tor-support-and-Onion-Routing

Otherwise, shouldn't we send users to an Onion address?

[2020-11-25 19:09] tladesignz commented on #304
Well, and do we control that for github.io?

Yes, we should. Again, do we control that server to enable this?

I think, **NOT**!

We need to serve this ourselves, quickly! This does let look us really poor.

[2020-11-25 19:30] m4mb01t4l14n0 commented on #304
@n8fr8 yeah, I too do not understand how the link you provided helps us.  We're not the CloudFlare customer, github.io is, or so it seems.  Unless of course, GitHub.io surfaces a setting to let its individual customers set the Cloudflare threat level.

Ben's right that this is a terrible situation, given we know the Cloudflare problem is unsolvable.  Maybe an alternative hosting site is warranted.

[2020-11-25 19:33] angakkoq commented on #304
Why don't you setup a server for this yourself? One of you guys must have a
good 24/7 365 connection?

On Wed, Nov 25, 2020, 8:30 PM Mambo Italiano <notifications@github.com>
wrote:

[2020-11-25 21:27] mtigas commented on #304
i think this one might actually be my bad. (and i think relatively recent?)

a couple weeks ago i [had to shut down](https://www.webfaction.com) a server i'd been using for reverse-proxy and 301 redirects and some static file hosting, and this may have been one of the domains using it. (i believe i had it operating in front of github pages due to some paths needing redirects? something like that.

[2020-11-25 21:27] #304 closed, assigned to n8fr8, mtigas, m4mb01t4l14n0

[2020-11-25 21:49] tladesignz commented on #304
Aaah, @mtigas, great! Thanks for fixing this so quick!

[2020-11-26 17:26] Baccount opened #305 "A new browser would like to find and connect to devices on your local network"
While browsing I got a pop-up saying “ Onionbrowser would like to find and connect to devices on your local network” is this intended? Users may see this as a privacy vulnerability.

![4B9A1BD5-BE1A-4443-B4EC-7B98A33E2ED6](https://user-images.githubusercontent.com/10781882/100379049-1e680e80-2fc9-11eb-81c4-83684b235589.png)
Onion browser 2.7.1

[2020-11-26 20:54] tladesignz commented on #305
Well, it's a browser. Do you know of any browser which can't connect to devices on your local network?

Technically, it's correct. It for sure sounds dangerous to the untrained ear, I give you that.

Do you have any idea how to avoid it?

[2020-11-27 17:31] worenga commented on #304
can you attach a .har file?

[2020-11-29 12:32] wisheurs commented on #272
Hello, I can't find a solution to this problem could you help me?

[2020-12-01 08:15] angakkoq opened #306 "Orbot and Tor Browser?"
![Screenshot_20201201_091416_com.huawei.hidisk.jpg](https://user-images.githubusercontent.com/73338924/100714123-a2e5d300-33b5-11eb-8e25-fe1602bc3752.jpg)

[2020-12-01 08:15] angakkoq commented on #306
![Screenshot_20201201_091316_com.huawei.systemmanager.jpg](https://user-images.githubusercontent.com/73338924/100714246-c7da4600-33b5-11eb-89ad-c63c406ee974.jpg)

[2020-12-01 08:15] angakkoq commented on #306
![Screenshot_20201201_091259_com.huawei.systemmanager.jpg](https://user-images.githubusercontent.com/73338924/100714260-ce68bd80-33b5-11eb-8087-a458019b9b2b.jpg)

[2020-12-01 08:16] angakkoq commented on #306
![Screenshot_20201201_091249_com.huawei.systemmanager.jpg](https://user-images.githubusercontent.com/73338924/100714274-d6286200-33b5-11eb-880b-d0f318d09ce1.jpg)

[2020-12-01 08:16] angakkoq commented on #306
![Screenshot_20201130_112041_com.huawei.systemmanager.jpg](https://user-images.githubusercontent.com/73338924/100714380-f48e5d80-33b5-11eb-9213-3561e2a64828.jpg)

[2020-12-01 22:07] wisheurs commented on #272
??

[2020-12-01 23:14] tladesignz commented on #272
Sorry, this needs a UI redesign, which we currently don't have a budget for.

[2020-12-03 15:22] ghost opened #307 "add support for a security policy for vulnerability disclosure"
there should be a security policy for what to do when you find a security vulnerability that affects or only affects onion browser as it could reduce the risk of an attacker to use a security vulnerability for their own gain.

https://github.com/OnionBrowser/OnionBrowser/security/policy

[2020-12-14 20:32] emdete opened #308 "Tor-Browser leaks information from environment"
my tor-browser is set to en-US but when i entered google.com it switched to german. i investigated how that could happen and found the env var LANG to be set to de_DE. after i unset LANG google did not switch to german. so google could somhow access information that should not be revealed by the tor-browser or am i wrong?

[2020-12-14 21:27] tladesignz commented on #308
You sure you came to the right place? Because I have no idea how on earth you managed to set the LANG environment variable on iOS directly. (Without a jailbreak, that is.)

However, check your route through the Tor network. You might use a German exit node, which would explain Google showing a German translation.

[2020-12-15 07:49] emdete commented on #308
Oups, you're right, i thought this is about the Tor-Browser made from a firefox. sorry. Which one is the right name for the desktop tor browser?

[2020-12-15 07:49] #308 closed, assigned to nobody

[2020-12-15 08:26] tladesignz commented on #308
It IS Tor Browser. But this is *Onion Browser*, a Tor-enabled browser for iOS, independently made from the Tor Project. (Although befriended.)

You might start your search for support here: https://support.torproject.org

[2020-12-28 14:25] vasimi opened #309 "Make it more clear that tabs were forgotten in background (suggestion)"
I didn't use onion browser for a while and I was pretty confused that all my tabs disappeared when I locked my phone. I thought this was a bug and then I found out I can change this behavior in settings.

Wouldn't it be nice if the user was somehow informed that his tabs were forgotten in the background and he can change this behavior in settings?

[2021-01-01 22:45] ghost opened #310 "Camera access?"
Closed...

[2021-01-01 23:08] #310 closed, assigned to nobody

[2021-01-22 12:48] tladesignz commented on #309
Yeah, I know. This is suboptimal. I guess we should just change the default behaviour in a version 3.
Keeping this in evidence.

[2021-02-05 01:32] ghost opened #311 "Crash after wake up"
Running iOS 14.5 devbeta in beta app can not wake-up from been in background and "crash" losing open tabs

[2021-02-05 07:57] bruin425 commented on #311
Having issues as well. In the onion browser using the duckduckgo, it won't load anything I search for

[2021-02-08 18:29] DanGould commented on #305
It seems v2.7.2 resolves this issue. The permission is no longer prompted or used as far as I can tell in device privacy settings.

[this apple forums thread](https://developer.apple.com/forums/thread/663874) lists what triggers this permission but I haven't yet found the exact change that resolved this issue exactly. Upgrading to Tor.framework v404.6.2 alone does not solve this issue in my app. D

[2021-02-08 22:28] tladesignz commented on #305
I didn't change anything specifically. It was probably just the recompile with the latest Xcode.

[2021-02-12 06:39] Shahbaz-Akram opened #312 "wvthash/user-agent not matching in JAHPAuthenticatingHTTPProtocol"
I am replacing proxyURLProtocl with JAHPAuthenticatingHTTPProtocol
Issue:  "wvthash from "NSURLRequest request" and from browser controller tab hash not matching".

**Method Name:**  - (id)initWithRequest:(NSURLRequest *)request cachedResponse:(NSCachedURLResponse *)cachedResponse client:(id <NSURLProtocolClient>)client{}
**Class:**  JAHPAuthenticatingHTTPProtocol

[2021-02-12 08:05] tladesignz commented on #312
It's a mechanism to only allow white-listed traffic. Search for `wvthash` in the Onion Browser source code to understand how it's used.

[2021-02-12 08:05] #312 closed, assigned to nobody

[2021-02-15 16:50] not-mms opened #313 "Custom bridges list doesn't change"
I use my own guard node as a single item in custom bridges. For some reason I had to change the OR port of the node, but I cannot change it in the Onion Browser.

To be a bit more specific, here's what I currently have as bridges:
[code]
and I want to change it to:
[code]
but I can't! It doesn't show me any errors, but the list resets to the first variant each time I try to change it.

[2021-02-16 07:39] diepoe opened #314 "Customize Startpage"
Is there any settings entry where I can customize the startpage f.e. that I can add other bookmarks etc.?

[2021-02-16 07:45] diepoe opened #315 "Connection problems when using torbox"
When I want to use Onion Browser with my [torbox](https://www.torbox.ch) network, the browser behaves very strange and following things are happening:
- sometimes long launch times
- the app is prompting connection errors

---
_Device:_
Apple iPad Pro 11" 2020 iPadOS 14.5

[2021-02-16 08:50] tladesignz commented on #315
Don't run Tor over Tor. That doesn't make a lot of sense.

[2021-02-16 08:50] #315 closed, assigned to nobody

[2021-02-16 08:51] tladesignz commented on #314
Yeah, just edit the bookmarks and their order. The first six will be displayed on the start page.

[2021-02-16 08:51] #314 closed, assigned to nobody

[2021-02-16 08:54] tladesignz commented on #313
Did you hit "Connect" in the top right corner after changing it? If not, it gets reset.

[2021-02-16 08:54] #313 closed, assigned to tladesignz

[2021-02-16 18:35] not-mms commented on #313
Of course I hit "Connect" after changing the value in the input field but it seems like the app keeps trying to use the old value anyway. And when I open "Bridge Configuration" after that again I see the old value in the input.

[2021-02-16 18:36] not-mms commented on #313
Onion Browser v2.7.2
iOS 14.4
iPhone SE 2020

[2021-03-14 16:55] angakkoq opened #316 "Onion Search"
![Screenshot_20210314_175303_org.torproject.torbrowser.jpg](https://user-images.githubusercontent.com/73338924/111076853-70885d80-84ee-11eb-8a33-94e66522fe7b.jpg)

[2021-03-16 09:54] tladesignz commented on #316
Wrong OS, wrong app, no description, no idea why this is here. Closing.

[2021-03-16 09:54] #316 closed, assigned to nobody

[2021-03-16 16:32] angakkoq opened #317 "Android Tor Browser"
ORBot running and PIA connection

[2021-03-16 16:34] tladesignz commented on #317
Again? You're wrong here! Go away!

[2021-03-16 16:34] #317 closed, assigned to nobody

[2021-03-18 15:18] iam-cult commented on #296
This feature would be greatly appreciated

[2021-03-18 15:22] iam-cult opened #318 "Add exceptions for prioritizing .onion services"
I find it extremely annoying that I cannot navigate to https://vid.puffyan.us without it redirecting to http://grwp24hodrefzvjjuccrkw3mjq4tzhaaq32amf33dzpmuxe7ilepcmad.onion, which doesn't have a working account system. There should be an option in the settings to add an exception for prioritizing .onion addresses.

[2021-03-18 15:53] tladesignz commented on #318
Thanks for letting us know!

Note to self: This is due to Onion Browser automatically redirecting to an address given in a `Onion-Location` header:

https://github.com/OnionBrowser/OnionBrowser/blob/2.X/Psiphon/JAHPAuthenticatingHTTPProtocol.m#L1283-L1317

[2021-03-23 06:05] 7ife opened #319 "Attribute framename in tag target"
It doesn’t work in <iframe> For IOS  14.4

[2021-03-23 10:12] tladesignz commented on #319
Sorry, I don't think I fully understand your problem. Can you get more precise?

Please note, though: *All* iOS apps which render webpages are using either of two system-provided renderers: `UIWebView` or `WKWebView`.

The first is being out-phased by Apple, so when web page rendering suddenly breaks with iOS updates, that's a problem caused by Apple which we probably can't fix and which Apple pro

[2021-03-23 15:58] 7ife commented on #319
Just go to the demo of [my chats](https://7ife.github.io/cbdemo-0/), through safari just in ios 14.4 click on the emoji button (for example) it will open in the chat window, now go through the tor browser and do the same. Checked on iOS 12.5.1 Tor browser works well.

[2021-03-24 06:49] angakkoq opened #320 "Tor Browser"
Server check.torproject.org abuse?![Screenshot_20210324_074545_org.torproject.torbrowser.jpg](https://user-images.githubusercontent.com/73338924/112267235-6fd19300-8c75-11eb-8470-e693234ec646.jpg)![Screenshot_20210324_074612_org.torproject.torbrowser.jpg](https://user-images.githubusercontent.com/73338924/112267271-79f39180-8c75-11eb-91e6-e376a021a39e.jpg)

[2021-03-29 15:52] tladesignz commented on #319
Aaaah, now I get it. Thanks for catching this! This was our Universal Link Protection feature interfering.

As a workaround until a new release is out, you can switch that off, then it'll work.

[2021-03-29 15:52] #319 closed, assigned to tladesignz

[2021-03-29 15:54] tladesignz commented on #320
Man, you're on the wrong project here! Go away! This is Onion Browser for iOS, **not** Tor Browser for Android!

[2021-03-29 15:54] #320 closed, assigned to nobody

[2021-03-29 17:31] tladesignz commented on #318
You will be able to switch off this behavior either for all or per site in the next release!

[2021-03-29 17:31] #318 closed, assigned to tladesignz

[2021-03-30 05:05] Dynablade opened #321 "How can I set up ClientOnionAuthDir on my iPhone?"
How can I set up ClientOnionAuthDir on my iPhone? I want access my control panel anywhere through tor. Do I need jailbreak?

[2021-03-30 05:14] Dynablade commented on #321
Can I use Client Authorization for v3 onion service?

[2021-03-30 07:16] tladesignz commented on #321
You may find Settings -> Advanced Tor Configuration useful.

Besides that: This is not a Tor support forum. Please consult the [Tor docs](https://www.torproject.org/docs/tor-manual.html) and your preferred search engine!

[2021-03-30 07:16] #321 closed, assigned to nobody

[2021-04-05 14:56] n8fr8 opened #322 "Update Moat domain fronting defaults"
Match Tor Launcher:
https://gitlab.torproject.org/tpo/applications/tor-launcher/-/merge_requests/4/diffs

[2021-04-06 15:36] #322 closed, assigned to tladesignz

[2021-04-19 07:59] webWHITEonion commented on #272
Hello, is this still relevant?  because it is impossible to connect to some dark sites.  also can't open a pop-up window?  is this also related to a problem with Apple?  see you soon

[2021-04-22 22:20] webWHITEonion commented on #272
@tladesignz

[2021-04-23 08:23] tladesignz commented on #272
@webWHITEonion Did you read all the comments? Is anything still unclear? Or did you just want to make the point that this is relevant and you want it solved? If so, ok, I got it.

[2021-04-23 08:55] webWHITEonion commented on #272
Hello thanks for the reply I think you need to fix this still problem.  see you soon @tladesignz

[2021-04-23 12:11] m4mb01t4l14n0 commented on #272
@tladesignz: instead of rethinking security levels, how about just adding one called "Pro Platinum Ultra" that completely disables JavaScript as you suggest (with the only change over "Gold" this one item)?

To @webWHITEonion and @wisheurs and @232qwer our organization is no longer funded for this project, unfortunately.  @tladesignz donates his time for the small amount of work he can do.  We und

[2021-04-29 09:57] earllesniak opened #323 "set"

[2021-04-29 11:58] tladesignz commented on #323
?

[2021-04-29 13:15] #323 closed, assigned to nobody

[2021-05-11 16:28] mldMoldovan opened #324 "I have some issues with git?"
<img width="592" alt="Screenshot 2021-05-11 at 19 22 30" src="https://user-images.githubusercontent.com/39867408/117851165-b6fbfd80-b28e-11eb-890a-3c4c2c1bd427.png">
<img width="592" alt="Screenshot 2021-05-11 at 19 22 45" src="https://user-images.githubusercontent.com/39867408/117851181-b9f6ee00-b28e-11eb-89d2-028a72038285.png">

Please help me solve these. I tried making the directory a repo but

[2021-05-11 16:32] tladesignz commented on #324
Sorry, these screenshots show nothing I can make sense of.

Did you follow the build instructions?

https://github.com/OnionBrowser/OnionBrowser/blob/2.X/BUILD.md

[2021-05-11 16:35] mldMoldovan commented on #324
***@***.***: Permission denied (publickey).
fatal: Could not read from remote repository.

Why cant i access the repo?

[2021-05-11 16:43] tladesignz commented on #324
Sorry, this is no beginner support channel. I guess you make yourself familiar with the git docs first.

[2021-05-11 16:43] #324 closed, assigned to nobody

[2021-05-17 20:27] qwfpg opened #325 "The app crashed after wake up"
iOS 14.5.1. Trying to wake up application crashed it. Settings of tab security setup on remember tab. Similar issues described [here](https://github.com/OnionBrowser/OnionBrowser/issues/311)  but on beta iOS version

[2021-05-18 04:40] yokillb opened #326 "More in depth settings"
I am trying to access a site and even with security set to highest setting website is asking me to type about:config in the search bar then search for Java script and disable it. It works on my desktop when I do this, but not on my iOS app. How do I make it work on app? Thanks in advance.

[2021-05-19 13:39] qwfpg commented on #325
@tladesignz I glad to help if you shortly will describe me a reason of the bug

[2021-05-26 05:17] not-mms commented on #313
@tladesignz I've figured it out: the thing is that I have to push "back" right after changing the custom bridges input field, only after that push "connect". I've got a bit confused by such behaviour and I may be not the only one.

I can attach some screenshots if my explaination is not clear.

Just want to make the app a bit better :)

[2021-05-26 10:31] tladesignz commented on #313
You're totally right. I apologize. Thanks for persevering and bearing with me! Fix will be contained in the next release!

[2021-05-26 11:02] tladesignz commented on #325
Sorry, but this is way too little information.

You might have experienced that it sometimes does *not* crash when coming back? So, while it might crash sometimes (or even often) when *you* use it, that's not the case with standard usage. Otherwise we would have noticed and fixed, already.

So, there must be certain circumstances. Typically bridges? If you're using Snowflake bridges, then that wou

[2021-05-26 11:03] tladesignz commented on #311
Sorry, folks, but this is way too little information.

You might have experienced that it sometimes does *not* crash when coming back? So, while it might crash sometimes (or even often) when *you* use it, that's not the case with standard usage. Otherwise we would have noticed and fixed, already.

So, there must be certain circumstances. Typically bridges? If you're using Snowflake bridges, then t

[2021-05-26 11:10] tladesignz commented on #326
Currently not at all, I'm sorry. This is a duplicate of #272, please read and follow up there on further questions/suggestions. Thank you!

[2021-05-26 11:10] #326 closed, assigned to nobody

[2021-05-26 13:34] qwfpg commented on #325
@tladesignz so, I try to use it with default configuration without third party bridges. Just check remember tabs in tab security

[2021-05-26 14:41] tladesignz commented on #325
Ok, I played around more and finally understood, when the problem happens.

Steps to reproduce:

1. Should work with current master build.
2. Start Onion Browser fresh (direct connection, no bridges)
3. Send in background by either switching off the device or via home button/swipe.
4. Switch back on/get it back into foreground, while iOS *didn't* shut it down completely, yet.
5. After Tor is resta

[2021-05-26 17:05] tladesignz commented on #325
Ok, got this:

The watchdog timer kills the app:

https://developer.apple.com/documentation/xcode/addressing-watchdog-terminations

Reason: `#applicationDidEnterBackground` is still processing when app is returning to foreground.

Underlying problem: HSTS cache file is too big. > 10 MB, takes over 10 seconds to write. Moving in background thread remedies the crash, but cache file still takes too l

[2021-05-27 11:30] #311 closed, assigned to tladesignz

[2021-05-27 11:31] #325 closed

[2021-05-27 11:31] tladesignz commented on #311
A fix will be contained in the next release! Thank you for your patience and perseverance!

[2021-05-27 11:36] tladesignz opened #329 "Update stone-old HSTS preload list"
A new one can be found here: https://chromium.googlesource.com/chromium/src/net/+/master/http/transport_security_state_static.json?format=TEXT

And needs to be decoded:

[code]

And then eventually preprocessed and converted to plist format.

The [`HSTSCache`](https://github.com/OnionBrowser/OnionBrowser/blob/2.X/Endless/HSTSCache.m) class then should be rewritten to add later features of the HSTS

[2021-05-31 13:28] wwwjjj001 opened #330 "贷款公司"
贷款公司

[2021-06-01 15:42] tladesignz commented on #330
"loan company"? Srsly?

[2021-06-01 15:42] #330 closed, assigned to nobody

[2021-06-02 12:30] vilimas commented on #47
Hi @tladesignz I wanted to ask what is the state of getting WKWebView working with the tor network? Checked all information that I can found about problems with WKWebView and Network Extension but didn't see any good news.
Maybe there is a way to render the .onion page on WKWebView even if the benefit of the tor network (security and privacy) are lost?

[2021-06-04 08:10] tladesignz commented on #47
Me neither. We're still working on getting to run a stable Network Extension. 15 MB still too small to have Tor run together with tun2tor/tun2socks glue code, so working on a split solution. Not there yet.

Impossible. You need a Tor client to reach these sites. .onion sites are hidden in the Tor network. You need to negotiate and reach a rendezvous server in the Tor network.

[2021-06-05 14:23] Olexem opened #331 "Change default guard node"
Hello,
I found that onion browser always connect guard node to Germany, even though Im in North America.

This results high latency when connecting to websites, and slower speed.

Is there a solution to connect a different/certain country's guard node?

[2021-06-05 16:18] tladesignz commented on #331
This is all Tor machination. OB itself cannot do anything about it. You can force a guard node, when you use a specific Obfs4 bridge. (Which then becomes the guard aka. entry node.) Check bridges.torproject.org and repeat until you're satisfied.

Please note, though, that there's just a lot of nodes in Germany, because Germans seem just quite enamoured with Tor and for them it's not prohibitively

[2021-06-05 16:29] Olexem commented on #331
Thank you for your reply.
I will try that, didn't know these things before.
:)

[2021-06-05 16:34] #331 closed, assigned to nobody

[2021-06-07 19:36] ma7ly opened #332 "The app is not running in the background?"
Hello.. there is a big problem with the application that does not work in the background?  When I close the application for a few seconds and return to it again it starts connecting again and all the pages disappear?

Please add the feature to run the application in the background until this problem is resolved

Problem #2 Request to add browsing to computer mode

Please add the feature to browse

[2021-06-07 20:59] tladesignz commented on #332
For legacy and maximum security reasons, the default setting is to forget all the tabs. Please go to Settings (gear icon) -> Tab Security -> Remember Tabs.

The decision of web servers, which version of their homepage they want to serve you, is based upon the so called "User-Agent header". You can change that manually for all pages with Settings -> "Security Level" -> "User Agent" or for a specifi

[2021-06-07 20:59] #332 closed, assigned to nobody

[2021-06-12 11:58] aNdReA777777 opened #333 "(Update -- April 4 2019. After being fixed on iOS 12, this is apparently happening again on iOS 12.2.)"
(Update --  April 4 2019. After being fixed on iOS 12, this is apparently happening again on iOS 12.2.)

OK, this was not the same as #112.

Quick notes from some research here.

From the thread of the [tweet](https://twitter.com/pwnsdx/status/961413267028619264) that tladesignz linked, this [started in iOS 11](https://twitter.com/pwnsdx/status/961415311282012160).

It also affects Red Onion and B

[2021-06-12 14:10] #333 closed, assigned to nobody

[2021-06-27 17:41] ghost opened #334 "Browser unusable after waking iPhone from sleep."
When you have a tab open with “forget tabs in background” setting enabled, putting iPhone to sleep (lock) and unlocking the device with Onion Browser open makes the app unable to function or do anything unless you force close and reopen.

[2021-06-28 06:45] tladesignz commented on #334
I'm sorry, I can't reproduce that. I use the latest published version (2.7.4) on latest iOS 14.6 on an iPhone XS and it works just fine for me. All the tabs are gone, but I can get a new one by typing in a URL or by tapping the tabs button and the plus button.

Can you get more specific about details? App version, iOS version, device type? Anything else you maybe did or did not?

[2021-06-30 07:51] aspenmayer opened #335 "Can’t access some SSL sites"
When I try to access some SSL sites, I don't have issues. Others cause a NSURLErrorDomain -1200 response, for example [https://docs.securedrop.org/en/stable/source.html](https://docs.securedrop.org/en/stable/source.html) is one. I included a screenshot. It doesn't seem to matter which TLS version I use, I still receive the error. No idea if this is normal/expected behavior.

![image](https://user-

[2021-06-30 07:55] aspenmayer commented on #335
Resubmitting this due to PII, apologies for dupe

[2021-06-30 08:18] tladesignz commented on #335
Uh-oh. In another browser, I see, the cert is from Cloudflare, so their hosted behind Cloudflare's firewall / reverse proxy / CDN services.

I actually can't reproduce the problem, so that probably means, it's a configuration issue with one/some of Cloudflare's servers in some regions or a configuration issue between Cloudflare and SecureDrop.

Sorry, I'm afraid we actually can't do anything immed

[2021-06-30 08:22] tladesignz commented on #334
I just recognized, the bottom bar might be gone. You still can recover from that by typing in a new URL and load that. The bar will come back, then. I recognize, that's a subpar experience.

We'll need a check, that it is forced to show again, if there's no tab open. Or better, yet, show the default empty tab again, if there's none. I'll fix that. It'll be in the next release! Thanks for your pati

[2021-06-30 08:37] tladesignz commented on #334
Please reopen, if this was actually about something else!

[2021-06-30 08:37] #334 closed, assigned to tladesignz

[2021-06-30 08:42] #305 closed, assigned to nobody

[2021-06-30 13:30] m4mb01t4l14n0 commented on #335
@aspenmayer We have long-term no-solution problems with Cloudflare as @tladesignz indicates.  Can you perhaps provide us with a few more example sites where you experience this issue?  If they turn out to be Cloudflare-hosted as well, then I'm afraid @tladesignz is right - not much we can do.  If not, perhaps we have to look at this more deeply.

[2021-06-30 13:32] aspenmayer commented on #335
Yeah, I'll test this more and report back.

[2021-06-30 14:14] aspenmayer commented on #335
The following sites do not work with the same error as above:

[https://www.eff.org](https://www.eff.org)

[https://www.nytimes.com](https://www.nytimes.com)

[https://news.ycombinator.com](https://news.ycombinator.com)

[https://reddit.com](https://reddit.com)

[https://www.metafilter.com](https://www.metafilter.com)

[https://slashdot.org](https://slashdot.org)

[Axios.com](https://www.axios.com

[2021-07-01 08:37] tladesignz commented on #335
Ok, besides Axios, none of these have a TLS cert from Cloudflare, but that doesn't mean, they aren't behind a Cloudflare proxy / CDN. They could still be.

With all of these sites, I have zero TLS problems. I typically get German or US-based exit nodes.

I'm at a loss here. When I can't even reproduce the issue, I only can do shotgun debugging. (see my first post.)
Will need to talk about this at

[2021-07-16 04:09] Destroyinator69420 opened #336 "Update TOR to 0.4.5.9 or 0.4.6.6"

[2021-07-16 04:15] Destroyinator69420 opened #337 "Privacy Pass Protocol support"
Privacy Pass is a protocol supported by Cloudflare Captcha and Hcaptcha that allows users to solve one Captcha and earn privacy passes so they do not have to solve the next one. The privacy pass devs can be found at https://privacypass.github.io/. The source code for the extension can be found at https://github.com/privacypass/challenge-bypass-extension, and the protocol is documented at https://p

[2021-07-16 09:59] tladesignz commented on #337
Yeah, we already thought about this. Unfortunately, Mobile Safari cannot load plugins, so that would mean a complete rewrite in Swift. We'll see, what iOS 15 will bring in that regard. Apple announced, that Mobile Safari will support Webextension Plugins. Not sure if that support will end up in `WKWebView`, too. Where we still need to migrate to...

[2021-07-17 18:26] ChaiTRex opened #338 "Please update address bar search to the DuckDuckGo v3 onion address"
In settings, I have the search engine set to DuckDuckGo. When I search using the address bar, it uses an old, short v2 address that [will be unusable very, very soon](https://support.torproject.org/onionservices/v2-deprecation/).

Please switch to their new v3 onion address, https://duckduckgogg42xjoc72x3sjasowoarfbgcmvfimaftt6twagswzczad.onion/. This can be verified as the official onion address

[2021-07-17 22:01] munsuri commented on #74
I believe the changes to support HidServAuth should have naturally allowed the use of ExitNodes as well but I can’t get Tor to connect when in use. I have checked the code related to AdvancedTorConf and I don’t see why it shouldn’t work. Am I missing something or it is not really supposed to work like in the torrc file? Thanks

[2021-07-19 09:35] tladesignz commented on #338
We were having the same thought:

https://github.com/OnionBrowser/OnionBrowser/commit/37faa940628a7c0aa4a4959e2d91df14c8ec5ed5

But thanks a lot for caring, anyway!

[2021-07-19 09:35] #338 closed, assigned to tladesignz

[2021-07-19 09:36] tladesignz commented on #336
Fixed with 128046635f3bfd7b9338b172ce32e39007a91c14

[2021-07-19 09:36] #336 closed, assigned to tladesignz

[2021-07-19 10:40] tladesignz commented on #74
So, I played around a little. For simplicity's sake I used the following:

```--ExcludeExitNodes```
```{fi}, {nl}, {us}```

I added one country after another, just what I got as exit nodes then.
Then restarted every time.

Looks very much like it works to me. Tor seemed to honor my choices.

Please note:

- Onion Browser does not make use of the `.torrc` file. Instead, everything is handed over as

[2021-07-19 17:21] munsuri commented on #74
Aha, the manual (two line) argument splitting was it! It wasn’t initially obvious to me but now looking at the code again makes sense.
Thank you so much for such a quick reply and explanation of additional considerations, much appreciated.

[2021-07-20 05:06] Destroyinator69420 opened #339 "Desktop website support on iPadOS."

[2021-07-20 09:07] tladesignz commented on #339
Webservers provide different types of websites by analyzing the `User-Agent` HTTP header. You can easily set your own:

- Browse to the site in question, leave it as the top tab.
- Then, go to `Settings` -> `Custom Site Security` -> `Add Site` -> `+`
- Add a suitable desktop `User Agent` string in the last form field.

Here are some examples of suitable user agent strings: https://www.whatismybrow

[2021-07-20 09:07] #339 closed, assigned to nobody

[2021-07-21 14:26] Baccount opened #340 "Update DuckDuckGo’s onion to the new V3 Address"
If you use Tor, know that DuckDuckGo Search has a new v3 address:
https://duckduckgogg42xjoc72x3sjasowoarfbgcmvfimaftt6twagswzczad.onion

The message above was posted officially by DuckDuckGo staff on Reddit [reddit post](https://old.reddit.com/r/duckduckgo/comments/oc07wj/news_duckduckgo_search_now_available_via_tor/)￼

@tladesignz

[2021-07-21 14:31] Baccount commented on #340
After testing the V3 address at security level 1, it immediately redirects to the non-onion website after an initial search
￼

[2021-07-21 14:41] tladesignz commented on #340
Closed, because duplicate. #338
Thanks for taking care, anyway!

[2021-07-21 14:41] #340 closed, assigned to nobody

[2021-08-02 15:11] #272 closed, assigned to tladesignz

[2021-08-02 15:14] tladesignz commented on #272
Thanks a lot to @mikezs, who coded up a viable solution which actually is good enough to solve your problem and doesn't create the need for more default security levels!

[2021-08-02 15:52] mikezs commented on #272
@tladesignz You did all the hard work working out what the fix was, I just whipped up an implementation when I ran into this problem :) I haven't written Objective-C for many years, so was fun little task. Thanks for all your work on this, I'd be happy to implement more features in the future.

[2021-08-13 23:32] Destroyinator69420 opened #342 "Onion Browser 2.7.5 has not been released to the App Store, has it been censored by apple?"

[2021-08-14 10:23] tladesignz commented on #342
Keep cool. First a little beta-testing, then a little vacation, then the release!

[2021-08-17 13:36] tladesignz commented on #342
Released!

[2021-08-17 13:36] #342 closed, assigned to nobody

[2021-08-20 13:15] spirulin opened #343 "Updated to the latest version but don't see Very Strict."
All I have is Gold, Silver, Bronze.

Deleted and installed the app hoping to be some bug but still not there.

[2021-08-20 17:19] tladesignz commented on #343
Haha. Yeah, no. Turned out, the right place wasn't a new level, but a specialized setting. Go to Settings -> Default Security -> Content Policy -> Very Strict (JavaScript completely off; no context menu)

[2021-08-20 17:19] #343 closed, assigned to nobody

[2021-08-22 19:23] eruciform opened #344 "Bug: Removing share options does not work"
If one deactivates sharing by Safari, for example, the option still remains on the share menu. ipadOS14.7.1

Also, I'm not even entirely sure what I did, but some combination of swipe options on ipadOS14 shares either the current page or a selected tab on the tabs view to safari, and/or makes a floating safari page within the onion browser that I can't figure out how to kill. It's very confusing a

[2021-08-22 19:31] eruciform opened #345 "Feature request: deactivate home page or have it not display bookmarks"
A small feature to turn off the home page altogether, or at least not have it list the first 6 bookmarks.

ipadOS14.7.1

[2021-08-22 19:33] eruciform opened #346 "Feature request: disable all or some swipe motions on ipadOS"
The swipe commands are quite odd, I can't even figure out what all of them are, but they inevitably do strange things I don't intend, like auto-sharing things to Safari, or just completely closing the current viewed page. I believe hold and swipe right closes the current page whenever you don't have a "next" page to go to, but that's pretty confusing and annoying, as there's no way to get it back.

[2021-08-22 19:35] eruciform opened #347 "Feature request: have "open in new tab" not automatically jump to that new tab"
I'm not sure if it makes sense to change the current behavior or maybe add another "open in background tab" option, or a switch in the settings that tells it which to do. But whenever I use this function, I almost never mean to immediately swap to the next tab, but rather to come back to it later.

ipadOS14.7.1

[2021-08-23 00:04] wes9971 opened #348 "Young girls dark porn"

[2021-08-23 08:47] #348 closed

[2021-08-23 22:01] eruciform commented on #347
I'm silly. This exists, I'm not sure how I missed this.

[2021-08-23 22:01] #347 closed, assigned to nobody

[2021-08-28 08:36] wes9971 opened #349 "1629682871135_anonymousposter-ublockorigin-rules_merge_requests_2021-08-23.csv"

[2021-09-08 21:09] mjgardner opened #350 "When following links from ProtonMail: Could not connect to the server. (code: -1004, domain: NSURLErrorDomain)"
The above has happened on several links selected from ProtonMail when Onion Browser is selected as my browser in the app. Links have been from https://medium.com/, https://tilde.news/, and others. It happens on both iOS and iPadOS, and only on the latter when both apps are full-screen; if I have ProtonMail as a popover window, I don’t see the error.

[2021-09-10 09:04] ghost opened #351 "Feature request: Use Firefox Android 78 as user-agent"
Currently all Cloudflare sites are blocked. But if I set
Mozilla/5.0 (Android 9; Mobile; rv:78.0) Gecko/20100101 Firefox/78.0

as the user-agent, it unblocks all Cloudflare sites.
So maybe give users choices between default iOS and Tor Android user-agent.

[2021-09-10 23:36] Aecco opened #352 "Crash captcha"
The application crashes in some cases when pasting from the clipboard to a site with a 2fa captcha. On some forums, chats do not load, it only allows you to refresh the page ( I opened a list of divlogs-updated, selected the necessary divlog-updated, etc. ) Only after that messages appear. Version 2.7.5

[2021-09-14 20:49] R8s6 opened #353 "Darkened web pages in Dark Mode"
OS: iOS, v14.8
App Version: 2.7.5
Device: iPhone SE (1st gen)

Hi,

I see that the Dark Mode enables dark menus, but web pages are still bright.

For example, here's today's Wikipedia front page shown in OnionBrowser iOS:
![OnionBrowser iOS Dark Mode](https://i.imgur.com/7DuRUPD.png)

And here's the same page in Firefox iOS with Night Mode:
![Firefox iOS dark mode](https://i.imgur.com/WNXXhZv.png)

[2021-09-15 07:44] tladesignz commented on #353
Unfortunately, this is currently not possible, as Onion Browser is still on the old `UIWebView` instead of the newer `WKWebView` renderer. As soon as we are able to switch, this problem will go away. Sorry.
If you're interested, why this change didn't happen, yet, you can read about it a little in this issue: #47

[2021-09-15 07:44] #353 closed, assigned to nobody

[2021-09-15 07:49] tladesignz commented on #352
Sorry, but without links to test, we're unable to reproduce any of this and therefore can't research the root cause. If you want to provide some, I'm happy to look into this, if not, I'll close this the next time I come by here.

[2021-09-20 00:26] Destroyinator69420 commented on #351
I should try that.

[2021-09-27 02:19] seaman-divine-0r opened #354 "Has full permission to files and photos on iOS"
Permanent iOS settings needed to toggle on/off permission to files and photos.

The developer should get the data-collecting claims verified by Apple.

[2021-09-27 02:20] seaman-divine-0r commented on #354
Also has vanishing background tiles.

[2021-10-01 14:32] tladesignz commented on #350
Oh, wow. That's quite an honor. I didn't know, that we're an official part of the Proton Mail app! :-) Just created an account there, and there is the option! Who would have known? Thanks for letting me know. I will investigate this.

[2021-10-01 15:53] tladesignz commented on #350
Will be contained in the next release (which will probably take some more weeks.) Thank you for your patience!

[2021-10-01 15:53] #350 closed, assigned to tladesignz

[2021-10-01 15:55] tladesignz opened #355 "Add support for onion v3 authentication"

[2021-10-01 15:56] tladesignz commented on #355
Implemented with bc2625eda0eb23dd2784c1c13cd900cbdf74d4db!

[2021-10-01 15:56] #355 closed, assigned to tladesignz

[2021-10-02 06:32] abdallahalsalmi opened #356 "Changing BBC V2 URL in landing page"
Hi is it possible to change the BBC v2 url on the landing page with the v3 one?

The new URL is:

https://www.bbcnewsd73hkzno2ini43t4gblxvycyac5aw4gnv7t2rccijh7745uqd.onion

Thanks

[2021-10-04 15:01] tladesignz commented on #47
We're almost there:
https://github.com/iCepa/iCepa/commit/7ca88f77267f6131e8561be6dbb58b190f74551c

Still lacking:
- Can't resolve .onion addresses. Something in iOS is blocking this.
- Snowflake seems to no support outbound proxy: https://gitlab.torproject.org/tpo/anti-censorship/pluggable-transports/snowflake/-/issues/40069

[2021-10-04 16:30] tladesignz commented on #356
Ahhh, yeah! Thank you very much, we were waiting on that one!

[2021-10-04 16:30] #356 closed, assigned to tladesignz

[2021-10-06 08:37] tladesignz commented on #344
I'm afraid, that's something we can't control. That's a feature of the `UIWebView` we must use to render web pages. I know, it's annoying. I'm stumbling over this on my iPad, too, with different apps.

Turns out, you can actually turn it off. The keyword to search for is "multitasking":

https://9to5mac.com/2020/02/17/how-to-turn-off-ipad-multitasking/

[2021-10-06 08:37] #344 closed, assigned to nobody

[2021-10-06 08:43] tladesignz commented on #346
See my comment on issue #344. This seems interference from iOS' multitasking features. You can disable that system-wide.
You might also try iOS 15. They changed multitasking a lot, there.

[2021-10-06 08:43] #346 closed, assigned to nobody

[2021-10-06 09:20] tladesignz commented on #345
Increases privacy. Wish granted! Will be contained in next release. Might take some more weeks.

[2021-10-06 09:22] #345 closed, assigned to tladesignz

[2021-10-06 09:37] tladesignz commented on #354
No idea what you're talking about here. Do you want to elaborate?

You mean in the tab overview? Yeah, that's a known bug. I have no idea what's causing this. Sorry, but currently there's no budget to work on this.

[2021-10-06 09:37] #354 closed, assigned to nobody

[2021-10-06 09:38] tladesignz commented on #352
Closed for inactivity.

[2021-10-06 09:38] #352 closed, assigned to nobody

[2021-10-06 09:46] tladesignz commented on #351
Goddamnit. It really works. I would have never guessed they selectively disable captchas based on user agents.

I want this, but I'm wondering, how to integrate this in our UI.

It currently is like it is for reasons: We normally keep the iOS user agent, because if somebody fingerprints the browser, it would stand out as iOS Safari-ish with a modified user agent. If there's many of them with the i

[2021-10-06 09:47] tladesignz commented on #351
![Simulator Screen Shot - iPhone 5s @ iOS 12 4 - 2021-10-06 at 11 47 36](https://user-images.githubusercontent.com/117089/136180189-065d56d6-3ba0-41ff-92b0-f29e8f4a1930.png)

[2021-10-06 09:48] #349 closed

[2021-10-06 10:05] tladesignz commented on #307
You're completely right and I'm very grateful, that you took the time.

My embarrassingly long reaction time to this is, well, very embarrassing. I'm sorry.

[2021-10-06 10:05] #307 closed, assigned to tladesignz

[2021-10-06 10:07] tladesignz commented on #306
Completely wrong project. Closing this.

[2021-10-06 10:07] #306 closed, assigned to nobody

[2021-10-06 10:12] tladesignz commented on #231
https://developer.apple.com/news/?id=edwud51q

[2021-10-06 10:12] #261 closed, assigned to tladesignz

[2021-10-07 08:41] tladesignz commented on #351
How about this?

This is a cheap solution. You tap on one of the buttons, and the "User Agent" field will be set to one of the 3 predefined strings. You can delete that field again (clear button will be shown on focus to assist that), and you're back to iOS Safari UA.

Please comment! Any suggestions for improvements? Wording ok?

![Simulator Screen Shot - iPhone 5s @ iOS 12 4 - 2021-10-07 at 10 3

[2021-10-07 12:02] Enriquepaul opened #357 "Cannot play videos"
My settings allow me to play videos according to onion browser but I am unable to. I’m running onion browser for iOS. Onion browser is on version 2.7.5

[2021-10-07 12:18] tladesignz commented on #357
Media is currently not going through Tor, due to a limitation in iOS. The stuff you want to watch is probably blocked by your ISP / your government.

[2021-10-07 12:18] #357 closed, assigned to nobody

[2021-10-07 14:44] n8fr8 commented on #351
Seems fine for a fast, cheap solution. In the medium term, I think we want to find a way for users who face constant cloudflare captchas to understand how to activate this alternate-UA mode to get through them.

[2021-10-07 17:19] m4mb01t4l14n0 commented on #351
Regarding both the proposed design and the comment of @n8fr8: One guesses that as soon as we formalize the set of hardwired alternative browser UA strings someone from Cloudflare will figure this out and block those strings.  Since we are in an odd situation with the App Store, I'd not want to risk our position there by submitting overly-many new builds in the name of merely updating the UA string

[2021-10-07 17:22] m4mb01t4l14n0 commented on #351
Overall, Cloudflare is a key participant in "Privacy Pass" which is their intended way for users to mitigate the problem of their self-inflicted CAPTCHA problem.    https://datatracker.ietf.org/wg/privacypass/about/

[2021-10-08 15:28] tladesignz commented on #351
Ok, so we discussed this yesterday. Just to clarify some statements here:
- Users already *can* provide their own user agent string.
- It's obviously very hard for them without any help.
- Privacy Pass is currently not an option, because `UIWebKit`(and also mobile `WKWebKit`, AFAIK) don't support browser plugins. So, a full rewrite in Swift would be needed. See #337
- We won't update Onion Browser

[2021-10-08 15:30] tladesignz commented on #351
Will be contained in the next release. Might take some more weeks!

[2021-10-08 15:30] #351 closed, assigned to tladesignz

[2021-10-10 01:25] ghost commented on #117
Onion browser is leaking IP address through webrtc even when using Nordvpn on iPad using iOS 15.0.1.

Screenshots attached of browserleaks using safari and onion browser.

![84143080-D113-4DEE-A7AD-01534E15EE9C](https://user-images.githubusercontent.com/83145632/136677571-8b6dc09b-628c-4d5f-9295-a5d2e8424887.png)
![914D4230-B56C-4E1B-94E8-378958747B34](https://user-images.githubusercontent.com/831

[2021-10-10 01:47] freep0rt commented on #117
Unsubscribe

...

[2021-10-10 16:26] Baccount commented on #117
Disabling WebRTC does not fix the leak. ￼I can confirm the WebRTC leak occurs on iOS 15.0.1. ![image](https://user-images.githubusercontent.com/10781882/136704696-c1651f03-805e-4ab8-a81b-661511ed1280.jpeg)￼
@tladesignz

[2021-10-15 20:06] cstiens opened #358 "UX for Changing User Agents"
Brief: We need an easy way for people to switch user agents because in some cases—The current user agent setting can make browsing the web via tor nearly unusable sometimes. In addition, the requirement of captchas could be wearing people out.

Requirement: People should be warned that by using the Tor Browser user-agent, they may stand out more. In the current default, users look like Safari on i

[2021-10-15 20:34] cstiens commented on #358
**If web browsing is un-usable, users will switch to bronze mode**
The Bronze level is the user's way to just say 'make it work'. If it's default user agent is Tor Browser, then any user that gets frustrated b/c of usability issues, can switch to that mode and things will work. We already give a warning that browsing at that level could be dangerous. So, potentially we don't need to add an additio

[2021-10-19 20:33] zefr0x opened #359 "[feature request]: Sync bookmarks with private self-hosted nextcloud server"
It seems that the bookmarks are synced with nextcloud over the Tor network, while there are many people who are hosting their server in a private network that is not reachable from the internet or they connect to it over a VPN.

It is true that Tor is secure and private and every request in Onion Browser must be transferred through it, but locally hosted services are more private and secure than a

[2021-10-20 17:24] tladesignz commented on #359
Thank you for engaging with us. I can see why this might sound like a good idea in certain circumstances, but I'm sorry, this is not going to get implemented.

Every data traffic we can catch in Onion Browser runs through Tor, and for reasons of security and safety, it will stay that way. Making compromises on that is just too much of a risk of introducing vulnerabilities.

I suggest to run an oni

[2021-10-20 17:24] #359 closed, assigned to nobody

[2021-10-24 06:04] Destroyinator69420 opened #360 "Tor 0.4.5.10, OpenSSL 3.0, IOS 15 mitigations for video without leaking IP address"
When can we expect an upgrade to Tor 0.4.5.10 and OpenSSL 3.0? I think that Onion Browser would be better if there was a built in media player separate from safari that did not leak ip addresses. I have noticed that videos play in IOS 15 and might be leaking IP addresses.

[2021-10-25 09:25] tladesignz commented on #360
https://github.com/OnionBrowser/OnionBrowser/releases/tag/v2.7.6
Currently in TestFlight. However, OpenSSL will be on 1.1.1l. Why do you need 3.0?

You're not the only one:
https://github.com/OnionBrowser/OnionBrowser/blob/2.X/Resources/Base.lproj/security-levels.html#L257-L266

https://github.com/OnionBrowser/OnionBrowser/issues/47

I don't think it would either be possible, nor feasible, to crea

[2021-11-03 17:13] m4mb01t4l14n0 commented on #358
For your final screen designs, the term is CAPTCHA.

[2021-11-04 04:13] cstiens opened #361 "Give Feedback after a Bridge is Configured"
@tladesignz Here's the wording for the 'Trying a bridge' view

[code]

I just chose 5 minutes. We could also say 'if it doesn't work after a while...'. It's hard to give an accurate idea since the internet bandwidth could be slow for the user overall.

<img width="1151" alt="Screen Shot 2021-11-03 at 11 11 23 PM" src="https://user-images.githubusercontent.com/1434597/140256718-f1b8c85c-e60c-4d5a-8

[2021-11-04 16:52] tladesignz commented on #231
Closed. Further progress will be tracked in #47.

[2021-11-04 16:52] #231 closed, assigned to nobody

[2021-11-08 16:25] #361 closed, assigned to tladesignz

[2021-11-08 16:51] tladesignz commented on #361
I used "…after a while…", because I really feel uncomfortable given any number here. It can vary widely, depending on network circumstances.

[2021-11-10 13:44] js-7711 opened #362 "Gold Level Security Blocks Search Results on iOS and iPadOS"
Whether I use DuckDuckGo or StartPage, search results are missing completely on highest security level (1).

Is this normal?

[2021-11-12 20:17] xtangliang opened #363 "how to share the socksport?"
I added --SocksPort 9999 into the advance tor config.. but it not works.
So, How can I do that?

[2021-11-14 22:07] tladesignz commented on #363
OnionBrowser already configured a SocksPort: https://github.com/OnionBrowser/OnionBrowser/blob/2.X/OnionBrowser/OnionManager.swift#L56

Can you just use that?

But how do you use it anyway?

Tor stops, when OnionBrowser goes into the background after a few seconds.

You could only use that from another app on iPad with an app running side-by-side, because that's the only situation, more than one a

[2021-11-14 22:16] tladesignz commented on #363
Correction: I'm actually not sure, if iOS actually allows you to open a server on port 80. Confused some things there.

[2021-11-15 13:21] n8fr8 commented on #363
well, probably 8080 though right? Non root user mode?

[2021-11-19 08:28] pharaone opened #364 "The app icon doesn't correctly fit the icon box in the App Store"
The app icon doesn't correctly fit the icon box in the App Store, there are little white spaces.
I don't think it's just me cause it's been at least since iOS 14 that I am experiencing this problem, i don't it's an App Store bug because no other app has the same problem.
![IMG_3067](https://user-images.githubusercontent.com/17162630/142590448-cb515316-77a0-41b0-af16-fdc1945ec190.PNG)
Thank you for

[2021-11-19 11:38] tladesignz commented on #364
Thanks for catching this! You're right: Apple changed how they treat app icons. Because they constantly changed the corner rounding, they now finally do it themselves, so we need to provide sharp corners.

Will change with the next release.

[2021-11-21 00:18] StarliteTechs opened #365 "The zoom feature resets position"
While zooming a webpage after a certain threshold is reached the entire screen resets to the top left corner and therefore annihilating any zoom or presence of content.  Rather, it’s born Slippy.

[2021-11-22 10:43] tladesignz commented on #365
Sorry, we don't have any influence over that. That's a feature of iOS' `UIWebView`, we must use here.
Also, websites themselves can interfere with the zoom through JavaScript.

[2021-11-22 10:43] #365 closed, assigned to nobody

[2021-12-03 17:52] bbqthis opened #366 "App crashes when using Scribble"
When I try to input text into a field (ex. DDG search field) using Scribble with Apple Pencil, app crashes instantly.

[2021-12-29 00:43] Fl1tzi opened #367 "Bad alignment on IPhone 13"
On my IPhone 13 it seems like the overall UI doesn't fit with the new notch.
![image](https://user-images.githubusercontent.com/76444201/147617181-8e094aff-5acb-4833-9159-1c5f9e598a9d.png)

[2022-01-09 11:41] VectorABC opened #368 "Crashes While Typing"
Typing a comment response into the Dread forum consistently crashes the app on iPhone with latest iOS.

[2022-01-10 12:54] tladesignz commented on #368
As long as you can't provide step-by-step instructions or  - even better - a crash log, I'll assume this will go away with #47. Don't worry, it is on the horizon, as we recently made great progress on that front.

[2022-01-10 13:25] tladesignz commented on #367
You mean, because of the "Suchen" system button which overlays our UI slightly? I actually doubt, that this was better on iPhone X/XS/12. Besides that, I can't see any specific issue with the slightly smaller iPhone 13 notch. (Tested on my personal new iPhone 13.)

Since that button only shows, when one app is called from another, and everything is still usable, including the shield and that back-

[2022-01-10 13:25] #367 closed, assigned to nobody

[2022-01-20 13:25] tladesignz commented on #366
Thanks for mentioning this. The complaints about crashes when doing something with form fields started since iOS 14. I'm afraid, this is due to Apple not wanting to support `UIWebView` any longer but too many apps still relying on it, so dragging it forward in an ugly way.

We're quite near a solution to replace `UIWebView` with `WKWebView`, but that still some months away. Please be patient until

[2022-01-20 13:25] #366 closed, assigned to nobody

[2022-02-04 00:07] plutonianmusic opened #370 "Can't build in Xcode 13.2.1"
I'm new to Xcode, so forgive me if I'm missing something obvious.

I've followed the build instructions, but can't seem to build the project.  The error is from IPtProxyUI - "No such module 'IPtProxy'" - on the line "import IPtProxy" in MeekURLProtocol.swift.

I've started 3 times from a clean git clone.  BartyCrouch is installed.  I've edited the podfile multiple times, thinking that the versions

[2022-02-05 10:25] tladesignz commented on #370
Sounds strange. I don't really have a good idea, because "it works for me" and there's no clue in your description what might be off.

Try `pod update` 2 times in a row to ensure, the `IPtProxy` dependency installs its binary piece correctly. (And check that project's readme to understand what's going on there!) Also fix `Tor.framework` to 406.8.2, because the latest version still has problems wit

[2022-02-05 21:41] plutonianmusic commented on #370
Thanks for the suggestions - I really appreciate the fast response.  I ran pod deintegrate, then pod update (twice).  Opened the new workspace and ran the build - same error.  In the IPtProxy readme, they recommended specifying v1.4, so I edited the podfile, deintegrated, updated (twice), opened the workspace and ran the build.  Same error, but this time also a warning:  "Could not read serialized

[2022-02-07 10:15] tladesignz commented on #370
Sorry, something with your setup seems completely off.

You shouldn't kill the workspace. That's good as it is. Then you also don't need to meddle with the target settings, they're good as they are.

Deviating from the instructions in the `BUILD.md` file, just do this:

- Do a fresh `git clone`
- Edit the `Podfile` to fix Tor.framework to 406.8.2
- run `pod update`. (Twice to be extra sure.)

That

[2022-02-07 10:15] #370 closed, assigned to nobody

[2022-02-08 13:01] #363 closed, assigned to nobody

[2022-02-08 13:03] tladesignz commented on #360
Latest Tor 0.4.6.9 and OpenSSL 1.1.1m will be contained in version due for release soon 2.7.8.

[2022-02-08 13:21] #360 closed, assigned to nobody

[2022-02-08 23:51] plutonianmusic commented on #370
I tried the simplified instructions (above) without success.  So I started over, yet again.  This time, I see the podfile specifies use_frameworks! - and Tor.framework is not listed explicitly (version 406.9.2 gets installed; I'm not sure how to downgrade it to 406.8.2).

This is a new physical Mac Mini, not a virtual box, running Big Sur (11.6.1) and a new installation of Xcode 13.2.1.  I'm follo

[2022-02-09 09:11] tladesignz commented on #370
Yes, I updated everything yesterday. It now compiles on latest MacOS Monterey with the latest Tor, Snowflake and Obfs4proxy.

That should actually be quite obvious, looking at the latest commits I did. I invite you to have a look at these before asking questions.

The latest Tor.framework now gets compiled on your machine during build, instead of using pre-compiled binaries. You will need to have

[2022-02-10 15:49] 123456789-bb commented on #58
hello

[2022-02-16 16:54] niStee commented on #335
Same issue here but reddit.com

[2022-02-16 17:16] niStee commented on #362
Have the same issue with torbrowser on my pc.
I believe the Issue is with DuckDuckGo and Startpage.

You can report DuckDuckGo security issues via https://hackerone.com/duckduckgo?type=team

Startpage support:
https://support.startpage.com/index.php?/Tickets/Submit/RenderForm

[2022-02-21 11:43] soshimee opened #371 "Specify node"
I use Tor browser on desktop for country-locked content, but with this I have to "roll" countries and wish for the best. I think there should be a way to specify entry/exit nodes, either specifically or by country.

[2022-02-21 12:15] tladesignz commented on #371
You're lucky! There is one:

- Go to Settings -> Advanced Tor Configuration
- In one line add "--ExitNodes"
- In the second line add country codes. E.g.: "us,de,fr"
- Hit "Save" in the top right corner.

Find further documentation here:
https://2019.www.torproject.org/docs/tor-manual.html.en#ExitNodes

I agree, the UX for this is sub-par. Noted.

[2022-02-21 12:15] #371 closed, assigned to nobody

[2022-02-21 13:00] tladesignz commented on #362
Yes, that's normal.
You will need to switch your search engine to "DuckDuckGo HTML" or "DuckDuckGo Lite" under Settings -> Search Engine

Reason is, that web pages aren't allowed to execute JavaScript in gold security level, which both DDG and Startpage use normally.

[2022-02-21 13:00] #362 closed, assigned to nobody

[2022-02-21 13:10] tladesignz commented on #294
This is quite old and we still don't have a good solution. I'll close this now. Feel free to reopen, if any new insights arise.

[2022-02-21 13:10] #294 closed, assigned to nobody

[2022-02-22 13:02] #329 closed, assigned to tladesignz

[2022-02-25 17:59] m4mb01t4l14n0 opened #372 ""Connect to Devices on Your Local Network?" loading screen/prompt"
![this screen](https://user-images.githubusercontent.com/34868071/155763473-8537f776-522a-4e4e-86e6-141c731bd4fa.png) pops up when starting Onion Browser. iOS 14.8.1;  version  2.7.7

[2022-02-26 04:48] 7ife opened #373 "icon"
in the last update, you improved the icon for the worse, white stripes are visible on the edges on a dark background

[2022-02-26 07:13] github2099 opened #374 "Can't access some websites"
When I click on some links to direct to another page (same domain), it shows the home/start screen of OnionBrowser (the purple one), and the url is blank. Not too sure why. I even downgraded to use Bronze. It isn't an issue on desktop Tor Browser :(

[2022-03-01 12:03] tladesignz commented on #374
Can you provide some examples?

[2022-03-01 12:12] tladesignz commented on #373
Duplicate of #364.
Anyway, thanks for mentioning it again. I missed to fix one icon - which is the exact one used on the app store. :-/ Will be fixed on next release.

[2022-03-01 12:12] #373 closed, assigned to tladesignz

[2022-03-01 12:30] tladesignz commented on #372
Hm. Can't reproduce.
I only have hardware devices on iOS 15 now.
Simulator iOS 14 doesn't show this.

It's probably because of this:

https://developer.apple.com/documentation/bundleresources/information_property_list/nsapptransportsecurity/nsallowsarbitraryloads

We need this, because it's a browser and we should allow people to browse on non-HTTP sites.

There's more fine-grained options availab

[2022-03-01 16:33] burnce opened #375 "Cannot search in page / request desktop site on iOS"
The onion menu while essential seems to mask other useful functionality.

If they are present somewhere, the usability could be improved, if not, the following features should be surfaced somewhere:
- Search in page
- Request desktop site

[2022-03-02 16:37] tladesignz commented on #375
There's no masking anything, no.

Good idea, we currently don't have that.

This is technically achieved by changing the so called "User-Agent" string, which gets transmitted with every request.

Since you can provoke different behaviours from different servers, esp. when behind Tor, and it also has privacy considerations, this is a quite hard nut to crack UI-wise, which we didn't came round to, y

[2022-03-02 16:52] tladesignz commented on #375
Related issue: #358

[2022-03-03 06:52] github2099 commented on #374
YouTube, Dailymotion, etc...

I have to press and hold then press "open" to select a video.
But even I do that, the media won't play.
I notice that many times, the progress bar (under address bar) will go 90% and stop there, never complete.

I tried uninstall, reinstall, but not fixed

edit:  I use Onion Browser with Lockdown.

[2022-03-03 10:31] tladesignz commented on #374
Videos are difficult. We can't route them through Tor in Onion Browser, due to technical limitations of the platform.

You can inform yourself here about the details of what the security levels mean, which should help you deal with that problem:

https://github.com/OnionBrowser/OnionBrowser/blob/2.X/Resources/en.lproj/security-levels.html
(In Onion Browser this page is shown when you tap the shiel

[2022-03-04 08:24] github2099 commented on #374
Lockdown is the app on iOS that blocks ads and trackers

[2022-03-04 21:49] #374 closed, assigned to nobody

[2022-03-06 09:14] f03ar1 commented on #296
Up.

Otherwise if someone knows how to make it work and explain (that can be understood by a mere mortal too, not only IT guys), I’d be grateful.
I read something about turning Safari off and removing other browsers, but I would actually like to keep access to other apps, maybe there’s a solution that doesn’t include that step?

Thanks.

[2022-03-08 09:48] OliverDWelle opened #376 "Deutsche Welle v3 Onion URL for Landingpage"
We would very much appreciate it if we could also be listed on the landing page with our Onion Service. Deutsche Welle is blocked in Russia and other countries.

https://www.dwnewsgngmhlplxy6o2twtfgjnrnjxbegbwqx6wnotdhkzt562tszfid.onion

Many Thanks
Oliver Linow from DW

[2022-03-08 11:27] tladesignz commented on #376
Wonderful! Sure do!

Please note:
- You will only show up on a fresh install. We don't inject bookmarks in user's existing bookmarks.
- Next release might take a while. We just released 2.7.8.

[2022-03-08 11:27] #376 closed, assigned to tladesignz

[2022-03-08 14:33] OliverDWelle commented on #376
Great, many thanks!

[2022-03-15 16:22] n8fr8 opened #378 "support new tor work on bridge:// uri"
Tor Bridge URI RFC proposal: bridge:// URIs: proposal&what apps on Android are already doing https://gitlab.torproject.org/tpo/applications/team/-/wikis/Design-Documents/Bridge-URI-RFC
related to https://gitlab.torproject.org/tpo/applications/fenix/-/issues/40189 ticket

[2022-03-15 16:23] n8fr8 commented on #378
Need to think about how Orbot, OnionShare and Onion Browser can handle these if all installed on one device - may need a way to paste in a bridge URI into a box

[2022-03-26 18:15] iAecoo opened #379 "Long loading time when switching between iPhone X 15.3.1 apps"
https://user-images.githubusercontent.com/102431787/160252241-6e0916f8-0a5d-4a30-8d61-00201b4fdf27.MOV

When switching between applications, the browser takes a very long time to load. This is not observed in other applications. One browser may have just been opened and not have any tabs open, but the download is still long

[2022-03-29 12:02] tladesignz commented on #379
Yeah, sorry, this is well known. When the app is backgrounded, it's really halted. I.e. it doesn't get any more processor time. We need to stop Tor before that happens and later restart it when the app comes into foreground again. If you're in a censored environment, that may make it extra-slow.

There's a Onion Browser 3 on the horizon, which will work completely differently under the hood and wh

[2022-03-29 12:02] #379 closed, assigned to nobody

[2022-04-01 18:47] dme1sc opened #380 "CA Cert in iOS 12 ipad and Onion Browser"
Hi, I have an iPad that has a CA cert installed.  I can access the .onion address just fine with the Onion browser app but the CA cert is to allow a certified connection to a .local address,  When I try to go to the .local address, it fails with an error:  bad url 1000 domain NSURL Error Domain.  I can reach this .local address using a firefox browser on a PC with the CA cert installed in it.  Do

[2022-04-04 21:37] amadejpapez commented on #364
With 2.7.9 there still appear to be small white spaces on sides.

![image](https://user-images.githubusercontent.com/63184600/161636383-9312ce2d-6e81-4401-bc47-4aea07f3f900.jpeg)

[2022-04-05 08:58] tladesignz commented on #380
Hi! No, Onion Browser cannot access `.local` addresses. When you connect through Tor, you connect through a chain (also called a "circuit") of 3 servers (also called "nodes") to the outside world. The last node is the "exit node". That's the one who does the actual connection to the target server for you. Since that server is out on the open internet, it **cannot** reach back into your own private

[2022-04-05 08:58] #380 closed, assigned to nobody

[2022-04-05 09:25] tladesignz commented on #364
Thank you for being so persistent! After some more digging, I realized, the icon files still had these two light borders on the top and left. Almost undetectable on light backgrounds and with graphics tools which always draw a border around the selected image layer. Grmpf.

[2022-04-05 09:25] #364 closed, assigned to tladesignz

[2022-04-05 09:50] amadejpapez commented on #364
I specifically checked for this when I saw the new update haha. Although the icon was better, I still wanted to report so this can get fully resolved. Thank you for updating it so quickly!

[2022-04-05 15:14] tladesignz opened #381 "Review features for v3"

[2022-04-05 15:48] tladesignz commented on #381
List of features potentially impacted by a change to Orbot as Tor provider:

- Onboarding:
  -  "Connect to Tor" button
  - Slideshow while Tor starts
- Security:
  - Content Policy: This is done by mangling the HTTP Content-Security-Policy-Header of a webpage before pushing it into the web view, probably not possible anymore
  - WebRTC: Suppressing this never fully worked. Should be removed.
  -

[2022-04-05 17:09] tladesignz commented on #381
@cstiens, @n8fr8 let's set up a meeting to talk about this!

[2022-04-06 18:46] glomeg132 opened #382 "Can’t open onion page of taz.de – Onion-Location redirect too greedy"
I can’t open the onion page of German newspaper taz.de. The address is http://zervmwoc5flabhlh3heegnspbpoebbgr3kgkaarkpnz2gtsuunlxgqyd.onion/

Opening the onion page shows the source code of the page. It does work with Tor on Android.

[2022-04-07 11:00] tladesignz commented on #382
Very interesting. Thanks for bringing this to our attention!

TL;DR: Disable "Follow Onion-Location Header automatically" in Settings -> Default Security, to stop this behaviour.

The root cause is, that the taz uses Piwik aka. Matomo. The main HTML page contains JavaScript which initializes Matomo to the hard-coded `taz.de` domain and tries to load a script from there.

That script has an `Onion-

[2022-04-07 11:12] tladesignz commented on #382
You could also set up a "Custom Site Security" entry for `taz.de` where you disable "Follow Onion-Location Header automatically" to limit this workaround for just this site.

I already fixed the behaviour in `Onion Browser`: In the future, it will only redirect, if the header is served with the main document. Next release probably in a few weeks!

[2022-04-07 11:19] tladesignz commented on #382
Just informed taz.de about this.

[2022-04-07 11:19] #382 closed, assigned to tladesignz

[2022-04-07 18:01] n8fr8 commented on #381
List of features potentially impacted by a change to Orbot as Tor provider:

- Onboarding:
  -  "Connect to Tor" button
  -- if external, need some kind of "activate Orbot"
-- onboarding will completely change since Tor setup/start is in Orbot
-- allow app to start Orbot via custom URI; test if URI scheme is handled or not
-- HTTP local server API: report status, perphaps local SOCKS and HTTP port

[2022-04-07 18:01] ghost opened #383 "Onion Browser with Orbot not conecting."
While using the Onion Browser for iOS It's unable to connect if we have Orbot enabled.

Edit:
Wops I should have read the other issues before posting.

[2022-04-07 18:04] ghost commented on #381
Thanks for Informing us

[2022-04-07 18:24] n8fr8 commented on #383
Good to report this however. We are trying to improve the interop between the two apps.

[2022-04-08 15:06] tladesignz commented on #383
If you're using an Obfs4 bridge, it will actually work, though... :-)

[2022-04-25 20:05] givememulch opened #384 "Error Code -1005"
I was trying to go onto an onion link after ages and got this error, like after a second of pressing search it just pops up with the error. And I’m currently on IOS.

[2022-04-26 12:26] kn0wmad opened #385 "[feat] Clear Cache"
Was working with a user that could not access an onion site that was known to be online.  A blank white page came up, suggesting perhaps a caching issue?  Lowered security settings to lowest, rebooted phone, reinstalled app, turned off VPN, and the problem persisted.  Another iOS Tor Browser showed the onionsite as live on the same device.  Trying another known live onionsite produced an all black

[2022-04-26 15:19] tladesignz commented on #385
Would be great if you could share the addresses, so we could debug the problem.

Anyhow, there already is what you request, partly at least and quite hidden, I have to admit:

-> Settings
-> Cookies and Local Storage
-> Cookies and Local Storage
-> Remove All Local Storage

Besides, that, Onion Browser really doesn't store anything more.

The `UIWebView` does cache stuff, though, that's true, and

[2022-04-26 15:30] tladesignz commented on #384
This code means "The network connection was lost."

A quick search on the net gives the impression, that this error happens a lot in conjunction with misconfigured firewalls and VPNs. Might be on your side or on the exit node's side.

*Also*, this is what you will get, when you try to connect to an onion service which is secured with an auth cookie (aka. a key).
This is why you will see the error

[2022-04-26 15:30] #384 closed, assigned to nobody

[2022-04-26 20:57] kn0wmad commented on #385
Here's one of the test pages: privacy34kn4ez3y3nijweec6w4g54i3g54sdv7r5mr6soma3w4begyd.onion/

I'll have the user give that a try, thanks for the snappy response

[2022-04-27 15:44] kn0wmad commented on #385
Apparently the user had already tried this multiple times.  Any other ideas or insights would be helpful

[2022-04-28 09:09] tladesignz commented on #385
Looking good to me. No special settings.

I'm afraid, there's some other issue outside Onion Browser involved.
Check your exit nodes. You might want to fix them to a better country like US, DE, GB etc.

Settings -> Advanced Tor Configuration

Add 2 Lines:

[code]
See https://2019.www.torproject.org/docs/tor-manual.html.en#ExitNodes

Not sure, if that solves it, though. Could also be a server-side

[2022-04-30 12:36] SUICIDEB0YS opened #386 "How to change Tor nodes?"
Hi I want to know how to change the Tor nodes in the Onion Browser like it's done here on the desktop version: https://www.wikihow.com/Set-a-Specific-Country-in-a-Tor-Browser

Thanks!

[2022-04-30 13:35] tladesignz commented on #386
Incidentally, I just explained it here 2 days ago: https://github.com/OnionBrowser/OnionBrowser/issues/385#issuecomment-1111952210

Hth!

[2022-04-30 13:35] #386 closed, assigned to nobody

[2022-04-30 15:12] VectorABC opened #387 "Toolbar Blues"
The bottom toolbar required to access tabs hides itself and there’s no way to get it back except to scroll way back to the top of an often very long forum thread. On the Dread site and I assume others, the browser lacks any inertial scrolling so scrolling is always 1:1 and thus laborious. Since I can’t set a font size either, some forum threads collapse into one a few characters as they become rep

[2022-05-02 15:13] OliverDWelle commented on #376
Could we update the DW app logo, because the current button is in our old design? I just need to know the resolution and format and I would send it to someone or in this conversation. Many Thanks! Oliver

[2022-05-02 15:14] tladesignz commented on #387
That is strange, as, when I just do a tiny movement upwards, the bottom toolbar typically reappears immediately.

Can you give some more circumstances, so we can identify the conditions for your edge case properly?

I'm afraid, we can't do anything about that. The Website is displayed inside a [`UIWebView`](https://developer.apple.com/documentation/uikit/uiwebview) which is beyond our control. *Ev

[2022-05-02 15:20] tladesignz commented on #376
The icon is loaded from your website. It will be populated, if it's not found in cache.

You'll need to make sure that all icon references are good there. We use a library which somewhat dynamically decides for the best icon reference (There's the apple-app-icon, the favicon and some more, I think...)

Then, if you want to see it updated on a specific device, you will need to kill the icon cache.

[2022-05-11 03:05] ghost opened #389 ""Follow Onion-Location Header Automatically" is not remembered"
In default security page, if I turn off "Follow Onion-Location Header Automatically",
it will always be on when the browser is restarted.

[2022-05-11 19:08] omash03 opened #390 "[Feature Request] Custom Search engines"
Allow users to add custom search engines.

I run my own SearX instance and would like to set it as my default search engine, I think this would be a good feature, considering most other browsers support adding search engines.

[2022-05-13 11:52] tladesignz commented on #389
Oh man, what was I thinking there? Sorry for this inconvenience. Fixed in next release.

[2022-05-13 11:52] #389 closed, assigned to tladesignz

[2022-05-13 23:28] iAecoo commented on #379
I want to suggest adding the removal of browser windows by swipe to the
left, similar to Safari.

It often happens that it is not possible to get into the small cross and
the window that I planned to close opens. If there are a lot of windows, it
turns out to be very inconvenient.

Also, sometimes open windows disappear from the list and appear only if you
open a new window and then you can select

[2022-05-14 11:38] tladesignz commented on #379
There is a swipe to the top implemented. You may want to use that in the meantime. I'll think about your suggestion to change it to whatever exactly Safari does. Thank you!

Yeah, I know. I'm also unhappy with that scene, but when I implemented this, it turned out, it's really a lot and hard work, to have all this working smoothly. E.g. in iOS there cannot be defined "landing zones" around buttons

[2022-05-19 13:52] aleff-github opened #391 "iOS App too high"
In the Onion Browser for iPhone screen, the above part undergoes the iOS "Back to Back" feature.
You should lower the maximum height by a few px otherwise some buttons become untouchable.

I have an iPhone 13.

![](https://i.ibb.co/FzhXCL9/photo-2022-05-19-15-48-59.jpg)

[2022-05-26 11:31] tladesignz commented on #391
Yeah, I know that this happens.

The only proper solution I currently see, though, is moving everything a little lower. That would mean ~10 (logical) pixels of whiteness just for this. I'm actually not prepared to give up even more screen estate for the top toolbar.

Especially, since I am still able to touch all buttons just fine. I guess others with bigger fingers might get problems there, but o

[2022-05-26 20:09] aleff-github commented on #391
oh no problem it isn't a lot relevant, I just sent you this issue but I didn't know that it is known, otherwise I wouldn't posted it. (:

[2022-05-30 12:23] tladesignz commented on #391
Don't worry. Thank you very much for getting in contact, anyway!

[2022-05-30 12:23] #391 closed, assigned to nobody

[2022-06-06 02:56] jeffjacobs69 opened #392 "Media Files Being Routed Though Tor?"
Hello,

Like another user has experienced even with VPN enabled, WebRTC was able to leak my real IP address along with my VPN IP address.
https://github.com/OnionBrowser/OnionBrowser/issues/112
https://twitter.com/pwnsdx/status/961413267028619264

This led me to investigate over what IP requests to media files inside of ```<video>``` and ```<audio>``` tags were using since that is supposed to leak

[2022-06-08 12:13] tladesignz commented on #392
Interesting. What device and OS version do you use?

Well, we *try* to catch as much traffic as possible from inside the  `UIWebView`. However, AFAIR, `<video>` and `<audio>` tags were handled by a media handler component, which was out of process and didn't honour our rerouting.

Apple could have changed that silently. Maybe even due to some security issue. Who knows.

Regarding the VPN: That's s

[2022-06-08 13:25] jeffjacobs69 commented on #392
iPhone XS Max IOS 15.5

Was media tested before to not have been routed through Tor?

[2022-06-09 12:04] tladesignz commented on #392
I think so, yes. That was before my time. @mtigas has more insight there.

[2022-06-09 16:12] mtigas commented on #392
Correct. Our present knowledge is that  multimedia via `<audio>` and `<video>` tags (or basically anything doing traffic via the native media player) would bypass Tor. Here's a very old comment that describes the situation: https://github.com/OnionBrowser/OnionBrowser/issues/30#issuecomment-21728543

Essentially, we use a `NSURLProtocol` handler that overrides HTTP+HTTPS and [forcibly proxies that

[2022-06-09 17:40] jeffjacobs69 commented on #392
Am I right in my assumption that they would have had to have changed it if video is able to play from a .onion source?  This would be impossible if it used a clear web connection.

Do you know why WebRTC leaks real IP address even while using a VPN as well?  Using VPN with regular Safari, WebRTC only leaks the VPN IP suggesting something specific to Onion Browser.

[2022-07-02 22:38] nika-maisashvili opened #393 "Crashing"
I have been using for a while now and now it keeps crashing can’t even open it, black screen and crash I tried reinstalling it , restarting the phone . Does anyone else have this problem

[2022-07-06 20:49] larry159 opened #394 "Cannot login to site on iPhone"
Onion browser on iPhone I go to login page no problem after entering credentials click login browser refreshes and switches IP addresses does so each time screen refreshes. Error connection error cannot reach site.

[2022-07-06 22:30] larry159 commented on #394
original connection to IP 185.220.101.38 after login server shows connection to 185.220.101.9 browser shows original IP, Same results on two different servers, several attempts version 2.8.0, same result using bridge or not.

[2022-07-06 22:54] larry159 commented on #394
When using the Onion Browser, Apache server logs show the browser logging on, collecting all of it's resources, images, CSS, JavaScript, etc., like:

berlin01.tor-exit.artikel10.org - - [06/Jul/2022:12:07:54 -0400] "GET /roundcube/program/resources/blank.webp HTTP/1.1" 200 7759 "https://mail.XXX.net/roundcube/?_task=mail&_mbox=INBOX" "Mozilla/5.0 (iPhone; CPU iPhone OS 15_5 like Mac OS X) AppleWeb

[2022-07-10 11:13] larry159 commented on #394
Solved problem by setting Custom Site Security to Content Policy, Open, Universal Link Protection , Off and User Agent to Tor Browser Mobile Android.

[2022-07-10 11:13] #394 closed, assigned to nobody

[2022-07-11 11:25] tladesignz commented on #393
Weird. Can you describe the circumstances in more detail?

- What OS version, which device? What network is used?
- Which region/country you're using it in?
- Which version did you install exactly? Official release from app store or a TestFlight?

[2022-07-11 11:33] tladesignz commented on #394
Universal Link Protection is a feature to keep you from jumping into an installed app, which has registered a certain domain you just tapped. Instead, you're kept inside Onion Browser. So this should make no difference.

Tor typically tries to keep using the same circuit for the same destination server, in order to not mess up sessions bound to an exit node IP address. So jumping circuits/exit nod

[2022-07-22 14:30] Gene-Dana opened #395 "Question: How to apply lessons learned from OnionBrowser to IPFS?"
HI there ! I was lead here from this inspiring discussion

https://discuss.ipfs.io/t/is-it-possible-to-create-an-ios-android-application-that-serves-as-an-ipfs-node/11957

We are seeking to run an IPFS node from our Flutter application, and I'd like to learn more about the development challenges that the OnionBrowser faced and how the team overcame them.

At the end of it all, any wisdom you can s

[2022-07-23 13:43] BsnerSa opened #396 "awaaawtm{}sp)-/'21jslkhz9p"

[2022-07-23 14:48] #396 closed, assigned to nobody

[2022-07-25 09:33] tladesignz commented on #395
Ok. Here is a brain dump from what I learned from Onion Browser, [Orbot iOS](https://github.com/guardianproject/orbot-ios), [OnionShare iOS](https://github.com/onionshare/onionshare-ios/) and [Save](https://github.com/OpenArchive/Save-app-ios/):

1. Here is some background knowledge about iOS processes, memory management and "Network Extensions":
https://benjaminerhart.com/2018/03/state-of-the-oni

[2022-07-28 14:20] Gene-Dana commented on #395
Wow this is awesome thank you so much ! You've greatly accelerated our progress ! When I have an update I can share it with you here ! Thank thank thank you !

[2022-07-28 14:20] #395 closed, assigned to n8fr8, tladesignz

[2022-07-28 15:39] tladesignz commented on #395
You're welcome!

Looking forward to  that!

Have a good time!

[2022-08-19 02:35] alemens opened #398 "Cannot connect with either without a bridge. Error: An SSL error has occurred and a secure connection to the server cannot be made."
Cannot connect with either without a bridge. Error: An SSL error has occurred and a secure connection to the server cannot be made.

See the screenshots below

![4402FF00-A95F-4B0E-9E34-92ED3EEC0465](https://user-images.githubusercontent.com/20490756/185530259-78d0f648-c88b-46dc-81e9-12a929cb7894.png)
![02B30119-68C2-465A-87FA-A3862FFAB481](https://user-images.githubusercontent.com/20490756/185530

[2022-08-19 18:24] tladesignz commented on #398
Can you disclose in which country/city/location you are?

[2022-08-27 14:29] alemens commented on #398
NYC

[2022-08-29 14:48] tladesignz commented on #398
New York City? And you're using your mobile operator, as it seems, not some WiFi?

Is your operator trying to interject your TLS connections? Hmmmmmmm.

@mtigas, @n8fr8, do you have any experience with US mobile network operators trying to interfere with TLS connections. Or connections to Tor-related stuff?

[2022-08-29 17:47] n8fr8 commented on #398
I had seen this problem a week ago myself, but now seems resolved. I think it may have been related to a certificate issue on Tor side for circumvention API or Moat.

[2022-08-29 19:33] tladesignz commented on #398
@alemens, can you confirm that it works now? Or does it still persist for you?

[2022-09-03 01:39] alemens commented on #398
@tladesignz via LTE it does not

[2022-09-03 16:16] tladesignz commented on #398
Well, then, if WiFi at home works but your LTE connection not, obviously your mobile ISP is trying to do something "clever". Could by they try to read your traffic to sell the learnings to ad target data aggregators, or could be you are on a plan which includes some Internet "security" offer.

Sorry, I can't come up with anything else to help you. Can we close this?

[2022-09-14 14:35] mattlikespie opened #399 "edit bookmarks crashes app"
tor 2.8.1, post-ios 16 upgrade, iPhone 13. updating URL in bookmarks crashes the application. seems to happen after the : in https://...

this happens for both existing and newly created bookmarks.

[2022-09-28 15:37] tladesignz commented on #399
Thank you for catching this! The fix will be contained in the next release, which might take a few more weeks.

[2022-09-28 15:37] #399 closed, assigned to tladesignz

[2022-09-29 11:01] tladesignz commented on #398
Closed due to no response.

[2022-09-29 11:01] #398 closed, assigned to nobody

[2022-09-29 11:02] tladesignz commented on #393
Closed due to no response.

[2022-09-29 11:02] #393 closed, assigned to nobody

[2022-09-29 11:06] tladesignz commented on #392
Sorry, forgot to answer this.
Unfortunately: no. No idea. And since, as explained, we're moving away to `WKWebView` and `NetworkExtension`, there's no good reason to spend time to investigate.

So I will close this. Sorry for not having a better answer and thanks a lot for bringing this to our attention!

[2022-09-29 11:06] #392 closed, assigned to nobody

[2022-10-04 20:19] mattlikespie commented on #399
Happy to help out with the small stuff! Thanks for the quick turn around!

[2022-10-12 00:13] EthanBnntt opened #400 "Add a button to the toolbar that temporarily blocks cookies."
It would be nice if there was a button that would prevent cookies from being sent over HTTP and prevent JavaScript from reading cookies.

[2022-10-12 11:15] tladesignz commented on #400
Interesting idea. Not sure how to achieve that, esp. not in the new `WKWebView` + Orbot iOS model we're moving to.

However, I'll keep this around, maybe we can spend some time on the idea.

[2022-10-12 14:02] EthanBnntt commented on #400
It is probably best to make this an extension.

[2022-10-31 10:03] ericswpark opened #402 "Screen restore from screenshot blocking "blur" too slow"
Whenever I leave Onion Browser or pull down the notification shade/control center, the screenshot blocking "blur" thing kicks in and obscures the browser. The trouble is when I return to the app the "restore" time is way too slow to be usable. This becomes increasingly annoying when you're referencing another app for some data to type in, or if you're pulling down the control center to change a se

[2022-10-31 10:04] ericswpark opened #403 "[Feature Request] Allow users to disable screenshot prevention protection"
From issue #402, it would be great if users (who know what they are doing) could disable the screenshot prevention protection. This could be some toggle in settings that is disabled by default.

[2022-11-03 16:22] tladesignz commented on #402
@ericswpark, thank you for your suggestions. However, it's not the screenshot disabling which is the problem.

Onion Browser needs to stop Tor before it goes in the background and restart it, when it returns. This is what delays the restart.

While I would have some ideas on how to improve that, I honestly don't want to change this anymore, since we're currently working on version 3, which will re

[2022-11-03 16:22] #402 closed, assigned to nobody

[2022-11-03 16:23] tladesignz commented on #403
See my comment, why this won't get implemented: https://github.com/OnionBrowser/OnionBrowser/issues/402#issuecomment-1302356589

[2022-11-04 00:20] ericswpark commented on #402
@tladesignz thank you for the explanation! I'll wait for the revamp of course.

[2022-11-04 00:22] ericswpark commented on #403
@tladesignz thanks, I've read your comment in the other thread.

While I do understand that the screenshot blocking is not the real reason behind the delay on resumption, it would still be great to have an option to disable the function, just like other apps that implement this feature. It could be useful if I need to reference data in Tor Browser while going through the app switcher. Can this fea

[2022-11-22 16:06] ehcorn opened #404 "Can't resume without force close"
Running 16.1.1 on a 12 mini fresh update, standard release. When I go to the home or switch to another app when I come back to onion it's blurry and unresponsive. Not sure if this is a feature or a bug, but I can't seem to find anything about it in settings.

[2022-11-22 16:29] yeyeyeyeyyeyeyeyey commented on #404
I think it is a bug.

On Tue, Nov 22, 2022 at 11:07 AM Aaron ***@***.***> wrote:

[2022-11-22 16:29] yeyeyeyeyyeyeyeyey commented on #404
I will see if I can fix it

On Tue, Nov 22, 2022 at 11:29 AM Isaac Kaboos ***@***.***> wrote:

[2022-11-30 13:10] tladesignz commented on #404
Not sure who's this yeyeye figure. This person/bot has nothing to do with this repo.

[2022-11-30 13:11] tladesignz commented on #404
@ehcorn, this behaviour is to be expected. When returning, Tor needs to be restarted, that takes a while. Sorry, but we won't improve anymore, because there's a new version on the horizon which leverages Orbot. Stay tuned!

[2022-11-30 13:11] #404 closed, assigned to nobody